<div class="grid p-4">
    <div class="col-6">
        <span class="p-float-label">
            <input pInputText class="border-0 max-w-full" [(ngModel)]="rightAscension" />
            <label>RA (J2000)</label>
        </span>
    </div>
    <div class="col-6">
        <span class="p-float-label">
            <input pInputText class="border-0 max-w-full" [(ngModel)]="declination" />
            <label>DEC (J2000)</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <p-inputNumber [min]="1" [max]="7680" class="w-full" [showButtons]="true" inputStyleClass="border-0 w-full"
                           [(ngModel)]="width" />
            <label>Width</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <p-inputNumber [min]="1" [max]="4320" class="w-full" [showButtons]="true" inputStyleClass="border-0 w-full"
                           [(ngModel)]="height" />
            <label>Height</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <p-inputNumber [min]="1" [max]="90" [step]="0.1" class="w-full" [showButtons]="true" inputStyleClass="border-0 w-full"
                           [(ngModel)]="fov" />
            <label>FOV (deg)</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <p-inputNumber [min]="0" [max]="360" [step]="0.1" class="w-full" [showButtons]="true" inputStyleClass="border-0 w-full"
                           [(ngModel)]="rotation" />
            <label>Rotation (deg)</label>
        </span>
    </div>
    <div class="col-6">
        <span class="p-float-label">
            <p-dropdown [options]="hipsSurveys" [(ngModel)]="hipsSurvey" optionLabel="id" emptyMessage="No HiPS survey found" />
            <label>HiPS Survey</label>
        </span>
    </div>
    <div class="col-12 text-center mt-2">
        <p-button [disabled]="loading" icon="mdi mdi-download" label="Load" (onClick)="frame()" styleClass="p-button-text" />
    </div>
    <div class="col-12 text-center">
        <span class="text-sm">Made use of <a target="_blank" href="https://alasky.cds.unistra.fr/hips-image-services/hips2fits">hips2fits</a>, a
            service provided by CDS.</span>
    </div>
</div>