<div class="flex flex-col gap-3 p-4">
	<div class="grid grid-cols-12 gap-3">
		<div class="col-span-full flex items-center gap-3">
			<neb-device-name
				[device]="rotator"
				class="flex-1" />
			@if (rotator.connected) {
				<neb-button
					[disabled]="rotator.moving"
					(action)="connect()"
					icon="mdi mdi-close"
					severity="danger"
					tooltip="Disconnect" />
			} @else {
				<neb-button
					[disabled]="rotator.moving"
					(action)="connect()"
					icon="mdi mdi-connection"
					severity="info"
					tooltip="Connect" />
			}
			<neb-button-indi [device]="rotator" />
		</div>
		<div class="col-span-full my-1 flex items-center !justify-start gap-1 pt-0 text-sm text-gray-400">
			<i class="mdi mdi-information text-blue-500"></i>
			<span style="display: contents">{{ rotator.moving ? 'moving' : 'idle' }}</span>
		</div>
	</div>
	<div class="grid grid-cols-12 gap-3">
		<div class="col-span-5">
			<neb-input-number
				label="Angle (°)"
				[readonly]="true"
				[(value)]="rotator.angle" />
		</div>
		<div class="col-span-2">
			<neb-button
				[disabled]="!rotator.connected || !rotator.moving || !canAbort"
				icon="mdi mdi-stop"
				severity="danger"
				tooltip="Abort"
				(action)="abort()" />
		</div>
		<div class="col-span-2">
			<neb-button
				[disabled]="!rotator.connected || !rotator.moving || !canHome"
				icon="mdi mdi-home"
				severity="info"
				tooltip="Home"
				(action)="home()" />
		</div>
		<div class="col-span-3">
			<neb-switch
				label="Reversed"
				[disabled]="!rotator.connected || rotator.moving || !canReverse"
				[(value)]="rotator.reversed"
				(valueChange)="reverse($event)" />
		</div>
		<div class="col-span-8">
			<neb-input-number
				label="Move"
				[disabled]="!rotator.connected"
				[step]="0.1"
				[min]="rotator.minAngle"
				[max]="rotator.maxAngle"
				[(value)]="angle"
				(valueChange)="savePreference()" />
		</div>
		<div class="col-span-2">
			<neb-button
				[disabled]="!rotator.connected || rotator.moving || !canSync"
				(action)="sync()"
				icon="mdi mdi-sync"
				severity="info"
				tooltip="Sync" />
		</div>
		<div class="col-span-2">
			<neb-button
				[disabled]="!rotator.connected || rotator.moving || preference.angle === rotator.angle || !canMove"
				(action)="move()"
				icon="mdi mdi-check"
				severity="success"
				tooltip="Move" />
		</div>
	</div>
	@if (canApply) {
		<div class="col-span-full">
			<neb-button
				[disabled]="!rotator.connected"
				label="Save"
				(action)="apply()"
				icon="mdi mdi-content-save"
				severity="info" />
		</div>
	}
</div>
