<div class="container px-4 py-3">
	<div class="flex items-center">
		<div class="w-full items-center gap-2">
			<neb-device-name [device]="rotator" />
			<p-button
				*ngIf="rotator.connected"
				[disabled]="rotator.moving"
				(onClick)="connect()"
				icon="mdi mdi-close"
				size="small"
				severity="danger"
				pTooltip="Disconnect"
				tooltipPosition="bottom"
				[text]="true" />
			<p-button
				*ngIf="!rotator.connected"
				[disabled]="rotator.moving"
				(onClick)="connect()"
				icon="mdi mdi-connection"
				size="small"
				severity="info"
				pTooltip="Connect"
				tooltipPosition="bottom"
				[text]="true" />
		</div>
		<div class="my-1 flex w-full items-center justify-between gap-1 pt-0 text-sm text-gray-400">
			<div class="flex items-center gap-1">
				<i class="mdi mdi-information text-info"></i>
				<span style="display: contents">{{ rotator.moving ? 'moving' : 'idle' }}</span>
			</div>
		</div>
	</div>
	<div class="mt-1 grid">
		<div class="w-1/2">
			<p-floatLabel>
				<p-inputNumber
					readonly
					styleClass="p-inputtext-sm border-0 max-w-full"
					[(ngModel)]="rotator.angle"
					locale="en"
					spinnableNumber />
				<label>Angle (°)</label>
			</p-floatLabel>
		</div>
		<div class="w-1/2 items-center justify-between gap-2 text-center">
			<p-button
				[disabled]="!rotator.connected || !rotator.moving || !canAbort"
				icon="mdi mdi-stop"
				[text]="true"
				severity="danger"
				size="small"
				pTooltip="Abort"
				tooltipPosition="bottom"
				(onClick)="abort()" />
			<p-button
				[disabled]="!rotator.connected || !rotator.moving || !canHome"
				icon="mdi mdi-home"
				[text]="true"
				severity="info"
				size="small"
				pTooltip="Home"
				tooltipPosition="bottom"
				(onClick)="home()" />
			<div class="flex flex-col items-center justify-center gap-2 text-center">
				<span class="text-xs text-gray-100">Reversed</span>
				<p-inputSwitch
					[disabled]="!rotator.connected || rotator.moving || !canReverse"
					(onChange)="reverse($event.checked)"
					[(ngModel)]="rotator.reversed" />
			</div>
		</div>
		<div class="flex w-full items-center gap-1">
			<p-floatLabel>
				<p-inputNumber
					[disabled]="!rotator.connected"
					[step]="0.1"
					[minFractionDigits]="1"
					[min]="rotator.minAngle"
					[max]="rotator.maxAngle"
					[showButtons]="true"
					styleClass="p-inputtext-sm border-0 max-w-full"
					[(ngModel)]="angle"
					(ngModelChange)="savePreference()"
					[allowEmpty]="false"
					locale="en"
					spinnableNumber />
				<label>Move</label>
			</p-floatLabel>
			<p-button
				[disabled]="!rotator.connected || rotator.moving || !canSync"
				(onClick)="sync()"
				icon="mdi mdi-sync"
				[text]="true"
				severity="info"
				size="small"
				pTooltip="Sync"
				tooltipPosition="bottom" />
			<p-button
				[disabled]="!rotator.connected || rotator.moving || preference.angle === rotator.angle || !canMove"
				(onClick)="move()"
				icon="mdi mdi-check"
				[text]="true"
				severity="success"
				size="small"
				pTooltip="Move"
				tooltipPosition="bottom" />
		</div>
	</div>
	<div
		class="mt-2 grid"
		*ngIf="canApply">
		<div class="flex w-full justify-center gap-2">
			<p-button
				[disabled]="!rotator.connected"
				label="Save"
				(onClick)="apply()"
				icon="mdi mdi-content-save"
				severity="info"
				size="small" />
		</div>
	</div>
</div>
