<div class="px-4 py-3">
	<div class="flex grid items-center">
		<div class="col-12 items-center gap-1">
			<neb-device-name [device]="rotator" />
			@if (rotator.connected) {
				<neb-button
					[disabled]="rotator.moving"
					(action)="connect()"
					icon="mdi mdi-close"
					severity="danger"
					tooltip="Disconnect" />
			} @else {
				<neb-button
					[disabled]="rotator.moving"
					(action)="connect()"
					icon="mdi mdi-connection"
					severity="info"
					tooltip="Connect" />
			}
			<neb-button-indi [device]="rotator" />
		</div>
		<div class="col-12 my-1 flex items-center justify-between gap-1 pt-0 text-sm text-gray-400">
			<div class="flex items-center gap-1">
				<i class="mdi mdi-information text-info"></i>
				<span style="display: contents">{{ rotator.moving ? 'moving' : 'idle' }}</span>
			</div>
		</div>
	</div>
	<div class="mt-1 grid">
		<div class="col-6">
			<neb-input-number
				label="Angle (°)"
				[readonly]="true"
				[(value)]="rotator.angle" />
		</div>
		<div class="col-6 items-center justify-between gap-2 text-center">
			<neb-button
				[disabled]="!rotator.connected || !rotator.moving || !canAbort"
				icon="mdi mdi-stop"
				severity="danger"
				tooltip="Abort"
				(action)="abort()" />
			<neb-button
				[disabled]="!rotator.connected || !rotator.moving || !canHome"
				icon="mdi mdi-home"
				severity="info"
				tooltip="Home"
				(action)="home()" />
			<div class="flex items-center justify-center text-center">
				<neb-switch
					label="Reversed"
					[disabled]="!rotator.connected || rotator.moving || !canReverse"
					[(value)]="rotator.reversed"
					(valueChange)="reverse($event)" />
			</div>
		</div>
		<div class="col-12 flex items-center gap-1">
			<neb-input-number
				label="Move"
				[disabled]="!rotator.connected"
				[step]="0.1"
				[min]="rotator.minAngle"
				[max]="rotator.maxAngle"
				[(value)]="angle"
				(valueChange)="savePreference()" />
			<neb-button
				[disabled]="!rotator.connected || rotator.moving || !canSync"
				(action)="sync()"
				icon="mdi mdi-sync"
				severity="info"
				tooltip="Sync" />
			<neb-button
				[disabled]="!rotator.connected || rotator.moving || preference.angle === rotator.angle || !canMove"
				(action)="move()"
				icon="mdi mdi-check"
				severity="success"
				tooltip="Move" />
		</div>
	</div>
	@if (canApply) {
		<div class="mt-2 grid">
			<div class="col-12 flex justify-center gap-2">
				<neb-button
					[disabled]="!rotator.connected"
					label="Save"
					(action)="apply()"
					icon="mdi mdi-content-save"
					severity="info" />
			</div>
		</div>
	}
</div>
