<div class="container px-4 py-3">
	<div class="grid">
		<div class="col-12 align-items-center justify-content-center gap-2">
			<neb-device-chooser
				title="CAMERA"
				icon="mdi mdi-camera-iris"
				[devices]="cameras"
				[(device)]="camera"
				(deviceChange)="cameraChanged()" />
			<neb-button
				[disabled]="!camera?.name || running"
				icon="mdi mdi-cog"
				(action)="showCameraDialog()"
				tooltip="Camera" />
			@if (tab === 0) {
				<neb-device-chooser
					title="MOUNT"
					icon="mdi mdi-telescope"
					[devices]="mounts"
					[(device)]="mount"
					(deviceChange)="mountChanged()" />
			} @else {
				<neb-device-chooser
					title="GUIDE OUTPUT"
					icon="mdi mdi-target"
					[devices]="guideOutputs"
					[(device)]="guideOutput"
					(deviceChange)="guideOutputChanged()" />
			}
		</div>
		<div class="col-12 justify-content-center align-items-center">
			<neb-camera-info
				[info]="cameraCaptureRequest"
				[hasType]="false" />
		</div>
		<div
			class="col-12 relative pt-0 text-sm text-gray-400 flex align-items-center mt-1 gap-1 text-sm"
			style="min-height: 25px">
			<neb-camera-exposure
				#cameraExposure
				[info]="status" />

			@if (method === 'TPPA') {
				<div
					class="absolute flex flex-row align-items-center gap-1"
					style="right: 8px; top: -2px">
					<neb-tag
						label="RA: {{ tppaResult.rightAscension }}"
						[severity]="tppaResult.failed ? 'danger' : 'info'" />
					<neb-tag
						label="DEC: {{ tppaResult.declination }}"
						[severity]="tppaResult.failed ? 'danger' : 'info'" />
				</div>
			}
		</div>
	</div>
	<div class="grid relative">
		<div class="col-12">
			<p-tabView [(activeIndex)]="tab">
				<p-tabPanel header="TPPA">
					<div class="grid mt-3">
						<div class="col-5 gap-2 align-items-center">
							<p-floatLabel class="w-full">
								<p-dropdown
									[options]="'PLATE_SOLVER' | dropdownOptions | enumDropdown"
									[(ngModel)]="tppaRequest.plateSolver.type"
									styleClass="p-inputtext-sm border-0"
									optionLabel="label"
									optionValue="value"
									[autoDisplayFirst]="false"
									(ngModelChange)="savePreference()" />
								<label>Plate Solver</label>
							</p-floatLabel>
						</div>
						<div class="col-4 align-items-center">
							<neb-input-number
								label="Step duration (s)"
								[min]="1"
								[max]="60"
								[(value)]="tppaRequest.stepDuration"
								(valueChange)="savePreference()" />
						</div>
						<div class="col-3 flex flex-column align-items-center justify-content-start">
							<p-floatLabel class="w-full">
								<p-dropdown
									[options]="'GUIDE_DIRECTION_WE' | dropdownOptions | enumDropdown"
									[(ngModel)]="tppaRequest.stepDirection"
									optionsLabel="label"
									optionsValue="value"
									styleClass="p-inputtext-sm border-0"
									[autoDisplayFirst]="false"
									(ngModelChange)="savePreference()" />
								<label>Direction</label>
							</p-floatLabel>
						</div>
						<div class="col-5 align-items-center">
							<p-floatLabel class="w-full">
								<p-dropdown
									[disabled]="!mount?.connected"
									[options]="mount?.slewRates"
									[(ngModel)]="tppaRequest.stepSpeed"
									styleClass="p-inputtext-sm border-0"
									optionLabel="label"
									optionValue="name"
									[autoDisplayFirst]="false"
									(ngModelChange)="savePreference()" />
								<label>Step speed</label>
							</p-floatLabel>
						</div>
						<div class="col-7 flex align-items-center justify-content-center text-center gap-2 text-sm">
							<neb-checkbox
								label="Stop tracking when done"
								[(value)]="tppaRequest.stopTrackingWhenDone"
								(valueChange)="savePreference()" />
						</div>
					</div>
					<div class="grid mt-2">
						<div class="col-4 flex flex-column align-items-center justify-content-center">
							<span class="font-bold">Azimuth</span>
							<span class="text-lg">{{ tppaResult.azimuthError }}</span>
							<span class="text-md">{{ tppaResult.azimuthErrorDirection }}</span>
						</div>
						<div class="col-4 flex flex-column align-items-center justify-content-center">
							<span class="font-bold">Altitude</span>
							<span class="text-lg">{{ tppaResult.altitudeError }}</span>
							<span class="text-md">{{ tppaResult.altitudeErrorDirection }}</span>
						</div>
						<div class="col-4 flex flex-column align-items-center justify-content-center">
							<span class="font-bold">Total</span>
							<span class="text-lg">{{ tppaResult.totalError }}</span>
						</div>
					</div>
					<div class="grid mt-2">
						<div class="col-12 flex align-items-center justify-content-center gap-1">
							@if (pausingOrPaused) {
								<neb-button
									[disabled]="status === 'PAUSING'"
									label="Unpause"
									(action)="tppaUnpause()"
									icon="mdi mdi-play"
									severity="success" />
							} @else if (!running) {
								<neb-button
									[disabled]="!camera || !camera.connected || !mount || !mount.connected || mount.parked || mount.parking || mount.slewing || running"
									label="Start"
									(action)="tppaStart()"
									icon="mdi mdi-play"
									severity="success" />
							} @else {
								<neb-button
									label="Pause"
									(action)="tppaPause()"
									icon="mdi mdi-pause"
									severity="info" />
							}
							<neb-button
								[disabled]="!camera || !camera.connected || !mount || !mount.connected || !running"
								label="Abort"
								(action)="tppaStop()"
								icon="mdi mdi-stop"
								severity="danger" />
							<neb-button
								[disabled]="!camera?.connected"
								(action)="openCameraImage()"
								icon="mdi mdi-image"
								class="ml-4"
								tooltip="View image"
								tooltipPosition="top" />
						</div>
					</div>
				</p-tabPanel>
				<p-tabPanel header="DARV">
					<div class="grid mt-3">
						<div class="col-4">
							<neb-input-number
								label="Initial pause (s)"
								[min]="1"
								[max]="60"
								[(value)]="darvRequest.capture.exposureDelay"
								(valueChange)="savePreference()" />
						</div>
						<div class="col-4">
							<neb-exposure-time
								[(exposureTime)]="darvRequest.capture.exposureTime"
								(exposureTimeChange)="savePreference()"
								[min]="1000000"
								[max]="600000000"
								[canExposureTimeUnit]="false"
								label="Drift for" />
						</div>
						<div class="col-4">
							<p-floatLabel class="w-full">
								<p-dropdown
									[options]="'HEMISPHERE' | dropdownOptions | enumDropdown"
									[(ngModel)]="preference.darvHemisphere"
									styleClass="p-inputtext-sm border-0"
									optionsLabel="label"
									optionsValue="value"
									[autoDisplayFirst]="false"
									(ngModelChange)="savePreference()" />
								<label>Hemisphere</label>
							</p-floatLabel>
						</div>
					</div>
					<div class="grid mt-2">
						<div class="col-12 flex align-items-center justify-content-center gap-1">
							<neb-button
								[disabled]="!camera || !camera.connected || !guideOutput || !guideOutput.connected || running"
								label="Start"
								(action)="darvStart()"
								icon="mdi mdi-play"
								severity="success" />
							<neb-button
								[disabled]="!camera || !camera.connected || !guideOutput || !guideOutput.connected || !running"
								label="Abort"
								(action)="darvStop()"
								icon="mdi mdi-stop"
								severity="danger" />
							<neb-button
								[disabled]="!camera?.connected"
								(action)="openCameraImage()"
								icon="mdi mdi-image"
								class="ml-4"
								tooltip="View image"
								tooltipPosition="top" />
						</div>
					</div>
				</p-tabPanel>
			</p-tabView>
		</div>
		<neb-button
			severity="info"
			icon="mdi mdi-information"
			class="absolute"
			[style]="{ right: '8px', top: '5px' }"
			(action)="tab === 0 ? tppaInfo.toggle($event) : darvInfo.toggle($event)" />

		<p-overlayPanel
			#tppaInfo
			[focusOnShow]="false"
			appendTo="body"
			[style]="{ maxWidth: '91vw' }">
			<div class="grid text-sm">
				<div class="col-12 flex-column justify-content-center px-0">
					<span>1. Choose step duration and speed so that the step size is at least 30 arcmin.</span>
					<span>2. Start TPPA and wait for the azimuth/altitude errors to be displayed.</span>
					<span>3. Repeatedly adjust the Azimuth/Altitude until their values get close to 0.</span>
				</div>
			</div>
		</p-overlayPanel>
		<p-overlayPanel
			#darvInfo
			[focusOnShow]="false"
			appendTo="body"
			[style]="{ maxWidth: '91vw' }">
			<div class="grid text-sm">
				<div class="col-12 flex-column justify-content-center px-0">
					<span>1. Locate a star near the south meridian and close to declination 0.</span>
					<span>2. Start DARV and wait for routine to complete.</span>
					<span>3. If you see V shaped track, adjust the Azimuth and repeat the step 2 till you get a line.</span>
					<span>4. Locate a star in the eastern or western horizon and close to declination 0.</span>
					<span>5. Start DARV and wait for routine to complete.</span>
					<span>6. If you see V shaped track, adjust the Altitude and repeat the step 5 till you get a line.</span>
					<span>7. Increase the drift time and repeat the step 1 to refine the alignment.</span>
				</div>
			</div>
		</p-overlayPanel>
	</div>
</div>
