root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 1000
tab_width = 4
trim_trailing_whitespace = true
ij_continuation_indent_size = 4
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_visual_guides =
ij_wrap_on_typing = false

[*.md]
trim_trailing_whitespace = false

[*.kt]
ij_kotlin_line_break_after_multiline_when_entry = false
ij_kotlin_variable_annotation_wrap = off
ij_kotlin_field_annotation_wrap = off
ij_kotlin_continuation_indent_size = 8
ij_kotlin_allow_trailing_comma = false
ij_kotlin_name_count_to_use_star_import = 999

[*.py]
ij_python_wrap_long_lines = false
ij_python_method_parameters_wrap = off

[{*.yml, *.yaml}]
ij_yaml_indent_size = 2
