* text eol=lf

# Linux start script should use lf
/gradlew        text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf

*.dat           binary
*.bsp           binary
*.bpc           binary
*.jar           binary
*.fits          binary
*.ttf           binary
*.xcf           binary
*.png           binary
*.db            binary
