<div class="container px-4 pt-1 pb-3">
    <div class="grid py-1 flex align-items-center">
        <p-tabView class="w-full">
            <p-tabPanel header="Capture" leftIcon="mdi mdi-camera-iris">
                <div class="grid mt-2">
                    <div class="col-3">
                        <span class="p-float-label">
                            <p-inputNumber [disabled]="running" [(ngModel)]="plan.initialDelay"
                                           mode="decimal" [showButtons]="true" [step]="1" [min]="0" [max]="60" locale="en"
                                           styleClass="p-inputtext-sm border-0" [allowEmpty]="false" (ngModelChange)="savePlan()" />
                            <label>Initial Delay (s)</label>
                        </span>
                    </div>
                    <div class="col-3">
                        <span class="p-float-label">
                            <p-dropdown [disabled]="running" [options]="captureModes" [(ngModel)]="plan.captureMode" [autoDisplayFirst]="false"
                                        styleClass="w-100 p-inputtext-sm border-0" emptyMessage="No mode found" (ngModelChange)="savePlan()" />
                            <label>Mode</label>
                        </span>
                    </div>
                    <div class="col-6 gap-2">
                        <span class="p-float-label">
                            <input type="text" pInputText class="p-inputtext-sm border-0 w-full" [(ngModel)]="plan.savePath"
                                   (ngModelChange)="savePlan()" />
                            <label>Path</label>
                        </span>
                        <p-button icon="mdi mdi-folder-open" size="small" (onClick)="chooseSavePath()" />
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Dither">
                <ng-template pTemplate="header">
                    <div class="flex gap-2 align-items-center">
                        <i class="icomoon random-dither"></i>
                        <span>Dither</span>
                        <p-checkbox [binary]="true" [disabled]="running" [(ngModel)]="plan.dither.enabled" (ngModelChange)="savePlan()" />
                    </div>
                </ng-template>
                <div class="grid mt-2">
                    <div class="col-2 flex align-items-center">
                        <p-checkbox [binary]="true" [disabled]="running || !plan.dither.enabled" label="RA only"
                                    [(ngModel)]="plan.dither.raOnly" (ngModelChange)="savePlan()" />
                    </div>
                    <div class="col-3 align-items-center">
                        <span class="p-float-label">
                            <p-inputNumber [disabled]="running || !plan.dither.enabled" [showButtons]="true"
                                           styleClass="border-0 p-inputtext-sm w-full" [min]="0.1" [max]="60" [(ngModel)]="plan.dither.amount"
                                           [step]="0.1" locale="en" [minFractionDigits]="1" (ngModelChange)="savePlan()" />
                            <label>Dither (px)</label>
                        </span>
                    </div>
                    <div class="col-3 align-items-center">
                        <span class="p-float-label">
                            <p-inputNumber [disabled]="running || !plan.dither.enabled" [showButtons]="true"
                                           styleClass="border-0 p-inputtext-sm w-full" [min]="1" [max]="1000"
                                           [(ngModel)]="plan.dither.afterExposures" [step]="1" (ngModelChange)="savePlan()" />
                            <label>After exposures</label>
                        </span>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Auto Focus">
                <ng-template pTemplate="header">
                    <div class="flex gap-2 align-items-center">
                        <i class="mdi mdi-image-filter-center-focus"></i>
                        <span>Auto Focus</span>
                        <p-checkbox [binary]="true" [disabled]="running" [(ngModel)]="plan.autoFocus.enabled" (ngModelChange)="savePlan()" />
                    </div>
                </ng-template>
                <div class="grid mt-2">
                    <div class="col-5">
                        <div class="grid">
                            <div class="col-5 flex align-items-center">
                                <p-checkbox [binary]="true" [disabled]="running || !plan.autoFocus.enabled" label="On start"
                                            [(ngModel)]="plan.autoFocus.onStart" (ngModelChange)="savePlan()" />
                            </div>
                            <div class="col-7 flex align-items-center">
                                <p-checkbox [binary]="true" [disabled]="running || !plan.autoFocus.enabled" label="On filter change"
                                            [(ngModel)]="plan.autoFocus.onFilterChange" (ngModelChange)="savePlan()" />
                            </div>
                        </div>
                    </div>
                    <div class="col-4 align-items-center gap-1">
                        <p-checkbox [binary]="true" [disabled]="running || !plan.autoFocus.enabled"
                                    [(ngModel)]="plan.autoFocus.afterElapsedTimeEnabled" (ngModelChange)="savePlan()" />
                        <span class="p-float-label">
                            <p-inputNumber [disabled]="running || !plan.autoFocus.afterElapsedTimeEnabled || !plan.autoFocus.enabled"
                                           [showButtons]="true" styleClass="border-0 p-inputtext-sm w-full" [min]="1" [max]="86400"
                                           [(ngModel)]="plan.autoFocus.afterElapsedTime" [step]="1" (ngModelChange)="savePlan()" />
                            <label>After elapsed time (s)</label>
                        </span>
                    </div>
                    <div class="col-3 align-items-center gap-1">
                        <p-checkbox [binary]="true" [disabled]="running || !plan.autoFocus.enabled"
                                    [(ngModel)]="plan.autoFocus.afterExposuresEnabled" (ngModelChange)="savePlan()" />
                        <span class="p-float-label">
                            <p-inputNumber [disabled]="running || !plan.autoFocus.afterExposuresEnabled || !plan.autoFocus.enabled"
                                           [showButtons]="true" styleClass="border-0 p-inputtext-sm w-full" [min]="1" [max]="1000"
                                           [(ngModel)]="plan.autoFocus.afterExposures" [step]="1" (ngModelChange)="savePlan()" />
                            <label>After exposures</label>
                        </span>
                    </div>
                    <div class="col-4 align-items-center gap-1">
                        <p-checkbox [binary]="true" [disabled]="running || !plan.autoFocus.enabled"
                                    [(ngModel)]="plan.autoFocus.afterTemperatureChangeEnabled" (ngModelChange)="savePlan()" />
                        <span class="p-float-label">
                            <p-inputNumber [disabled]="running || !plan.autoFocus.afterTemperatureChangeEnabled || !plan.autoFocus.enabled"
                                           [showButtons]="true" styleClass="border-0 p-inputtext-sm w-full" [min]="1" [max]="10"
                                           [(ngModel)]="plan.autoFocus.afterTemperatureChange" [step]="1" (ngModelChange)="savePlan()" />
                            <label>After temperature change (°C)</label>
                        </span>
                    </div>
                    <div class="col-4 align-items-center gap-1">
                        <p-checkbox [binary]="true" [disabled]="running || !plan.autoFocus.enabled"
                                    [(ngModel)]="plan.autoFocus.afterHFDIncreaseEnabled" (ngModelChange)="savePlan()" />
                        <span class="p-float-label">
                            <p-inputNumber [disabled]="running || !plan.autoFocus.afterHFDIncreaseEnabled || !plan.autoFocus.enabled"
                                           [showButtons]="true" styleClass="border-0 p-inputtext-sm w-full" [min]="1" [max]="1000"
                                           [(ngModel)]="plan.autoFocus.afterHFDIncrease" [step]="1" (ngModelChange)="savePlan()" />
                            <label>After HFD increase (%)</label>
                        </span>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="grid">
        <div class="col-4 align-items-center pt-4">
            <span class="p-float-label">
                <p-dropdown [disabled]="running" [options]="cameras" [autoDisplayFirst]="false"
                            [(ngModel)]="camera" optionLabel="name" styleClass="p-inputtext-sm border-0"
                            [style]="{'min-width': '131px'}" (ngModelChange)="updateEntriesFromCamera($event)"
                            emptyMessage="No camera found" />
                <label>Camera</label>
            </span>
        </div>
        <div class="col-4 align-items-center pt-4">
            <span class="p-float-label" *ngIf="wheels.length">
                <p-dropdown [disabled]="running" [options]="wheels" [(ngModel)]="wheel"
                            optionLabel="name" styleClass="p-inputtext-sm border-0" [autoDisplayFirst]="false"
                            emptyMessage="No filter wheel found" (ngModelChange)="updateEntriesFromWheel($event)" />
                <label>Filter Wheel</label>
            </span>
        </div>
        <div class="col-4 align-items-center pt-4">
            <span class="p-float-label" *ngIf="focusers.length">
                <p-dropdown [disabled]="running" [options]="focusers" [(ngModel)]="focuser" optionLabel="name" [autoDisplayFirst]="false"
                            styleClass="p-inputtext-sm border-0" emptyMessage="No focuser found" (ngModelChange)="updateEntriesFromFocuser($event)" />
                <label>Focuser</label>
            </span>
        </div>
    </div>
    <div class="grid mt-0">
        <div class="col-12 gap-1 justify-content-end">
            <ng-container *ngIf="event && running">
                <span class="bg-green-300 border-round-md p-1 text-gray-900 text-sm text-center" style="min-width: 62px"
                      pTooltip="Elapsed time" tooltipPosition="bottom">
                    <i class="mdi mdi-timer-sand-complete mdi-progress-indicator"></i> {{ event.elapsedTime | exposureTime }}
                </span>
                <span class="bg-green-300 border-round-md p-1 text-gray-900 text-sm text-center" style="min-width: 62px"
                      pTooltip="Remaining time" tooltipPosition="bottom">
                    <i class="mdi mdi-timer-sand mdi-progress-indicator"></i> {{ event.remainingTime | exposureTime }}
                </span>
                <span class="bg-green-300 border-round-md p-1 text-gray-900 text-sm text-center" style="min-width: 52px">
                    <i class="mdi mdi-percent mdi-progress-indicator"></i> {{ event.progress * 100 | number:'1.1-1' }}
                </span>
            </ng-container>
        </div>
    </div>
    <div class="grid mt-1 flex align-items-center">
        <p-scrollPanel class="w-full" [style]="{ width: '100%', height: 'calc(100vh - 168px)' }" cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let entry of plan.entries; index as i" class="col-12" cdkDrag>
                <p-card>
                    <ng-template pTemplate="header">
                        <div class="grid">
                            <div class="col-1 pb-1 align-items-center justify-content-center gap-2">
                                <span class="font-bold text-xl ml-3">#{{ i + 1 }}</span>
                            </div>
                            <div class="col pb-1 align-items-center gap-2">
                                <p-button [disabled]="running || !entry.enabled" icon="mdi mdi-camera-iris" label="Camera"
                                          [severity]="entry.camera?.connected ? 'info' : 'danger'" styleClass="px-2 py-1"
                                          (onClick)="showCameraDialog(entry)" />
                                <p-button [disabled]="running || !entry.enabled" icon="mdi mdi-palette" label="Filter Wheel"
                                          [severity]="entry.wheel?.connected ? 'info' : 'danger'" styleClass="px-2 py-1"
                                          (onClick)="showWheelDialog(entry)" />
                                <p-button [disabled]="running || !entry.enabled" icon="mdi mdi-image-filter-center-focus" label="Focuser"
                                          [severity]="entry.focuser?.connected ? 'info' : 'danger'" styleClass="px-2 py-1"
                                          (onClick)="showCameraDialog(entry)" />
                            </div>
                            <div class="col pb-1 pr-4 align-items-center justify-content-end gap-2">
                                <p-button [disabled]="running || plan.entries.length <= 1" [text]="true" [rounded]="true" icon="mdi mdi-delete"
                                          severity="danger" size=small pTooltip="Delete" tooltipPosition="bottom"
                                          (onClick)="deleteEntry(entry, i)" />

                                <p-button [disabled]="running" [text]="true" [rounded]="true" icon="mdi mdi-content-duplicate" severity="info"
                                          size=small pTooltip="Duplicate" tooltipPosition="bottom"
                                          (onClick)="duplicateEntry(entry, i)" />

                                <p-checkbox [binary]="true" [(ngModel)]="entry.enabled" (ngModelChange)="savePlan()" />
                            </div>
                        </div>
                    </ng-template>
                    <div class="grid">
                        <div class="col-12 pt-0 flex">
                            <div class="flex gap-1 align-items-center">
                                <p-tag [value]="entry.frameType" severity="success" />
                                <p-tag value="{{ entry.exposureAmount }} of {{ entry.exposureTime | exposureTime }}" severity="info" />
                                <p-tag value="DELAY: {{ entry.exposureDelay * 1000000 | exposureTime }}" />
                                <p-tag value="ROI: {{ entry.x }} {{ entry.y }} {{ entry.width }}x{{ entry.height }}" />
                                <p-tag value="BIN: {{ entry.binX }}x{{ entry.binY }}" />
                                <p-tag value="GAIN: {{ entry.gain }}" />
                                <p-tag value="OFFSET: {{ entry.offset }}" />
                                <p-tag value="FORMAT: {{ entry.frameFormat }}" />
                                <p-tag *ngIf="entry.filterPosition" value="FILTER: {{ entry.filterPosition }}" />
                            </div>
                        </div>
                        <div class="col-12 pt-0 text-sm text-gray-400 flex align-items-center my-1 gap-1 text-center text-sm"
                             style="min-height: 25px;">
                            <i class="mdi mdi-information text-blue-600"></i>
                            <span style="min-width: 44px" class="text-left mr-2">
                                {{ state[i] === 'SETTLING' ? 'settling' : state[i] === 'WAITING' ? 'waiting' : state[i] === 'EXPOSURING'
                                ? 'capturing' : 'idle' }}
                            </span>
                            <ng-container *ngIf="state[i]">
                                <span class="bg-orange-500 border-round-md p-1 text-gray-900" style="min-width: 58px">
                                    <i class="mdi mdi-counter mdi-progress-indicator"></i> {{ exposure[i].count }} of {{ capture[i].amount }}
                                </span>
                                <span class="bg-green-300 border-round-md p-1 text-gray-900" style="min-width: 62px"
                                      pTooltip="Elapsed time" tooltipPosition="bottom">
                                    <i class="mdi mdi-timer-sand-complete mdi-progress-indicator"></i> {{ capture[i].elapsedTime | exposureTime }}
                                </span>
                                <span class="bg-green-300 border-round-md p-1 text-gray-900" style="min-width: 62px"
                                      pTooltip="Remaining time" tooltipPosition="bottom">
                                    <i class="mdi mdi-timer-sand mdi-progress-indicator"></i> {{ capture[i].remainingTime | exposureTime }}
                                </span>
                                <span class="bg-green-300 border-round-md p-1 text-gray-900" style="min-width: 52px">
                                    <i class="mdi mdi-percent mdi-progress-indicator"></i> {{ capture[i].progress * 100 | number:'1.1-1' }}
                                </span>
                            </ng-container>
                            <ng-container *ngIf="state[i] === 'EXPOSURING'">
                                <span class="bg-cyan-300 border-round-md p-1 text-gray-900" style="min-width: 62px"
                                      pTooltip="Remaining time" tooltipPosition="bottom">
                                    <i class="mdi mdi-timer-sand mdi-progress-indicator"></i> {{ exposure[i].remainingTime | exposureTime }}
                                </span>
                                <span class="bg-cyan-300 border-round-md p-1 text-gray-900" style="min-width: 52px">
                                    <i class="mdi mdi-percent mdi-progress-indicator"></i> {{ exposure[i].progress * 100 | number:'1.1-1' }}
                                </span>
                            </ng-container>
                            <ng-container *ngIf="state[i] === 'WAITING'">
                                <span class="bg-purple-300 border-round-md p-1 text-gray-900" style="min-width: 62px"
                                      pTooltip="Remaining time" tooltipPosition="bottom">
                                    <i class="mdi mdi-timer-sand mdi-progress-indicator"></i> {{ wait[i].remainingTime | exposureTime }}
                                </span>
                                <span class="bg-purple-300 border-round-md p-1 text-gray-900" style="min-width: 52px">
                                    <i class="mdi mdi-percent mdi-progress-indicator"></i> {{ wait[i].progress * 100 | number:'1.1-1' }}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                </p-card>
            </div>
        </p-scrollPanel>
    </div>

    <div class="fixed" style="right: 16px; top: 54px;">
        <div class="grid">
            <div class="col-12 flex align-items-center justify-content-center gap-1">
                <p-button [disabled]="!canStart || running" label="Start" (onClick)="start()" icon="mdi mdi-play"
                          severity="success" />
                <p-button [disabled]="!canStart || !running" label="Abort" (onClick)="stop()" icon="mdi mdi-stop"
                          severity="danger" />
            </div>
        </div>
    </div>

    <p-button [disabled]="running || plan.entries.length > 32" [rounded]="true" icon="mdi mdi-plus" size="large" severity="success" (onClick)="add()"
              styleClass="fixed" [style]="{bottom: '16px', right: '16px'}" />
</div>