<div class="grid flex-1">
    <div class="col-12">
        <p-tabView [(activeIndex)]="tab" (activeIndexChange)="tabChanged()">
            <p-tabPanel header="Sun" [disabled]="refreshing">
                <div class="grid flex align-items-center justify-content-center">
                    <img #imageOfSun style="width: 194px">
                </div>
            </p-tabPanel>
            <p-tabPanel header="Moon" [disabled]="refreshing">
                <div class="grid flex align-items-center justify-content-center">
                    <img #imageOfMoon style="width: 194px">
                </div>
            </p-tabPanel>
            <p-tabPanel header="Planets" [disabled]="refreshing">
                <div class="grid flex align-items-center justify-content-center">
                    <p-table [value]="planets" class="planet" [(selection)]="planet" (selectionChange)="planetChanged()" selectionMode="single"
                             dataKey="code"
                             styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{ item.name }}</td>
                                <td>{{ item.type }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Minor Planets" [disabled]="refreshing">
                <div class="grid flex align-items-center justify-content-center">
                    <div class="col-9">
                        <input type="text" pInputText class="min-w-full" [(ngModel)]="minorPlanetSearchText"
                               pTooltip="Enter the IAU number, designation, name or SPK-ID for the object of interest." tooltipPosition="bottom" />
                    </div>
                    <div class="col-3">
                        <p-button [disabled]="minorPlanetSearchText.length < 3 || refreshing" (onClick)="searchMinorPlanet()" icon="mdi mdi-magnify"
                                  styleClass="p-button-success">
                            <span class=""></span>
                        </p-button>
                    </div>
                </div>
                <div class="grid flex align-items-center justify-content-center mt-2">
                    <p-table [value]="minorPlanet?.parameters ?? []" class="minorPlanet" styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Value</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.value }} {{ item.unit }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Stars" [disabled]="refreshing">
                <div class="grid flex align-items-center justify-content-center">
                    <div class="col-9">
                        <input type="text" pInputText class="min-w-full" [(ngModel)]="starSearchText" />
                    </div>
                    <div class="col-3">
                        <p-button [disabled]="refreshing" (onClick)="searchStar()" icon="mdi mdi-magnify" styleClass="p-button-info" />
                        <p-button [disabled]="refreshing" (onClick)="showStarFilterDialog = true" icon="mdi mdi-filter" styleClass="ml-1 p-button" />
                    </div>
                </div>
                <div class="grid flex align-items-center justify-content-center mt-2">
                    <p-table [value]="starItems" class="star" sortField="magnitude" [(selection)]="star" (selectionChange)="starChanged()"
                             selectionMode="single" dataKey="id"
                             styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="names">Name <p-sortIcon field="names" /></th>
                                <th pSortableColumn="type">Type <p-sortIcon field="type" /></th>
                                <th pSortableColumn="magnitude">Mag. <p-sortIcon field="magnitude" /></th>
                                <th pSortableColumn="constellation">Const. <p-sortIcon field="constellation" /></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{ item.names }}</td>
                                <td class="max-w-9rem text-overflow-clip overflow-hidden">{{ item.type }}</td>
                                <td class="text-center">{{ item.magnitude < 99 ? item.magnitude.toFixed(1) : '-' }}</td>
                                <td class="text-center">{{ item.constellation }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="DSOs" [disabled]="refreshing">
                <div class="grid flex align-items-center justify-content-center">
                    <div class="col-9">
                        <input type="text" pInputText class="min-w-full" [(ngModel)]="dsoSearchText" />
                    </div>
                    <div class="col-3">
                        <p-button [disabled]="refreshing" (onClick)="searchDSO()" icon="mdi mdi-magnify" styleClass="p-button-info" />
                        <p-button [disabled]="refreshing" (onClick)="showDSOFilterDialog = true" icon="mdi mdi-filter" styleClass="ml-1 p-button" />
                    </div>
                </div>
                <div class="grid flex align-items-center justify-content-center mt-2">
                    <p-table [value]="dsoItems" class="dso" sortField="magnitude" [(selection)]="dso" (selectionChange)="dsoChanged()"
                             selectionMode="single" dataKey="id"
                             styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="names">Name <p-sortIcon field="names" /></th>
                                <th pSortableColumn="type">Type <p-sortIcon field="type" /></th>
                                <th pSortableColumn="magnitude">Mag. <p-sortIcon field="magnitude" /></th>
                                <th pSortableColumn="constellation">Const. <p-sortIcon field="constellation" /></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{ item.names }}</td>
                                <td class="max-w-9rem text-overflow-clip overflow-hidden">{{ item.type }}</td>
                                <td class="text-center">{{ item.magnitude < 99 ? item.magnitude.toFixed(1) : '-' }}</td>
                                <td class="text-center">{{ item.constellation }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Settings" [disabled]="refreshing">
                <div class="grid flex align-items-center p-2">
                    <div class="col-8">
                        <span class="p-float-label">
                            <p-dropdown [options]="locations" [(ngModel)]="location" (ngModelChange)="locationChanged()" optionLabel="name"
                                        emptyMessage="No location found" />
                            <label>Location</label>
                        </span>
                    </div>
                    <div class="col-4">
                        <p-button [disabled]="refreshing" class="mr-1" (onClick)="addLocation()" icon="mdi mdi-plus" styleClass="p-button-success" />
                        <p-button [disabled]="refreshing" class="mr-1" (onClick)="editLocation()" icon="mdi mdi-pencil" styleClass="p-button-info" />
                        <p-button [disabled]="refreshing || locations.length <= 1" (onClick)="deleteLocation()" icon="mdi mdi-delete"
                                  styleClass="p-button-danger" />
                    </div>
                    <div class="col-12 font-bold pb-0">
                        Date & Time
                    </div>
                    <div class="col-12 flex align-items-center">
                        <span class="p-input-icon-left p-input-icon-right">
                            <span class="pi pi-calendar"></span>
                            <p-calendar [disabled]="!useManualDateTime" [(ngModel)]="dateTime" [showTime]="true"
                                        [showSeconds]="false" dateFormat="yy/mm/dd" inputStyleClass="pl-6" (ngModelChange)="dateTimeChanged()" />
                            <p-checkbox class="p-icon-wrapper" [binary]="true" [(ngModel)]="useManualDateTime"
                                        (ngModelChange)="useManualDateTimeChanged()" />
                        </span>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
<div class="grid px-2">
    <div class="col-12 flex align-items-center justify-content-center" style="height: 32px; max-height: 32px;">
        <span class="text-overflow-scroll">{{ name }}</span>
        <p-tag class="ml-1" *ngFor="let tag of tags" [severity]="tag.severity" [value]="tag.title" />
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <input readonly pInputText class="border-0 max-w-full" [value]="bodyPosition.rightAscensionJ2000" />
            <label>RA (J2000)</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <input readonly pInputText class="border-0 max-w-full" [value]="bodyPosition.declinationJ2000" />
            <label>DEC (J2000)</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <input readonly pInputText class="border-0 max-w-full" [value]="bodyPosition.rightAscension" />
            <label>RA</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <input readonly pInputText class="border-0 max-w-full" [value]="bodyPosition.declination" />
            <label>DEC</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <input readonly pInputText class="border-0 max-w-full" [value]="bodyPosition.azimuth" />
            <label>Azimuth</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <input readonly pInputText class="border-0 max-w-full" [value]="bodyPosition.altitude" />
            <label>Altitude</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <input readonly pInputText class="border-0 max-w-full"
                   [value]="bodyPosition.magnitude < 99 ? bodyPosition.magnitude.toFixed(2) : '-'" />
            <label>Magnitude</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <input readonly pInputText class="border-0 max-w-full" [value]="bodyPosition.constellation" />
            <label>Constellation</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <input readonly pInputText class="border-0 max-w-full" [value]="bodyPosition.distance" />
            <label>Distance ({{ bodyPosition.distanceUnit }})</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <input readonly pInputText class="border-0 max-w-full" [value]="bodyPosition.illuminated" />
            <label>Illuminated (%)</label>
        </span>
    </div>
    <div class="col-3">
        <span class="p-float-label">
            <input readonly pInputText class="border-0 max-w-full" [value]="bodyPosition.elongation" />
            <label>Elongation (°)</label>
        </span>
    </div>
    <div class="col-3 flex justify-content-center">
        <p-menu #positionMenu [model]="bodyPositionMenuItems" [popup]="true"></p-menu>
        <p-button icon="mdi mdi-lg mdi-dots-vertical" (click)="positionMenu.toggle($event)" styleClass="p-button-rounded p-button-text" />
    </div>
    <div class="col-12">
        <p-chart #chart [data]="altitudeData" [responsive]="true" [options]="altitudeOptions" />
    </div>
</div>

<p-dialog header="Minor Planets" [modal]="true" [(visible)]="showMinorPlanetChoiceDialog" [style]="{width: '80vw'}">
    <div class="grid p-2">
        <p-listbox [options]="minorPlanetChoiceItems" (onChange)="minorPlanetChoosen($event)" [filter]="true" optionLabel="name"
                   [listStyle]="{ 'max-height': '250px' }"
                   class="w-full" />
    </div>
</p-dialog>

<p-dialog header="Star Filter" [draggable]="false" [(visible)]="showStarFilterDialog" [modal]="true" [style]="{width: '80vw'}">
    <div class="grid mt-2">
        <div class="col-4">
            <span class="p-float-label">
                <input pInputText class="border-0 max-w-full" [value]="starFilterRA" />
                <label>RA (h)</label>
            </span>
        </div>
        <div class="col-4">
            <span class="p-float-label">
                <input pInputText class="border-0 max-w-full" [value]="starFilterDEC" />
                <label>DEC (deg)</label>
            </span>
        </div>
        <div class="col-4">
            <span class="p-float-label">
                <p-inputNumber [min]="0" [max]="90" class="w-full" [showButtons]="true" inputStyleClass="border-0 w-full"
                               [(ngModel)]="starFilterRadius" />
                <label>Radius (deg)</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-dropdown [options]="constellationOptions" [(ngModel)]="starFilterConstellation" optionLabel="name"
                            optionValue="value" appendTo="body" styleClass="border-0" />
                <label>Constellation</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-dropdown [options]="starFilterTypeOptions" [(ngModel)]="starFilterType" optionLabel="name" optionValue="value"
                            appendTo="body" styleClass="border-0" />
                <label>Type</label>
            </span>
        </div>
        <div class="col-12">
            <p>Magnitude min: {{ starFilterMagnitude[0] }} max: {{ starFilterMagnitude[1] }}</p>
            <p-slider class="mt-3" [min]="-30" [max]="30" styleClass="mx-2" [(ngModel)]="starFilterMagnitude" [range]="true" />
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="mdi mdi-filter" label="Filter" (onClick)="filterStar()" styleClass="p-button-text" />
    </ng-template>
</p-dialog>

<p-dialog header="DSO Filter" [draggable]="false" [(visible)]="showDSOFilterDialog" [modal]="true" [style]="{width: '80vw'}">
    <div class="grid mt-2">
        <div class="col-4">
            <span class="p-float-label">
                <input pInputText class="border-0 max-w-full" [value]="dsoFilterRA" />
                <label>RA (h)</label>
            </span>
        </div>
        <div class="col-4">
            <span class="p-float-label">
                <input pInputText class="border-0 max-w-full" [value]="dsoFilterDEC" />
                <label>DEC (deg)</label>
            </span>
        </div>
        <div class="col-4">
            <span class="p-float-label">
                <p-inputNumber [min]="0" [max]="90" class="w-full" [showButtons]="true" inputStyleClass="border-0 w-full"
                               [(ngModel)]="dsoFilterRadius" />
                <label>Radius (deg)</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-dropdown [options]="constellationOptions" [(ngModel)]="dsoFilterConstellation" optionLabel="name"
                            optionValue="value" appendTo="body" styleClass="border-0" />
                <label>Constellation</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-dropdown [options]="dsoFilterTypeOptions" [(ngModel)]="dsoFilterType" optionLabel="name" optionValue="value"
                            appendTo="body" styleClass="border-0" />
                <label>Type</label>
            </span>
        </div>
        <div class="col-12">
            <p>Magnitude min: {{ dsoFilterMagnitude[0] }} max: {{ dsoFilterMagnitude[1] }}</p>
            <p-slider class="mt-3" [min]="-30" [max]="30" styleClass="mx-2" [(ngModel)]="dsoFilterMagnitude" [range]="true" />
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="mdi mdi-filter" label="Filter" (onClick)="filterDSO()" styleClass="p-button-text" />
    </ng-template>
</p-dialog>

<p-dialog header="Location" *ngIf="showLocationDialog" (onShow)="map.refresh()" [draggable]="false" [(visible)]="showLocationDialog" [modal]="true"
          [style]="{width: '80vw'}">
    <div class="grid">
        <div class="col-12 pt-3">
            <span class="p-float-label">
                <input pInputText class="border-0 w-full" [(ngModel)]="editedLocation.name" />
                <label>Name</label>
            </span>
        </div>
        <div class="col-6 pt-3">
            <span class="p-float-label">
                <p-inputNumber locale="en" styleClass="border-0 w-full" [min]="-90" [max]="90" [maxFractionDigits]="5"
                               [(ngModel)]="editedLocation.latitude" [allowEmpty]="false" />
                <label>Latitude</label>
            </span>
        </div>
        <div class="col-6 pt-3">
            <span class="p-float-label">
                <p-inputNumber locale="en" styleClass="border-0 w-full" [min]="-180" [max]="180" [maxFractionDigits]="5"
                               [(ngModel)]="editedLocation.longitude" [allowEmpty]="false" />
                <label>Longitude</label>
            </span>
        </div>
        <div class="col-6 pt-3">
            <span class="p-float-label">
                <p-inputNumber locale="en" type="number" styleClass="border-0 w-full" [min]="-1000" [max]="10000"
                               [(ngModel)]="editedLocation.elevation" [allowEmpty]="false" />
                <label>Elevation (m)</label>
            </span>
        </div>
        <div class="col-6 pt-3">
            <span class="p-float-label">
                <p-inputNumber locale="en" type="number" styleClass="border-0 w-full" [min]="-720" [max]="720"
                               [(ngModel)]="editedLocation.offsetInMinutes" [allowEmpty]="false" />
                <label>UTC Offset (min)</label>
            </span>
        </div>
        <div class=col-12>
            <openstreetmap #map [(latitude)]="editedLocation.latitude" [(longitude)]="editedLocation.longitude" />
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button [disabled]="!editedLocation.name" icon="mdi mdi-check" label="OK" (onClick)="saveLocation()" styleClass="p-button-text" />
    </ng-template>
</p-dialog>