<div class="container px-4 py-3">
	<div class="grid">
		<div class="col-12 items-center justify-center gap-2">
			<neb-device-chooser
				title="CAMERA"
				icon="mdi mdi-camera-iris"
				[devices]="cameras"
				[(device)]="camera"
				(deviceChange)="cameraChanged()" />
			<neb-button
				[disabled]="!camera?.id || running"
				icon="mdi mdi-cog"
				(action)="showCameraDialog()"
				tooltip="Camera" />
			<neb-device-chooser
				title="FILTER WHEEL"
				icon="mdi mdi-palette"
				[devices]="wheels"
				[(device)]="wheel"
				(deviceChange)="wheelChanged()" />
		</div>
		<div class="col-12 items-center justify-center">
			<neb-camera-info
				[info]="request.capture"
				[hasExposure]="false"
				[hasType]="false" />
		</div>
		<div class="col-12 my-1 flex flex-col items-center gap-1 pb-1 pt-0 text-center text-sm text-xs text-gray-400">
			<neb-camera-exposure #cameraExposure />
		</div>
	</div>
	<div class="mt-2 grid">
		<div class="col-12">
			<neb-path-chooser
				key="flatWizardSaveFile"
				[disabled]="!camera?.connected || running"
				[directory]="true"
				[(path)]="request.capture.savePath"
				(pathChange)="savePreference()"
				class="w-full" />
		</div>
		<div class="col-6">
			<neb-input-number
				label="Min Exposure (ms)"
				[disabled]="!camera?.connected || running"
				[min]="1"
				[max]="60000"
				[(value)]="request.exposureMin"
				(valueChange)="savePreference()" />
		</div>
		<div class="col-6">
			<neb-input-number
				label="Max Exposure (ms)"
				[disabled]="!camera?.connected || running"
				[min]="request.exposureMin"
				[max]="60000"
				[(value)]="request.exposureMax"
				(valueChange)="savePreference()" />
		</div>
		<div class="col-6">
			<neb-input-number
				label="Mean Target ({{ meanTargetMin }} - {{ meanTargetMax }})"
				[disabled]="!camera?.connected || running"
				[min]="0"
				[max]="65535"
				[(value)]="request.meanTarget"
				(valueChange)="savePreference()" />
		</div>
		<div class="col-6">
			<neb-input-number
				label="Mean Tolerance (%)"
				[disabled]="!camera?.connected || running"
				[min]="0"
				[max]="100"
				[(value)]="request.meanTolerance"
				(valueChange)="savePreference()" />
		</div>
		<div class="col-12">
			<p-floatLabel class="w-full">
				<p-multiSelect
					[disabled]="!wheel?.connected || !filters.length || running"
					[options]="filters"
					[(ngModel)]="request.filters"
					optionLabel="name"
					optionValue="position"
					(ngModelChange)="savePreference()"
					[style]="{ minHeight: '45px' }"
					display="chip"
					[showClear]="true"
					[showToggleAll]="true"
					[maxSelectedLabels]="wheel?.count || 1"
					scrollHeight="105px" />
				<label>Filters</label>
			</p-floatLabel>
		</div>
	</div>
	<div class="mt-1 grid">
		<div class="col-12 flex items-center justify-center gap-1">
			<neb-button
				[disabled]="!camera?.connected || !request.capture.savePath || running"
				label="Start"
				(action)="start()"
				icon="mdi mdi-play"
				severity="success" />
			<neb-button
				[disabled]="!camera?.connected || !running"
				label="Abort"
				(action)="stop()"
				icon="mdi mdi-stop"
				severity="danger" />
		</div>
	</div>
</div>
