<div class="container px-4 py-3">
    <div class="grid">
        <div class="col-6 align-items-center gap-2">
            <span class="p-float-label device">
                <p-dropdown [disabled]="running" [options]="cameras" [(ngModel)]="camera" optionLabel="name" [autoDisplayFirst]="false"
                            styleClass="p-inputtext-sm border-0" (ngModelChange)="cameraChanged()" emptyMessage="No camera found" />
                <label>Camera</label>
            </span>
            <p-button [disabled]="!camera.name || running" icon="mdi mdi-cog" size="small" (onClick)="showCameraDialog()" />
        </div>
        <div class="col-6 align-items-center gap-2">
            <span class="p-float-label device">
                <p-dropdown [disabled]="running" [options]="wheels" [(ngModel)]="wheel" optionLabel="name" [autoDisplayFirst]="false"
                            styleClass="p-inputtext-sm border-0" (ngModelChange)="wheelChanged()" emptyMessage="No filter wheel found" />
                <label>Filter Wheel</label>
            </span>
            <p-button *ngIf="wheel?.connected" [disabled]="!wheel.name || running" (onClick)="wheelConnect()" icon="mdi mdi-close"
                      size="small" severity="danger" pTooltip="Disconnect" tooltipPosition="bottom" />
            <p-button *ngIf="!wheel?.connected" [disabled]="!wheel.name || running" (onClick)="wheelConnect()" icon="mdi mdi-connection"
                      size="small" severity="info" pTooltip="Connect" tooltipPosition="bottom" />
        </div>
        <div class="col-12 pt-0 pb-1 text-sm text-gray-400 flex align-items-center my-1 gap-1 text-center text-xs">
            <neb-camera-exposure #cameraExposure />
        </div>
    </div>
    <div class="grid mt-2">
        <div class="col-6">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || running" [(ngModel)]="request.exposureMin" mode="decimal"
                               [showButtons]="true" [step]="1.0" [min]="1" [max]="60000" locale="en"
                               styleClass="p-inputtext-sm border-0" [allowEmpty]="false" />
                <label>Min Exposure (ms)</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || running" [(ngModel)]="request.exposureMax" mode="decimal"
                               [showButtons]="true" [step]="1.0" [min]="request.exposureMin" [max]="60000" locale="en"
                               styleClass="p-inputtext-sm border-0" [allowEmpty]="false" />
                <label>Max Exposure (ms)</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || running" [(ngModel)]="request.meanTarget" mode="decimal"
                               [showButtons]="true" [step]="1.0" [min]="0" [max]="65535" locale="en"
                               styleClass="p-inputtext-sm border-0" [allowEmpty]="false" />
                <label>Mean Target ({{ meanTargetMin }} - {{ meanTargetMax }})</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || running" [(ngModel)]="request.meanTolerance" mode="decimal"
                               [showButtons]="true" [step]="1.0" [min]="0" [max]="100" locale="en"
                               styleClass="p-inputtext-sm border-0" [allowEmpty]="false" />
                <label>Mean Tolerance (%)</label>
            </span>
        </div>
        <div class="col-12">
            <span class="p-float-label">
                <p-multiSelect [disabled]="!wheel.connected || filters.length <= 0" [options]="filters" [(ngModel)]="selectedFilters"
                               optionLabel="name"
                               styleClass="border-0" [style]="{minHeight: '45px'}" display="chip" [showClear]="true" [showToggleAll]="true"
                               [maxSelectedLabels]="wheel.count" scrollHeight="105px" />
                <label>Filters</label>
            </span>
        </div>
    </div>
    <div class="grid mt-1">
        <div class="col-12 flex align-items-center justify-content-center gap-1">
            <p-button [disabled]="!camera.connected || running" label="Start" (onClick)="start()" icon="mdi mdi-play"
                      severity="success" size="small" />
            <p-button [disabled]="!camera.connected || !running" label="Abort" (onClick)="stop()" icon="mdi mdi-stop"
                      severity="danger" size="small" />
        </div>
    </div>
</div>