<p-button (onClick)="show()" severity="success" styleClass="p-button-sm">
    <div class="flex align-items-center gap-1">
        <i [class]="icon"></i>
        <div class="flex flex-column text-left gap-1px">
            <span class="font-bold text-sm">{{ title }}</span>
            @if (device && device.id) {
            <span class="text-xs font-normal">{{ device.name }}</span>
            } @else {
            <span class="text-xs font-normal">{{noDeviceMessage || 'Choose a device' }}</span>
            }
        </div>
    </div>
</p-button>

<neb-device-list-menu #deviceMenu [hasNone]="hasNone" [disableIfDeviceIsNotConnected]="false" />