:host {
    width: 100vw;
    height: 100vh;
    display: block;

    ::ng-deep {
        .p-menuitem-checked {
            background: #43a047;
        }
    }
}

img {
    image-rendering: pixelated;
}
