<div class="flex flex-col gap-3 p-4">
	<div class="grid grid-cols-12 gap-3">
		<div class="col-span-full flex items-center justify-center gap-2">
			<neb-device-chooser
				title="CAMERA"
				icon="mdi mdi-camera-iris"
				[devices]="cameras"
				[(device)]="camera"
				(deviceChange)="cameraChanged()" />
			<neb-button
				[disabled]="!camera?.name || running"
				icon="mdi mdi-cog"
				(action)="showCameraDialog()"
				tooltip="Camera" />
			<neb-device-chooser
				title="FOCUSER"
				icon="mdi mdi-target"
				[devices]="focusers"
				[(device)]="focuser"
				(deviceChange)="focuserChanged()" />
		</div>
		<div class="col-span-full">
			<neb-camera-info
				[info]="request.capture"
				[hasType]="false" />
		</div>
		<div class="col-span-full my-1 pt-0 pb-1 text-center text-xs text-gray-400">
			<neb-camera-exposure
				#cameraExposure
				[info]="status" />
		</div>
		<div class="col-span-3">
			<neb-input-text
				label="Position"
				[readonly]="true"
				[value]="focuser?.position ?? 0" />
		</div>
		<div class="col-span-3">
			<neb-input-text
				label="Star Count"
				[readonly]="true"
				[value]="starCount" />
		</div>
		<div class="col-span-3">
			<neb-input-text
				label="HFD"
				[readonly]="true"
				[value]="starHFD.toFixed(2)" />
		</div>
		<div class="col-span-full pt-0">
			<p-tabs value="0">
				<p-tablist>
					<p-tab value="0"><i class="mdi mdi-wrench"></i></p-tab>
					<p-tab value="1"><i class="mdi mdi-chart-bell-curve"></i></p-tab>
				</p-tablist>
				<p-tabpanels>
					<p-tabpanel value="0">
						<div class="mt-4 grid h-[140px] grid-cols-12 gap-3">
							<div class="col-span-4">
								<neb-input-number
									label="Step Size"
									[disabled]="!focuser?.connected"
									[min]="1"
									[max]="focuser?.maxPosition ?? 1"
									[(value)]="request.stepSize"
									(valueChange)="savePreference()" />
							</div>
							<div class="col-span-5">
								<neb-input-number
									label="Initial Offset Steps ({{ request.initialOffsetSteps * request.stepSize }})"
									[disabled]="!focuser?.connected"
									[min]="1"
									[max]="1000"
									[(value)]="request.initialOffsetSteps"
									(valueChange)="savePreference()" />
							</div>
							<div class="col-span-5">
								<neb-dropdown-enum
									label="Curve Fitting"
									[options]="'CURVE_FITTING_MODE' | dropdownOptions"
									[(value)]="request.fittingMode"
									(valueChange)="savePreference()" />
							</div>
							<div class="col-span-4">
								<neb-dropdown-enum
									label="Star Detector"
									[options]="'STAR_DETECTOR' | dropdownOptions"
									[(value)]="request.starDetector.type"
									(valueChange)="savePreference()" />
							</div>
							<div class="col-span-3">
								<neb-input-number
									label="R-Squared"
									[min]="0"
									[max]="1"
									[step]="0.1"
									[(value)]="request.rSquaredThreshold"
									(valueChange)="savePreference()" />
							</div>
							<div class="col-span-6">
								<neb-dropdown-enum
									label="Backlash Compensation"
									[options]="'BACKLASH_COMPENSATION_MODE' | dropdownOptions"
									[(value)]="request.backlashCompensation.mode"
									(valueChange)="savePreference()" />
							</div>
							<div class="col-span-3">
								<neb-input-number
									label="In"
									[disabled]="request.backlashCompensation.mode === 'NONE'"
									[min]="0"
									[max]="1000"
									[(value)]="request.backlashCompensation.backlashIn"
									(valueChange)="savePreference()" />
							</div>
							<div class="col-span-3">
								<neb-input-number
									label="Out"
									[disabled]="request.backlashCompensation.mode === 'NONE'"
									[min]="0"
									[max]="1000"
									[(value)]="request.backlashCompensation.backlashOut"
									(valueChange)="savePreference()" />
							</div>
						</div>
					</p-tabpanel>
					<p-tabpanel value="1">
						<div class="mt-1 w-full">
							<p-chart
								#chart
								width="100%"
								height="146px"
								[data]="chartData"
								[responsive]="true"
								[options]="chartOptions" />
						</div>
					</p-tabpanel>
				</p-tabpanels>
			</p-tabs>
		</div>
		<div class="col-span-full flex items-center justify-center gap-1">
			<neb-button
				[disabled]="!camera?.connected || !focuser?.connected || running"
				label="Start"
				(action)="start()"
				icon="mdi mdi-play"
				severity="success" />
			<neb-button
				[disabled]="!camera?.connected || !focuser?.connected || !running"
				label="Abort"
				(action)="stop()"
				icon="mdi mdi-stop"
				severity="danger" />
			<neb-button
				[disabled]="!camera?.connected"
				(action)="openCameraImage()"
				icon="mdi mdi-image"
				class="ml-4"
				tooltip="View image"
				tooltipPosition="top" />
		</div>
	</div>
</div>
