<div class="grid p-4">
    <div class="col-12 align-items-center justify-content-center gap-2">
        <neb-device-chooser title="CAMERA" icon="mdi mdi-camera-iris" [devices]="cameras" [(device)]="camera"
                            (deviceChange)="cameraChanged()" />
        <p-button [disabled]="!camera.name || running" icon="mdi mdi-cog" (onClick)="showCameraDialog()" size="small" />
        <neb-device-chooser title="FOCUSER" icon="mdi mdi-target" [devices]="focusers" [(device)]="focuser"
                            (deviceChange)="focuserChanged()" />
    </div>
</div>