/dist
/tmp
/out-tsc
/app-builds
/release
main.js
src/**/*.js
*.js.map

node_modules

.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
