<p-button
	(onClick)="show()"
	[text]="true"
	severity="success"
	size="small"
	[disabled]="disabled">
	<div class="flex items-center gap-1">
		<i [class]="icon"></i>
		<div class="gap-1px flex flex-col text-left">
			<span class="text-sm font-bold">{{ title }}</span>
			@if (device && device.id) {
				<span class="text-xs font-normal">{{ device.name }}</span>
			} @else {
				<span class="text-xs font-normal text-gray-600">{{ noDeviceMessage || 'Choose a device' }}</span>
			}
		</div>
	</div>
</p-button>

<neb-device-list-menu
	#deviceMenu
	[hasNone]="hasNone"
	[disableIfDeviceIsNotConnected]="false"
	[header]="title"
	(deviceConnect)="deviceConnected($event)"
	(deviceDisconnect)="deviceDisconnected($event)" />
