<div class="grid px-4 py-2 mt-1">
	<div class="col-6">
		<p-floatLabel>
			<input
				pInputText
				class="p-inputtext-sm border-0 w-full"
				[(ngModel)]="preference.rightAscension"
				(ngModelChange)="savePreference()" />
			<label>RA (J2000)</label>
		</p-floatLabel>
	</div>
	<div class="col-6">
		<p-floatLabel>
			<input
				pInputText
				class="p-inputtext-sm border-0 w-full"
				[(ngModel)]="preference.declination"
				(ngModelChange)="savePreference()" />
			<label>DEC (J2000)</label>
		</p-floatLabel>
	</div>
	<div class="col-6">
		<neb-input-number
			label="Width"
			[min]="1"
			[max]="7680"
			[(value)]="preference.width"
			(valueChange)="savePreference(); computeFOV()" />
	</div>
	<div class="col-6">
		<neb-input-number
			label="Height"
			[min]="1"
			[max]="4320"
			[(value)]="preference.height"
			(valueChange)="savePreference(); computeFOV()" />
	</div>
	<div class="col-6 flex-row gap-1">
		<neb-input-number
			label="FOV (°)"
			[min]="0.1"
			[max]="90"
			[step]="0.1"
			[(value)]="preference.fov"
			(valueChange)="savePreference()" />
		<p-button
			[text]="true"
			[rounded]="true"
			icon="mdi mdi-calculator"
			size="small"
			(onClick)="fov.showDialog = true"
			pTooltip="Calculate"
			tooltipPosition="bottom" />
	</div>
	<div class="col-6">
		<neb-input-number
			label="Rotation (°)"
			[min]="-360"
			[max]="360"
			[step]="0.1"
			[(value)]="preference.rotation"
			(valueChange)="savePreference()" />
	</div>
	<div class="col-12">
		<p-floatLabel class="w-full">
			<p-dropdown
				[options]="hipsSurveys"
				[(ngModel)]="preference.hipsSurvey"
				(ngModelChange)="savePreference()"
				styleClass="border-0"
				emptyMessage="No HiPS survey found"
				[autoDisplayFirst]="false">
				<ng-template
					let-item
					pTemplate="selectedItem">
					<div class="flex flex-column">
						<span class="text-xs">{{ item?.regime }} ({{ item?.skyFraction | percent: '1.1-1' }})</span>
						<span>{{ item?.id }}</span>
					</div>
				</ng-template>
				<ng-template
					let-item
					pTemplate="item">
					<div class="flex flex-column">
						<span class="text-xs">{{ item.regime }} ({{ item?.skyFraction | percent: '1.1-1' }})</span>
						<span>{{ item.id }}</span>
					</div>
				</ng-template>
			</p-dropdown>
			<label>HiPS Survey</label>
		</p-floatLabel>
	</div>
	<div class="col-12 justify-content-center mt-2">
		<p-button
			[disabled]="!preference.hipsSurvey || loading"
			icon="mdi mdi-download"
			label="Load"
			(onClick)="frame()"
			[text]="true"
			size="small" />
	</div>
	<div class="col-12 justify-content-center">
		<span class="text-sm text-gray-500">
			Made use of
			<a
				target="_blank"
				href="https://alasky.cds.unistra.fr/hips-image-services/hips2fits">
				hips2fits
			</a>
			, a service provided by CDS.
		</span>
	</div>
</div>

<p-dialog
	header="FOV"
	[draggable]="false"
	[(visible)]="fov.showDialog"
	[modal]="false"
	[style]="{ width: '80vw' }">
	<div class="grid mt-1">
		<div class="col-12 flex-column gap-3">
			<neb-input-number
				label="Focal length (mm)"
				[min]="0"
				[max]="10000"
				[(value)]="preference.focalLength"
				(valueChange)="computeFOV(false)" />
			<neb-input-number
				label="Pixel size (µm)"
				[min]="0"
				[max]="100"
				[step]="0.01"
				[fractionDigits]="2"
				[(value)]="preference.pixelSize"
				(valueChange)="computeFOV(false)" />
			<neb-checkbox
				label="Update FOV on width/height change"
				[(value)]="preference.updateFovOnChange"
				(valueChange)="savePreference()" />
		</div>
	</div>
	<ng-template pTemplate="footer">
		<div class="w-full flex justify-content-between align-items-center">
			<span class="flex-1 text-center font-bold text-lg">{{ fov.computed.toFixed(3) }}°</span>
			<p-button
				[text]="true"
				icon="mdi mdi-check"
				label="OK"
				size="small"
				(onClick)="computeFOV(true)" />
		</div>
	</ng-template>
</p-dialog>
