:host {
    display: flex;
    flex-direction: column;
    height: 100vh;

    p-table ::ng-deep .p-datatable-wrapper {
        max-height: 206px;
        min-width: 100vw;
    }

    p-table.planet ::ng-deep .p-datatable-wrapper {
        max-height: 206px;
    }

    p-table.minorPlanet ::ng-deep .p-datatable-wrapper {
        max-height: 169px;
    }

    p-table.star ::ng-deep .p-datatable-wrapper {
        max-height: 123px;
    }

    p-table.dso ::ng-deep .p-datatable-wrapper {
        max-height: 123px;
    }

    p-table.simbad ::ng-deep .p-datatable-wrapper {
        max-height: 123px;
    }

    p-table.satellite ::ng-deep .p-datatable-wrapper {
        max-height: 123px;
    }

    ::ng-deep {
        .main-tabs .p-tabview .p-tabview-nav li {
            width: 11.1111111% !important;

            .p-tabview-nav-link {
                display: flex;
                justify-content: center;
                padding: 0px;
                height: 100%;

                img {
                    height: 20px;
                }
            }
        }

        .p-tabview .p-tabview-left-icon {
            margin-right: 0px;
        }
    }
}

.p-input-icon-left span.pi:first-of-type {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    left: 0.75rem;
    z-index: 1;
}

.p-input-icon-right p-checkbox {
    margin-top: -0.745rem;
}