:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

p-table ::ng-deep .p-datatable-wrapper {
    max-height: 217px;
    min-width: 100vw;
}

p-table.planet ::ng-deep .p-datatable-wrapper {
    max-height: 217px;
}

p-table.minorPlanet ::ng-deep .p-datatable-wrapper {
    max-height: 169px;
}

p-table.star ::ng-deep .p-datatable-wrapper {
    max-height: 124px;
}

p-table.dso ::ng-deep .p-datatable-wrapper {
    max-height: 124px;
}

p-table.satellite ::ng-deep .p-datatable-wrapper {
    max-height: 124px;
}

.p-input-icon-left span.pi:first-of-type {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    left: 0.75rem;
    z-index: 1;
}

.p-input-icon-right p-checkbox {
    margin-top: -0.745rem;
}
