<div class="grid flex-1">
    <div class="col-12">
        <p-tabView [(activeIndex)]="tab" (activeIndexChange)="tabChanged()">
            <p-tabPanel header="Sun" [disabled]="refreshing">
                <ng-template pTemplate="header">
                    <img src="assets/icons/sun.png">
                </ng-template>
                <div class="grid flex align-items-center justify-content-center">
                    <img #imageOfSun style="width: 191px">
                </div>
            </p-tabPanel>
            <p-tabPanel header="Moon" [disabled]="refreshing">
                <ng-template pTemplate="header">
                    <img src="assets/icons/moon.png">
                </ng-template>
                <div class="grid flex align-items-center justify-content-center">
                    <moon [width]="187" [height]="187" [illuminationRatio]="moonIlluminated" [waning]="moonWaning" />
                </div>
            </p-tabPanel>
            <p-tabPanel header="Planets" [disabled]="refreshing">
                <ng-template pTemplate="header">
                    <img src="assets/icons/jupiter.png">
                </ng-template>
                <div class="grid flex align-items-center justify-content-center">
                    <p-table [value]="planets" class="planet" [(selection)]="planet" (selectionChange)="planetChanged()" selectionMode="single"
                             dataKey="code"
                             styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{ item.name }}</td>
                                <td>{{ item.type }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Minor Planets" [disabled]="refreshing">
                <ng-template pTemplate="header">
                    <img src="assets/icons/asteroid.png">
                </ng-template>
                <div class="grid flex align-items-center justify-content-center">
                    <div class="col-9">
                        <span class="p-float-label">
                            <input type="text" pInputText class="border-0 w-full" [(ngModel)]="minorPlanetSearchText"
                                   pTooltip="Enter the IAU number, designation, name or SPK-ID for the object of interest."
                                   tooltipPosition="bottom" />
                            <label>Search</label>
                        </span>
                    </div>
                    <div class="col-3">
                        <p-button [disabled]="minorPlanetSearchText.length < 3 || refreshing" (onClick)="searchMinorPlanet()" icon="mdi mdi-magnify"
                                  styleClass="p-button-success" />
                    </div>
                </div>
                <div class="grid flex align-items-center justify-content-center mt-2">
                    <p-table [value]="minorPlanet?.parameters ?? []" class="minorPlanet" styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Value</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.value }} {{ item.unit }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Stars" [disabled]="refreshing">
                <ng-template pTemplate="header">
                    <img src="assets/icons/stars.png">
                </ng-template>
                <div class="grid flex align-items-center justify-content-center">
                    <div class="col-9">
                        <span class="p-float-label">
                            <input type="text" pInputText class="border-0 w-full" [(ngModel)]="starSearchText" />
                            <label>Search</label>
                        </span>
                    </div>
                    <div class="col-3 flex align-items-center gap-1">
                        <p-button [disabled]="refreshing" (onClick)="searchStar()" icon="mdi mdi-magnify" styleClass="p-button-info" />
                        <p-button [disabled]="refreshing" (onClick)="showStarFilterDialog = true" icon="mdi mdi-filter" />
                    </div>
                </div>
                <div class="grid flex align-items-center justify-content-center mt-2">
                    <p-table [value]="starItems" class="star" sortField="magnitude" [(selection)]="star" (selectionChange)="starChanged()"
                             selectionMode="single" dataKey="id" styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="names">Name <p-sortIcon field="names" /></th>
                                <th pSortableColumn="type">Type <p-sortIcon field="type" /></th>
                                <th pSortableColumn="magnitude">Mag. <p-sortIcon field="magnitude" /></th>
                                <th pSortableColumn="constellation">Const. <p-sortIcon field="constellation" /></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{ item.names }}</td>
                                <td class="max-w-9rem text-overflow-clip overflow-hidden">{{ item.type | enum }}</td>
                                <td class="text-center">{{ item.magnitude < 99 ? item.magnitude.toFixed(1) : '-' }}</td>
                                <td class="text-center">{{ item.constellation }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="DSOs" [disabled]="refreshing">
                <ng-template pTemplate="header">
                    <img src="assets/icons/milky-way.png">
                </ng-template>
                <div class="grid flex align-items-center justify-content-center">
                    <div class="col-9">
                        <span class="p-float-label">
                            <input type="text" pInputText class="border-0 w-full" [(ngModel)]="dsoSearchText" />
                            <label>Search</label>
                        </span>
                    </div>
                    <div class="col-3 flex align-items-center gap-1">
                        <p-button [disabled]="refreshing" (onClick)="searchDSO()" icon="mdi mdi-magnify" styleClass="p-button-info" />
                        <p-button [disabled]="refreshing" (onClick)="showDSOFilterDialog = true" icon="mdi mdi-filter" />
                    </div>
                </div>
                <div class="grid flex align-items-center justify-content-center mt-2">
                    <p-table [value]="dsoItems" class="dso" sortField="magnitude" [(selection)]="dso" (selectionChange)="dsoChanged()"
                             selectionMode="single" dataKey="id" styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="names">Name <p-sortIcon field="names" /></th>
                                <th pSortableColumn="type">Type <p-sortIcon field="type" /></th>
                                <th pSortableColumn="magnitude">Mag. <p-sortIcon field="magnitude" /></th>
                                <th pSortableColumn="constellation">Const. <p-sortIcon field="constellation" /></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{ item.names }}</td>
                                <td class="max-w-9rem text-overflow-clip overflow-hidden">{{ item.type | enum }}</td>
                                <td class="text-center">{{ item.magnitude < 99 ? item.magnitude.toFixed(1) : '-' }}</td>
                                <td class="text-center">{{ item.constellation }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="TLEs" [disabled]="refreshing">
                <ng-template pTemplate="header">
                    <img src="assets/icons/satellite.png">
                </ng-template>
                <div class="grid flex align-items-center justify-content-center">
                    <div class="col-9">
                        <span class="p-float-label">
                            <input type="text" pInputText class="border-0 w-full" [(ngModel)]="satelliteSearchText" />
                            <label>Search</label>
                        </span>
                    </div>
                    <div class="col-3 flex align-items-center gap-1">
                        <p-button [disabled]="refreshing" (onClick)="searchSatellite()" icon="mdi mdi-magnify" styleClass="p-button-info" />
                    </div>
                </div>
                <div class="grid flex align-items-center justify-content-center mt-2">
                    <p-table [value]="satelliteItems" class="satellite" sortField="name" [(selection)]="satellite"
                             (selectionChange)="satelliteChanged()"
                             selectionMode="single" dataKey="id" styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">NORAD ID<p-sortIcon field="id" /></th>
                                <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Settings" [disabled]="refreshing">
                <ng-template pTemplate="header">
                    <img src="assets/icons/gear.png">
                </ng-template>
                <div class="grid flex align-items-center p-2">
                    <div class="col-8">
                        <span class="p-float-label">
                            <p-dropdown [options]="locations" [(ngModel)]="location" (ngModelChange)="locationChanged()"
                                        optionLabel="name" dataKey="id"
                                        styleClass="border-0" emptyMessage="No location found" />
                            <label>Location</label>
                        </span>
                    </div>
                    <div class="col-4 flex align-items-center gap-1">
                        <p-button [disabled]="refreshing" (onClick)="addLocation()" icon="mdi mdi-plus" styleClass="p-button-success" />
                        <p-button [disabled]="refreshing" (onClick)="editLocation()" icon="mdi mdi-pencil" styleClass="p-button-info" />
                        <p-button [disabled]="refreshing || locations.length <= 1" (onClick)="deleteLocation()" icon="mdi mdi-delete"
                                  styleClass="p-button-danger" />
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
<div class="grid px-2 relative">
    <div class="col-12 flex align-items-start justify-content-center gap-1" style="height: 48px;">
        <span class="text-overflow-scroll">{{ name }}</span>
        <p-tag *ngFor="let tag of tags" [severity]="tag.severity" [value]="tag.title" />
    </div>
    <p-tabView [style]="{height: '224px', width: '100vw'}">
        <p-tabPanel leftIcon="mdi mdi-information">
            <div class="grid pt-2">
                <div class="col-3">
                    <span class="p-float-label">
                        <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="bodyPosition.rightAscensionJ2000" />
                        <label>RA (J2000)</label>
                    </span>
                </div>
                <div class="col-3">
                    <span class="p-float-label">
                        <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="bodyPosition.declinationJ2000" />
                        <label>DEC (J2000)</label>
                    </span>
                </div>
                <div class="col-3">
                    <span class="p-float-label">
                        <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="bodyPosition.rightAscension" />
                        <label>RA</label>
                    </span>
                </div>
                <div class="col-3">
                    <span class="p-float-label">
                        <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="bodyPosition.declination" />
                        <label>DEC</label>
                    </span>
                </div>
                <div class="col-3">
                    <span class="p-float-label">
                        <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="bodyPosition.azimuth" />
                        <label>Azimuth</label>
                    </span>
                </div>
                <div class="col-3">
                    <span class="p-float-label">
                        <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="bodyPosition.altitude" />
                        <label>Altitude</label>
                    </span>
                </div>
                <div class="col-3">
                    <span class="p-float-label">
                        <input readonly pInputText class="p-inputtext-sm border-0 w-full"
                               [value]="bodyPosition.magnitude < 99 ? bodyPosition.magnitude.toFixed(2) : '-'" />
                        <label>Magnitude</label>
                    </span>
                </div>
                <div class="col-3">
                    <span class="p-float-label">
                        <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="bodyPosition.constellation" />
                        <label>Constellation</label>
                    </span>
                </div>
                <div class="col-3">
                    <span class="p-float-label">
                        <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="bodyPosition.distance" />
                        <label>Distance ({{ bodyPosition.distanceUnit }})</label>
                    </span>
                </div>
                <div class="col-3">
                    <span class="p-float-label">
                        <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="bodyPosition.illuminated" />
                        <label>Illuminated (%)</label>
                    </span>
                </div>
                <div class="col-3">
                    <span class="p-float-label">
                        <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="bodyPosition.elongation" />
                        <label>Elongation (°)</label>
                    </span>
                </div>
                <div class="col-12 flex justify-content-center">
                    <p-button [disabled]="refreshing" (onClick)="mountSync()" icon="mdi mdi-sync" label="Sync"
                              styleClass="p-button-text p-button-info" />
                    <p-button [disabled]="refreshing" (onClick)="mountGoTo()" icon="mdi mdi-telescope" label="Go To"
                              styleClass="p-button-text p-button-success" />
                    <p-button [disabled]="refreshing" (onClick)="mountSlew()" icon="mdi mdi-telescope" label="Slew"
                              styleClass="p-button-text p-button-success" />
                    <p-button [disabled]="refreshing" (onClick)="frame()" icon="mdi mdi-image" label="Frame" styleClass="p-button-text" />
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel leftIcon="mdi mdi-chart-bell-curve">
            <p-chart #chart width="100%" height="170px" [data]="altitudeData" [responsive]="true" [options]="altitudeOptions" />
        </p-tabPanel>
    </p-tabView>
    <div class="col-9 flex flex-column align-items-start justify-content-center gap-2 absolute" style="right: 8px; top: 42px;">
        <div class="flex flex-row gap-1 align-items-center justify-content-center">
            <p-checkbox [binary]="true" [(ngModel)]="useManualDateTime" (ngModelChange)="useManualDateTimeChanged()" />
            <p-calendar [disabled]="refreshing || !useManualDateTime" [(ngModel)]="dateTime" [showIcon]="true" [showWeek]="true"
                        [showButtonBar]="true"
                        dateFormat="yy-mm-dd" inputStyleClass="p-inputtext-sm w-6rem" class="border-0" />
            <p-inputNumber [disabled]="refreshing || !useManualDateTime" [(ngModel)]="dateTimeHour" [showButtons]="true" [min]="0" [max]="23"
                           class="w-fit" [format]="false"
                           [allowEmpty]="false" (ngModelChange)="dateTimeChanged()" styleClass="p-inputtext-sm border-0" [style]="{width: '54px'}" />
            <p-inputNumber [disabled]="refreshing || !useManualDateTime" [(ngModel)]="dateTimeMinute" [showButtons]="true" [min]="0" [max]="59"
                           class="w-fit"
                           [format]="false" [allowEmpty]="false" (ngModelChange)="dateTimeChanged()" styleClass="p-inputtext-sm border-0"
                           [style]="{width: '54px'}" />
        </div>
    </div>
</div>

<p-dialog header="Minor Planets" [modal]="true" [(visible)]="showMinorPlanetChoiceDialog" [style]="{width: '80vw'}">
    <div class="grid p-2">
        <p-listbox [options]="minorPlanetChoiceItems" (onChange)="minorPlanetChoosen($event)" [filter]="true" optionLabel="name"
                   [listStyle]="{ 'max-height': '250px' }" class="w-full" />
    </div>
</p-dialog>

<p-dialog header="Star Filter" [draggable]="false" [(visible)]="showStarFilterDialog" [modal]="true" [style]="{width: '80vw'}">
    <div class="grid mt-2">
        <div class="col-4">
            <span class="p-float-label">
                <input pInputText class="border-0 max-w-full" [value]="starFilter.rightAscension" />
                <label>RA (h)</label>
            </span>
        </div>
        <div class="col-4">
            <span class="p-float-label">
                <input pInputText class="border-0 max-w-full" [value]="starFilter.declination" />
                <label>DEC (°)</label>
            </span>
        </div>
        <div class="col-4">
            <span class="p-float-label">
                <p-inputNumber [min]="0" [max]="90" class="w-full" [showButtons]="true" inputStyleClass="border-0 w-full"
                               [(ngModel)]="starFilter.radius" />
                <label>Radius (°)</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-dropdown [options]="constellationOptions" [(ngModel)]="starFilter.constellation" appendTo="body" styleClass="border-0">
                    <ng-template let-item pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2">
                            <span>{{ item | enum }}</span>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <span>{{ item | enum }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <label>Constellation</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-dropdown [options]="starTypeOptions" [(ngModel)]="starFilter.type" appendTo="body" styleClass="border-0">
                    <ng-template let-item pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2">
                            <span>{{ item | enum }}</span>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <span>{{ item | enum }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <label>Type</label>
            </span>
        </div>
        <div class="col-12">
            <p>Magnitude min: {{ starFilter.magnitude[0] }} max: {{ starFilter.magnitude[1] }}</p>
            <p-slider class="mt-3" [min]="-30" [max]="30" styleClass="mx-2" [(ngModel)]="starFilter.magnitude" [range]="true" />
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="mdi mdi-filter" label="Filter" (onClick)="filterStar()" styleClass="p-button-text" />
    </ng-template>
</p-dialog>

<p-dialog header="DSO Filter" [draggable]="false" [(visible)]="showDSOFilterDialog" [modal]="true" [style]="{width: '80vw'}">
    <div class="grid mt-2">
        <div class="col-4">
            <span class="p-float-label">
                <input pInputText class="border-0 max-w-full" [value]="dsoFilter.rightAscension" />
                <label>RA (h)</label>
            </span>
        </div>
        <div class="col-4">
            <span class="p-float-label">
                <input pInputText class="border-0 max-w-full" [value]="dsoFilter.declination" />
                <label>DEC (°)</label>
            </span>
        </div>
        <div class="col-4">
            <span class="p-float-label">
                <p-inputNumber [min]="0" [max]="90" class="w-full" [showButtons]="true" inputStyleClass="border-0 w-full"
                               [(ngModel)]="dsoFilter.radius" />
                <label>Radius (°)</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-dropdown [options]="constellationOptions" [(ngModel)]="dsoFilter.constellation" appendTo="body" styleClass="border-0">
                    <ng-template let-item pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2">
                            <span>{{ item | enum }}</span>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <span>{{ item | enum }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <label>Constellation</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-dropdown [options]="dsoTypeOptions" [(ngModel)]="dsoFilter.type" appendTo="body" styleClass="border-0">
                    <ng-template let-item pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2">
                            <span>{{ item | enum }}</span>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <span>{{ item | enum }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <label>Type</label>
            </span>
        </div>
        <div class="col-12">
            <p>Magnitude min: {{ dsoFilter.magnitude[0] }} max: {{ dsoFilter.magnitude[1] }}</p>
            <p-slider class="mt-3" [min]="-30" [max]="30" styleClass="mx-2" [(ngModel)]="dsoFilter.magnitude" [range]="true" />
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="mdi mdi-filter" label="Filter" (onClick)="filterDSO()" styleClass="p-button-text" />
    </ng-template>
</p-dialog>