<div class="grid flex-1">
	<div class="col-12">
		<p-tabView
			[(activeIndex)]="tab"
			(activeIndexChange)="tabChanged()">
			<p-tabPanel
				header="Sun"
				[disabled]="refreshing"
				headerStyleClass="main">
				<ng-template pTemplate="header">
					<div
						class="p-3"
						pTooltip="Sun"
						tooltipPosition="bottom">
						<img src="assets/icons/sun.png" />
					</div>
				</ng-template>
				<div
					class="relative grid flex flex-column align-items-center justify-content-center"
					[class.invisible]="!sun.image"
					style="height: 225px">
					<img
						[src]="sun.image"
						style="width: 223px" />
					<a
						class="text-sm absolute"
						style="bottom: -8px"
						target="_blank"
						href="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_HMIIC.jpg">
						<p-tag severity="success">SDO/HMI</p-tag>
					</a>
				</div>
			</p-tabPanel>
			<p-tabPanel
				header="Moon"
				[disabled]="refreshing"
				headerStyleClass="main">
				<ng-template pTemplate="header">
					<div
						class="p-3"
						pTooltip="Moon"
						tooltipPosition="bottom">
						<img src="assets/icons/moon.png" />
					</div>
				</ng-template>
				<div
					class="grid flex align-items-center justify-content-center relative"
					style="height: 225px">
					<neb-moon
						[width]="200"
						[height]="200"
						[illuminationRatio]="moon.position.illuminated / 100"
						[waning]="moon.position.leading" />
					<div
						*ngIf="moon.phase"
						class="absolute w-full text-sm left-0 top-0 p-4 flex flex-row align-items-start justify-content-between">
						<div class="flex flex-column gap-2">
							<div class="flex flex-column">
								<span class="font-bold">Diameter</span>
								<span>{{ moon.phase.current.diameter }} arcsec</span>
								<span>{{ (moon.phase.current.diameter / 60).toFixed(2) }} arcmin</span>
							</div>
							<div class="flex flex-column">
								<span class="font-bold">Age</span>
								<span>{{ moon.phase.current.age }} d</span>
							</div>
							<div class="flex flex-column">
								<span class="font-bold">Lunation</span>
								<span>{{ moon.phase.current.lunation }}</span>
							</div>
							<div class="flex flex-column">
								<span class="font-bold">Sub-Solar Lon / Lat</span>
								<span>{{ moon.phase.current.subSolarLon }}° / {{ moon.phase.current.subSolarLat }}°</span>
							</div>
							<div class="flex flex-column">
								<span class="font-bold">Sub-Earth Lon / Lat</span>
								<span>{{ moon.phase.current.subEarthLon }}° / {{ moon.phase.current.subEarthLat }}°</span>
							</div>
							<div class="flex flex-column">
								<span class="font-bold">Position Angle</span>
								<span>{{ moon.phase.current.posAngle }}°</span>
							</div>
							<div class="mt-2 text-xs">
								<a
									target="_blank"
									href="https://svs.gsfc.nasa.gov/5187/">
									NASA/SVS
								</a>
							</div>
						</div>
						<div class="flex flex-column gap-2">
							@for (phase of moon.phase.phases; track $index) {
								<div class="flex flex-column gap-1">
									<span class="font-bold flex align-items-center gap-1 text-sm">
										@let phaseIcon = phase.name === 'NEW_MOON' ? 'new' : phase.name === 'FIRST_QUARTER' ? 'first-quarter' : phase.name === 'FULL_MOON' ? 'full' : 'last-quarter';
										<i class="mdi mdi-moon-{{ phaseIcon }}"></i>
										{{ phase.name | enum | uppercase }}
									</span>
									<span class="pl-4">{{ phase.dateTime | date: 'dd HH:mm' }}</span>
								</div>
							}
						</div>
					</div>
				</div>
			</p-tabPanel>
			<p-tabPanel
				header="Planets"
				[disabled]="refreshing"
				headerStyleClass="main">
				<ng-template pTemplate="header">
					<div
						class="p-3"
						pTooltip="Planets"
						tooltipPosition="bottom">
						<img src="assets/icons/jupiter.png" />
					</div>
				</ng-template>
				<div class="flex align-items-center justify-content-center px-1">
					<p-table
						[value]="planet.planets"
						class="planet"
						[(selection)]="planet.selected"
						(selectionChange)="planetChanged()"
						selectionMode="single"
						dataKey="code"
						styleClass="p-datatable-sm p-datatable-striped">
						<ng-template pTemplate="header">
							<tr>
								<th>Name</th>
								<th>Type</th>
							</tr>
						</ng-template>
						<ng-template
							pTemplate="body"
							let-item>
							<tr [pSelectableRow]="item">
								<td>{{ item.name }}</td>
								<td>{{ item.type }}</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</p-tabPanel>
			<p-tabPanel
				header="Minor Planets"
				[disabled]="refreshing"
				headerStyleClass="main">
				<ng-template pTemplate="header">
					<div
						class="p-3"
						pTooltip="Minor planets"
						tooltipPosition="bottom">
						<img src="assets/icons/asteroid.png" />
					</div>
				</ng-template>
				<p-tabView [(activeIndex)]="minorPlanet.tab">
					<p-tabPanel header="Search">
						<div class="relative flex mt-3 flex-column align-items-center justify-content-center">
							<div class="flex w-full align-items-center px-4 gap-2">
								<p-floatLabel class="w-full">
									<input
										pInputText
										class="p-inputtext-sm border-0 w-full"
										[(ngModel)]="minorPlanet.search.text"
										pTooltip="Enter the IAU number, designation, name or SPK-ID for the object of interest."
										tooltipPosition="bottom" />
									<label>Search</label>
								</p-floatLabel>
								<p-button
									[disabled]="minorPlanet.search.text.length < 3 || refreshing"
									(onClick)="searchMinorPlanet()"
									icon="mdi mdi-magnify"
									severity="info"
									size="small"
									[text]="true" />
							</div>
							<span
								class="text-xs absolute text-gray-500"
								style="top: -30px; right: 64px">
								<a
									target="_blank"
									href="https://ssd-api.jpl.nasa.gov/doc/sbdb.html">
									JPL SBDB Lookup API
								</a>
							</span>
						</div>
						<div class="flex flex-column align-items-center justify-content-center mt-2 px-1">
							<p-table
								[value]="minorPlanet.search.result?.parameters ?? []"
								class="minorPlanet"
								styleClass="p-datatable-sm p-datatable-striped">
								<ng-template pTemplate="header">
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Value</th>
									</tr>
								</ng-template>
								<ng-template
									pTemplate="body"
									let-item>
									<tr>
										<td>{{ item.name }}</td>
										<td>{{ item.description }}</td>
										<td>{{ item.value }} {{ item.unit }}</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</p-tabPanel>
					<p-tabPanel header="Close Approaches">
						<div class="relative flex mt-3 flex-column align-items-center justify-content-center">
							<div class="flex w-full align-items-center px-4 gap-2">
								<p-floatLabel>
									<p-inputNumber
										[min]="1"
										[max]="30"
										class="w-full"
										[step]="1"
										[showButtons]="true"
										inputStyleClass="p-inputtext-sm border-0 w-full"
										[(ngModel)]="minorPlanet.closeApproach.days"
										spinnableNumber />
									<label>Days</label>
								</p-floatLabel>
								<p-floatLabel>
									<p-inputNumber
										[min]="1"
										[max]="100"
										class="w-full"
										[step]="0.1"
										[minFractionDigits]="1"
										[showButtons]="true"
										inputStyleClass="p-inputtext-sm border-0 w-full"
										locale="en"
										[(ngModel)]="minorPlanet.closeApproach.lunarDistance"
										spinnableNumber />
									<label>Distance (LD)</label>
								</p-floatLabel>
								<p-button
									[disabled]="refreshing"
									(onClick)="closeApproachesOfMinorPlanets()"
									icon="mdi mdi-magnify"
									severity="info"
									size="small"
									[text]="true" />
							</div>
							<span
								class="text-xs absolute text-gray-500"
								style="top: -30px; right: 46px">
								<a
									target="_blank"
									href="https://ssd-api.jpl.nasa.gov/doc/cad.html">
									JPL SBDB Close-Approach API
								</a>
							</span>
						</div>
						<div class="flex flex-column align-items-center justify-content-center mt-2 px-1">
							<p-table
								[value]="minorPlanet.closeApproach.result"
								class="minorPlanet"
								selectionMode="single"
								styleClass="p-datatable-sm p-datatable-striped"
								[(selection)]="minorPlanet.closeApproach.selected"
								(selectionChange)="closeApproachChanged()"
								dataKey="designation">
								<ng-template pTemplate="header">
									<tr>
										<th>Name</th>
										<th pSortableColumn="dateTime">
											Date/Time (Local)
											<p-sortIcon field="dateTime" />
										</th>
										<th pSortableColumn="distance">
											Distance (LD)
											<p-sortIcon field="distance" />
										</th>
										<th pSortableColumn="absoluteMagnitude">
											H (mag)
											<p-sortIcon field="absoluteMagnitude" />
										</th>
									</tr>
								</ng-template>
								<ng-template
									pTemplate="body"
									let-item>
									<tr [pSelectableRow]="item">
										<td>{{ item.name }}</td>
										<td>{{ item.dateTime | date: 'yyyy-MM-dd HH:mm' }}</td>
										<td>{{ item.distance.toFixed(2) }}</td>
										<td>{{ item.absoluteMagnitude.toFixed(2) }}</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</p-tabPanel>
				</p-tabView>
			</p-tabPanel>
			<p-tabPanel
				header="Stars & DSOs"
				[disabled]="refreshing"
				headerStyleClass="main">
				<ng-template pTemplate="header">
					<div
						class="p-3"
						pTooltip="Stars & DSOs"
						tooltipPosition="bottom">
						<img src="assets/icons/blackhole.png" />
					</div>
				</ng-template>
				<div class="flex mt-2 align-items-center justify-content-center">
					<div class="flex w-full align-items-center px-4 gap-2">
						<p-floatLabel class="w-full">
							<input
								pInputText
								class="p-inputtext-sm border-0 w-full"
								[(ngModel)]="skyObject.search.filter.text" />
							<label>Search</label>
						</p-floatLabel>
						<div class="flex flex-row gap-1">
							<p-button
								[disabled]="refreshing"
								(onClick)="searchSkyObject()"
								icon="mdi mdi-magnify"
								size="small"
								severity="info"
								[text]="true"
								pTooltip="Search"
								tooltipPosition="bottom" />
							<p-button
								[disabled]="refreshing"
								(onClick)="skyObject.search.showDialog = true"
								icon="mdi mdi-filter"
								size="small"
								[text]="true"
								pTooltip="Filter"
								tooltipPosition="bottom" />
						</div>
					</div>
				</div>
				<div class="flex align-items-center justify-content-center mt-2 px-1">
					<p-table
						[value]="skyObject.search.result"
						class="skyObject"
						sortField="magnitude"
						[(selection)]="skyObject.search.selected"
						(selectionChange)="skyObjectChanged()"
						selectionMode="single"
						dataKey="id"
						styleClass="p-datatable-sm p-datatable-striped"
						[paginator]="true"
						[rows]="100"
						[pageLinks]="3"
						[showCurrentPageReport]="true"
						currentPageReportTemplate="{first}-{last} / {totalRecords}">
						<ng-template pTemplate="header">
							<tr>
								<th
									style="width: 40%"
									pSortableColumn="name">
									Name
									<p-sortIcon field="name" />
								</th>
								<th
									style="width: 25%"
									pSortableColumn="type">
									Type
									<p-sortIcon field="type" />
								</th>
								<th
									style="width: 15%"
									pSortableColumn="magnitude">
									Mag.
									<p-sortIcon field="magnitude" />
								</th>
								<th
									style="width: 20%"
									pSortableColumn="constellation">
									Const.
									<p-sortIcon field="constellation" />
								</th>
							</tr>
						</ng-template>
						<ng-template
							pTemplate="body"
							let-item>
							<tr [pSelectableRow]="item">
								<td class="text-sm">{{ item | skyObject: 'name' }}</td>
								<td class="text-sm">{{ item.type | enum }}</td>
								<td class="text-sm text-center">{{ item.magnitude < 30 ? item.magnitude.toFixed(1) : '-' }}</td>
								<td class="text-sm text-center">{{ item.constellation }}</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</p-tabPanel>
			<p-tabPanel
				header="TLEs"
				[disabled]="refreshing"
				headerStyleClass="main">
				<ng-template pTemplate="header">
					<div
						class="p-3"
						pTooltip="Satellites"
						tooltipPosition="bottom">
						<img src="assets/icons/satellite.png" />
					</div>
				</ng-template>
				<div class="flex mt-2 flex-column align-items-center justify-content-center">
					<div class="flex w-full align-items-center px-4 gap-2">
						<p-floatLabel class="w-full">
							<input
								pInputText
								class="p-inputtext-sm border-0 w-full"
								[(ngModel)]="satellite.search.filter.text" />
							<label>Search</label>
						</p-floatLabel>
						<div class="flex flex-row gap-1">
							<p-button
								[disabled]="refreshing"
								(onClick)="searchSatellite()"
								icon="mdi mdi-magnify"
								size="small"
								severity="info"
								[text]="true"
								pTooltip="Search"
								tooltipPosition="bottom" />
							<p-button
								[disabled]="refreshing"
								(onClick)="satellite.search.showDialog = true"
								icon="mdi mdi-filter"
								size="small"
								[text]="true"
								pTooltip="Filter"
								tooltipPosition="bottom" />
						</div>
					</div>
				</div>
				<div class="flex align-items-center justify-content-center mt-2 px-1">
					<p-table
						[value]="satellite.search.result"
						class="satellite"
						sortField="name"
						[(selection)]="satellite.search.selected"
						(selectionChange)="satelliteChanged()"
						selectionMode="single"
						dataKey="id"
						styleClass="p-datatable-sm p-datatable-striped"
						[paginator]="true"
						[rows]="100"
						[pageLinks]="3"
						[showCurrentPageReport]="true"
						currentPageReportTemplate="{first}-{last} / {totalRecords}">
						<ng-template pTemplate="header">
							<tr>
								<th
									style="width: 20%"
									pSortableColumn="id">
									NORAD ID
									<p-sortIcon field="id" />
								</th>
								<th
									style="width: 40%"
									pSortableColumn="name">
									Name
									<p-sortIcon field="name" />
								</th>
								<th style="width: 40%">Groups</th>
							</tr>
						</ng-template>
						<ng-template
							pTemplate="body"
							let-item>
							<tr [pSelectableRow]="item">
								<td class="w-8rem">{{ item.id }}</td>
								<td>{{ item.name }}</td>
								<td class="flex flex-row flex-wrap gap-1 max-w-16rem">
									<p-tag
										*ngFor="let item of item.groups"
										severity="success"
										[value]="item" />
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</p-tabPanel>
		</p-tabView>
	</div>
</div>
<div
	class="grid px-2 fixed bottom-0"
	style="height: 212px">
	<p-tabView
		[style]="{ height: '258px', width: '100vw' }"
		styleClass="info">
		<p-tabPanel leftIcon="mdi mdi-information">
			<div class="relative grid pt-3 px-3 flex-row justify-content-center">
				<div class="col-12 pb-0">
					<div class="grid">
						<div class="col-3">
							<p-floatLabel>
								<input
									pInputText
									readonly
									class="p-inputtext-sm border-0 w-full"
									[value]="position.rightAscensionJ2000" />
								<label>RA (J2000)</label>
							</p-floatLabel>
						</div>
						<div class="col-3">
							<p-floatLabel>
								<input
									pInputText
									readonly
									class="p-inputtext-sm border-0 w-full"
									[value]="position.declinationJ2000" />
								<label>DEC (J2000)</label>
							</p-floatLabel>
						</div>
						<div class="col-3">
							<p-floatLabel>
								<input
									pInputText
									readonly
									class="p-inputtext-sm border-0 w-full"
									[value]="position.rightAscension" />
								<label>RA</label>
							</p-floatLabel>
						</div>
						<div class="col-3">
							<p-floatLabel>
								<input
									pInputText
									readonly
									class="p-inputtext-sm border-0 w-full"
									[value]="position.declination" />
								<label>DEC</label>
							</p-floatLabel>
						</div>
						<div class="col-3">
							<p-floatLabel>
								<input
									pInputText
									readonly
									class="p-inputtext-sm border-0 w-full"
									[value]="position.azimuth" />
								<label>Azimuth</label>
							</p-floatLabel>
						</div>
						<div class="col-3">
							<p-floatLabel>
								<input
									pInputText
									readonly
									class="p-inputtext-sm border-0 w-full"
									[value]="position.altitude" />
								<label>Altitude</label>
							</p-floatLabel>
						</div>
						<div class="col-3">
							<p-floatLabel>
								<input
									pInputText
									readonly
									class="p-inputtext-sm border-0 w-full"
									[value]="position.magnitude < 30 ? position.magnitude.toFixed(2) : '-'" />
								<label>Magnitude</label>
							</p-floatLabel>
						</div>
						<div class="col-3">
							<p-floatLabel>
								<input
									pInputText
									readonly
									class="p-inputtext-sm border-0 w-full"
									[value]="position.constellation" />
								<label>Constellation</label>
							</p-floatLabel>
						</div>
						<div class="col-3">
							<p-floatLabel>
								<input
									pInputText
									readonly
									class="p-inputtext-sm border-0 w-full"
									[value]="position.distance.toFixed(3)" />
								<label>Distance ({{ position.distanceUnit }})</label>
							</p-floatLabel>
						</div>
						<div class="col-3">
							<p-floatLabel>
								<input
									pInputText
									readonly
									class="p-inputtext-sm border-0 w-full"
									[value]="position.illuminated.toFixed(3)" />
								<label>Illuminated (%)</label>
							</p-floatLabel>
						</div>
						<div class="col-3">
							<p-floatLabel>
								<input
									pInputText
									readonly
									class="p-inputtext-sm border-0 w-full"
									[value]="position.elongation.toFixed(3)" />
								<label>Elongation (°)</label>
							</p-floatLabel>
						</div>
					</div>
				</div>
				<div
					[class.invisible]="tab === 4"
					class="col-12 justify-content-center pt-0 text-xs">
					<a
						target="_blank"
						href="https://ssd.jpl.nasa.gov/horizons/">
						JPL Horizons
					</a>
				</div>
				<div class="col-12 pt-0 flex justify-content-center">
					<p-button
						[disabled]="!body.name || refresh.position"
						[text]="true"
						severity="info"
						(onClick)="mountSync()"
						icon="mdi mdi-sync"
						label="Sync"
						size="small" />
					<p-button
						[disabled]="!body.name || refresh.position"
						[text]="true"
						severity="success"
						(onClick)="mountGoTo()"
						icon="mdi mdi-telescope"
						label="Go To"
						size="small" />
					<p-button
						[disabled]="!body.name || refresh.position"
						[text]="true"
						severity="success"
						(onClick)="mountSlew()"
						icon="mdi mdi-telescope"
						label="Slew"
						size="small" />
					<p-button
						[disabled]="!body.name || refresh.position"
						[text]="true"
						(onClick)="frame()"
						icon="mdi mdi-image"
						label="Frame"
						size="small" />
				</div>
			</div>
		</p-tabPanel>
		<p-tabPanel leftIcon="mdi mdi-chart-bell-curve">
			<div class="p-1">
				<p-chart
					#chart
					width="100%"
					height="170px"
					[data]="altitudeData"
					[responsive]="true"
					[options]="altitudeOptions" />
			</div>
		</p-tabPanel>
	</p-tabView>
	<div
		class="col-9 flex align-items-center justify-content-between absolute gap-1 overflow-hidden"
		style="height: 32px; left: 95px; top: 2px; padding-right: 70px">
		<p-button
			[disabled]="!body.name || refreshing"
			[text]="true"
			[rounded]="true"
			icon="mdi mdi-md mdi-dots-vertical"
			(click)="ephemerisMenu.show()" />
		@if (body.name && canFavorite) {
			<p-button
				[text]="true"
				[rounded]="true"
				icon="{{ favorited ? 'mdi mdi-star' : 'mdi mdi-star-outline' }}"
				pTooltip="{{ favorited ? 'Unfavorite' : 'Favorite' }}"
				tooltipPosition="bottom"
				(onClick)="favorite()" />
		}
		<span
			class="flex w-full align-items-center gap-1 justify-content-center"
			style="min-width: -webkit-fill-available">
			<span class="text-overflow-scroll font-bold">{{ body.name }}</span>
			<p-tag
				*ngFor="let tag of body.tags"
				[severity]="tag.severity"
				[value]="tag.label"
				styleClass="white-space-nowrap" />
		</span>
	</div>
</div>

<p-dialog
	header="Minor Planets"
	[modal]="true"
	[(visible)]="minorPlanet.list.showDialog"
	[style]="{ width: '80vw' }">
	<div class="grid p-2">
		<p-listbox
			[options]="minorPlanet.list.items"
			(onChange)="minorPlanetSelected($event)"
			[filter]="true"
			optionLabel="name"
			[listStyle]="{ 'max-height': '250px' }"
			class="w-full" />
	</div>
</p-dialog>

<p-dialog
	header="Filter"
	[draggable]="false"
	[(visible)]="skyObject.search.showDialog"
	[modal]="true"
	[style]="{ width: '80vw' }">
	<div class="grid mt-2">
		<div class="col-4">
			<p-floatLabel>
				<input
					pInputText
					[disabled]="skyObject.search.filter.radius <= 0"
					class="p-inputtext-sm border-0 w-full"
					[value]="skyObject.search.filter.rightAscension" />
				<label>RA (h)</label>
			</p-floatLabel>
		</div>
		<div class="col-4">
			<p-floatLabel>
				<input
					pInputText
					[disabled]="skyObject.search.filter.radius <= 0"
					class="p-inputtext-sm border-0 w-full"
					[value]="skyObject.search.filter.declination" />
				<label>DEC (°)</label>
			</p-floatLabel>
		</div>
		<div class="col-4">
			<p-floatLabel>
				<p-inputNumber
					[min]="0"
					[max]="90"
					class="w-full"
					[step]="0.1"
					[minFractionDigits]="1"
					[maxFractionDigits]="1"
					[showButtons]="true"
					inputStyleClass="p-inputtext-sm border-0 w-full"
					locale="en"
					[(ngModel)]="skyObject.search.filter.radius"
					spinnableNumber />
				<label>Radius (°)</label>
			</p-floatLabel>
		</div>
		<div class="col-6">
			<p-floatLabel class="w-full">
				@let constellations = ['ALL'].concat('CONSTELLATION' | dropdownOptions);
				<p-dropdown
					[options]="constellations | enumDropdown"
					[(ngModel)]="skyObject.search.filter.constellation"
					[filter]="true"
					appendTo="body"
					optionLabel="label"
					optionValue="value"
					styleClass="p-inputtext-sm border-0"
					[autoDisplayFirst]="false" />
				<label>Constellation</label>
			</p-floatLabel>
		</div>
		<div class="col-6">
			<p-floatLabel class="w-full">
				@let skyObjectTypes = ['ALL'].concat('SKY_OBJECT_TYPE' | dropdownOptions);
				<p-dropdown
					[options]="skyObjectTypes | enumDropdown"
					[(ngModel)]="skyObject.search.filter.type"
					appendTo="body"
					[filter]="true"
					optionLabel="label"
					optionValue="value"
					styleClass="p-inputtext-sm border-0"
					[autoDisplayFirst]="false" />
				<label>Type</label>
			</p-floatLabel>
		</div>
		<div class="col-4">
			<p-floatLabel>
				<p-inputNumber
					[min]="-30"
					[max]="30"
					class="w-full"
					[step]="0.1"
					[minFractionDigits]="1"
					[maxFractionDigits]="1"
					[showButtons]="true"
					inputStyleClass="p-inputtext-sm border-0 w-full"
					locale="en"
					[(ngModel)]="skyObject.search.filter.magnitudeMin"
					spinnableNumber />
				<label>Mag. min</label>
			</p-floatLabel>
		</div>
		<div class="col-4">
			<p-floatLabel>
				<p-inputNumber
					[min]="-30"
					[max]="30"
					class="w-full"
					[step]="0.1"
					[minFractionDigits]="1"
					[maxFractionDigits]="1"
					[showButtons]="true"
					inputStyleClass="p-inputtext-sm border-0 w-full"
					locale="en"
					[(ngModel)]="skyObject.search.filter.magnitudeMax"
					spinnableNumber />
				<label>Mag. max</label>
			</p-floatLabel>
		</div>
	</div>
	<ng-template pTemplate="footer">
		<p-button
			[disabled]="refreshing"
			[text]="true"
			icon="mdi mdi-filter"
			label="Filter"
			size="small"
			(onClick)="searchSkyObject()" />
	</ng-template>
</p-dialog>

<p-dialog
	header="Satellite Filter"
	[draggable]="false"
	[(visible)]="satellite.search.showDialog"
	[modal]="true"
	[style]="{ width: '80vw' }">
	<div class="grid mt-2">
		<div class="col-12 flex flex-column gap-1 align-items-start flex-wrap">
			@let groups = 'SATELLITE_GROUP_TYPE' | dropdownOptions;

			@for (group of groups; track $index) {
				<p-checkbox
					[binary]="true"
					[(ngModel)]="satellite.search.filter.groups[group]"
					(ngModelChange)="savePreference()"
					[label]="group | enum"
					class="white-space-nowrap" />
			}
		</div>
	</div>
	<ng-template pTemplate="footer">
		<p-button
			[disabled]="refreshing"
			[text]="true"
			severity="danger"
			icon="mdi mdi-restore"
			label="Reset"
			size="small"
			(onClick)="resetSatelliteSearchGroups()" />
		<p-button
			[disabled]="refreshing"
			[text]="true"
			icon="mdi mdi-filter"
			label="Filter"
			size="small"
			(onClick)="searchSatellite()" />
	</ng-template>
</p-dialog>

<p-overlayPanel
	#dateTimeAndLocationPanel
	[style]="{ width: 'calc(100% - 8px)', marginLeft: '4px' }"
	appendTo="body">
	<ng-template pTemplate="content">
		<div class="grid">
			<div class="col-7 flex-column gap-2">
				<p-calendar
					[disabled]="refreshing || !dateTimeAndLocation.manual"
					[ngModel]="dateTimeAndLocation.dateTime"
					(ngModelChange)="dateTimeChanged(true, $event)"
					[inline]="true"
					[showIcon]="true"
					[showWeek]="true"
					[showButtonBar]="false"
					dateFormat="yy-mm-dd"
					styleClass="w-full" />
			</div>
			<div class="col-5 flex-column gap-3 align-items-center justify-content-start gap-1">
				<div class="flex flex-column justify-content-center align-items-center gap-1">
					<span>Date Time</span>
					<p-inputSwitch
						[disabled]="refreshing"
						[(ngModel)]="dateTimeAndLocation.manual"
						(ngModelChange)="manualDateTimeChanged()" />
				</div>
				<div class="flex flex-column align-items-center gap-3">
					<div class="flex align-items-center justify-content-center gap-2">
						<p-floatLabel class="w-full">
							<p-inputNumber
								[disabled]="refreshing || !dateTimeAndLocation.manual"
								[ngModel]="dateTimeAndLocation.dateTime.getHours()"
								(ngModelChange)="dateTimeAndLocation.dateTime.setHours($event); dateTimeChanged(false)"
								[showButtons]="true"
								[min]="0"
								[max]="23"
								[format]="false"
								[allowEmpty]="false"
								styleClass="p-inputtext-sm border-0"
								spinnableNumber />
							<label>Hour</label>
						</p-floatLabel>
						<p-floatLabel class="w-full">
							<p-inputNumber
								[disabled]="refreshing || !dateTimeAndLocation.manual"
								[ngModel]="dateTimeAndLocation.dateTime.getMinutes()"
								(ngModelChange)="dateTimeAndLocation.dateTime.setMinutes($event); dateTimeChanged(false)"
								[showButtons]="true"
								[min]="0"
								[max]="59"
								[format]="false"
								[allowEmpty]="false"
								styleClass="p-inputtext-sm border-0"
								spinnableNumber />
							<label>Minute</label>
						</p-floatLabel>
					</div>
					<p-floatLabel class="w-full">
						<p-dropdown
							[options]="locations"
							[(ngModel)]="dateTimeAndLocation.location"
							(ngModelChange)="locationChanged()"
							optionLabel="name"
							dataKey="id"
							styleClass="p-inputtext-sm border-0"
							emptyMessage="No location found"
							[autoDisplayFirst]="false" />
						<label>Location</label>
					</p-floatLabel>
				</div>
			</div>
		</div>
	</ng-template>
</p-overlayPanel>

<p-overlayPanel
	#favoritesPanel
	[style]="{ width: 'calc(100% - 8px)', marginLeft: '4px' }"
	appendTo="body">
	<ng-template pTemplate="content">
		<div class="grid">
			<p-listbox
				[options]="preference.favorites"
				[ngModel]="favorited"
				(ngModelChange)="selectFavorite($event); favoritesPanel.hide()"
				class="w-full"
				styleClass="border-0 w-full"
				[metaKeySelection]="false"
				[filter]="true"
				[filterFields]="['name']"
				[style]="{ width: '100%', height: '240px' }"
				[listStyle]="{ maxHeight: '188px', height: '188px' }"
				emptyMessage="No favorites">
				<ng-template
					let-item
					pTemplate="item">
					<div class="flex align-items-center justify-content-between gap-1 w-full">
						<span class="text-sm">
							<span class="font-bold">{{ item.type | enum }}</span>
							<span class="ml-1">{{ item.name }}</span>
						</span>
						<p-button
							[text]="true"
							[rounded]="true"
							icon="mdi mdi-delete"
							severity="danger"
							size="small"
							pTooltip="Remove"
							tooltipPosition="bottom"
							(onClick)="deleteFavorite(item); $event.stopImmediatePropagation()" />
					</div>
				</ng-template>
			</p-listbox>
		</div>
	</ng-template>
</p-overlayPanel>

<neb-dialog-menu
	#ephemerisMenu
	[model]="ephemerisModel"
	[header]="body.name" />

<neb-device-list-menu #deviceMenu />
