<div class="grid pt-2">
	<div class="col-12">
		<neb-input-text
			label="Name"
			[(value)]="location.name"
			(valueChange)="locationChanged()" />
	</div>
	<div class="col-6">
		<neb-input-number
			label="UTC Offset (min)"
			[min]="-720"
			[max]="720"
			[(value)]="location.offsetInMinutes"
			(valueChange)="locationChanged()" />
	</div>
	<div class="col-6">
		<neb-input-number
			label="Elevation (m)"
			[min]="-1000"
			[max]="10000"
			[(value)]="location.elevation"
			(valueChange)="locationChanged()" />
	</div>
	<div class="col-6">
		<neb-input-number
			label="Latitude"
			[min]="-90"
			[max]="90"
			[fractionDigits]="5"
			[(value)]="location.latitude"
			(valueChange)="locationChanged()" />
	</div>
	<div class="col-6">
		<neb-input-number
			label="Longitude"
			[min]="-180"
			[max]="180"
			[fractionDigits]="5"
			[(value)]="location.longitude"
			(valueChange)="locationChanged()" />
	</div>
	<div class="col-12">
		<neb-map
			#map
			[(latitude)]="location.latitude"
			(latitudeChange)="locationChanged()"
			[(longitude)]="location.longitude"
			(longitudeChange)="locationChanged()" />
	</div>
</div>
<div
	*ngIf="isDialog"
	class="p-dialog-footer px-0">
	<neb-button
		[disabled]="!location.name"
		icon="mdi mdi-check"
		label="OK"
		(action)="save()"
		severity="success" />
</div>
