<div class="flex gap-2 align-items-center flex-wrap">
	<div
		*ngIf="hasType"
		class="flex flex-column align-items-center">
		<label class="text-success text-xs bg-black-alpha-40 p-2-4 mb-1px border-round-sm">Type</label>
		<span class="min-w-3rem text-center text-sm">{{ info.frameType }}</span>
	</div>
	<div
		*ngIf="hasExposure && info.exposureTime"
		class="flex flex-column align-items-center">
		<label class="text-orange-300 text-xs bg-black-alpha-40 p-2-4 mb-1px border-round-sm">Exposure</label>
		<span class="min-w-4rem text-center text-sm">{{ info.exposureAmount || '∞' }} / {{ info.exposureTime | exposureTime }}</span>
	</div>
	<div
		*ngIf="info.exposureDelay"
		class="flex flex-column align-items-center">
		<label class="text-info text-xs bg-black-alpha-40 p-2-4 mb-1px border-round-sm">Delay</label>
		<span class="min-w-3rem text-center text-sm">{{ info.exposureDelay * 1000000 | exposureTime }}</span>
	</div>
	<div
		*ngIf="info.x !== undefined && info.y !== undefined && info.width && info.height"
		class="flex flex-column align-items-center">
		<label class="text-yellow-300 text-xs bg-black-alpha-40 p-2-4 mb-1px border-round-sm">ROI</label>
		<span class="min-w-5rem text-center text-sm">{{ info.x }} {{ info.y }} {{ info.width }} {{ info.height }}</span>
	</div>
	<div
		*ngIf="info.binX && info.binY"
		class="flex flex-column align-items-center">
		<label class="text-cyan-300 text-xs bg-black-alpha-40 p-2-4 mb-1px border-round-sm">Bin</label>
		<span class="min-w-2rem text-center text-sm">{{ info.binX }}x{{ info.binY }}</span>
	</div>
	<div
		*ngIf="info.gain"
		class="flex flex-column align-items-center">
		<label class="text-xs bg-black-alpha-40 p-2-4 mb-1px border-round-sm">Gain</label>
		<span class="min-w-3rem text-center text-sm">{{ info.gain }}</span>
	</div>
	<div
		*ngIf="info.offset"
		class="flex flex-column align-items-center">
		<label class="text-xs bg-black-alpha-40 p-2-4 mb-1px border-round-sm">Offset</label>
		<span class="min-w-3rem text-center text-sm">{{ info.offset }}</span>
	</div>
	<div
		*ngIf="info.frameFormat"
		class="flex flex-column align-items-center">
		<label class="text-purple-300 text-xs bg-black-alpha-40 p-2-4 mb-1px border-round-sm">Format</label>
		<span class="min-w-5rem text-center text-sm">{{ info.frameFormat }}</span>
	</div>
	<div
		*ngIf="hasFilter"
		class="flex flex-row gap-1 align-items-center relative">
		<div class="flex flex-column align-items-center">
			<label class="text-teal-300 text-xs bg-black-alpha-40 p-2-4 mb-1px border-round-sm">Filter</label>
			<span class="min-w-3rem text-center text-sm">{{ filter }}</span>
		</div>
		<i
			*ngIf="canRemoveFilter && !disabled"
			class="mdi mdi-close cursor-pointer min-w-2rem min-h-2rem absolute text-red-500"
			style="bottom: -32px; left: 50%; transform: translate(-50%, -50%)"
			pTooltip="No filter"
			tooltipPosition="bottom"
			(click)="filterRemoved.emit()"></i>
	</div>
	<div
		*ngIf="hasFilter && focuser && info.focusOffset"
		class="flex flex-column align-items-center">
		<label class="text-indigo-300 text-xs bg-black-alpha-40 p-2-4 mb-1px border-round-sm">Focus Offset</label>
		<span class="min-w-5rem text-center text-sm">{{ info.focusOffset }}</span>
	</div>
	<div
		*ngIf="rotator && info.angle >= 0"
		class="flex flex-row gap-1 align-items-center relative">
		<div class="flex flex-column align-items-center">
			<label class="text-green-300 text-xs bg-black-alpha-40 p-2-4 mb-1px border-round-sm">Angle</label>
			<span class="min-w-3rem text-center text-sm">{{ info.angle.toFixed(1) }}°</span>
		</div>
		<i
			*ngIf="canRemoveAngle && !disabled"
			class="mdi mdi-close cursor-pointer min-w-2rem min-h-2rem absolute text-red-500"
			style="bottom: -32px; left: 50%; transform: translate(-50%, -50%)"
			pTooltip="No rotation"
			tooltipPosition="bottom"
			(click)="angleRemoved.emit()"></i>
	</div>
</div>
