<div class="flex flex-col p-4">
	<ng-template
		#formulaDropdownItem
		let-item
		let-selected="selected">
		<div class="flex flex-col gap-1">
			<span class="text-bold">{{ item.formula.title }}</span>

			@if (!selected) {
				<span class="white-space-normal text-sm">{{ item.formula.description }}</span>
			}
		</div>
	</ng-template>
	<neb-dropdown
		[options]="formulae"
		[(value)]="formula"
		[itemTemplate]="formulaDropdownItem" />
	<div class="w-full">
		<ng-content *ngComponentOutlet="formula.component; inputs: { formula: formula.formula }" />
	</div>
</div>
