<div class="grid p-4">
	<div class="w-full">
		<p-dropdown
			[options]="formulae"
			[(ngModel)]="formula"
			styleClass="border-0 p-inputtext-sm"
			[autoDisplayFirst]="false"
			[panelStyle]="{ maxWidth: '100px' }">
			<ng-template
				let-item
				pTemplate="selectedItem">
				<div class="flex items-center gap-2">
					<span>{{ item?.formula?.title }}</span>
				</div>
			</ng-template>
			<ng-template
				let-item
				pTemplate="item">
				<div class="flex flex-col">
					<span class="text-bold">{{ item.formula.title }}</span>
					<span class="white-space-normal text-sm">{{ item.formula.description }}</span>
				</div>
			</ng-template>
		</p-dropdown>
	</div>
	<div class="w-full">
		<ng-container *ngComponentOutlet="formula.component; inputs: { formula: formula.formula }" />
	</div>
</div>
