<div class="flex align-items-center justify-content-center gap-1">
	<span
		class="relative"
		*ngFor="let item of model; let i = index">
		@if (item.visible !== false) {
			@if (item.toggleable) {
				<div
					*ngIf="item.visible"
					class="flex flex-column align-items-center justify-content-center gap-1">
					<span class="text-xs">{{ item.label }}</span>
					<p-inputSwitch
						[disabled]="item.disabled ?? false"
						[(ngModel)]="item.toggled"
						(onChange)="item.toggle?.($event)" />
				</div>
			} @else if (item.checkable) {
				<div
					*ngIf="item.visible"
					class="flex flex-column align-items-center justify-content-center gap-1">
					<span class="text-xs">{{ item.label }}</span>
					<p-checkbox
						[binary]="true"
						[disabled]="item.disabled ?? false"
						[(ngModel)]="item.checked"
						(onChange)="item.check?.($event); $event.originalEvent?.stopImmediatePropagation()" />
				</div>
			} @else if (item.label && item.splitButtonMenu?.length) {
				<p-splitButton
					[label]="item.label"
					[icon]="item.icon"
					[model]="item.splitButtonMenu"
					[severity]="item.severity"
					[disabled]="item.disabled"
					[pTooltip]="item.tooltip"
					[tooltipPosition]="item.tooltipPosition ?? 'bottom'"
					size="small"
					(onClick)="splitButtonClick.emit({ item, event: $event })"
					appendTo="body" />
			} @else {
				<p-badge
					*ngIf="item.badge"
					[severity]="item.badgeSeverity ?? 'danger'"
					[value]="item.badge"
					styleClass="absolute flex justify-content-center align-items-center top-0"
					[style]="{ width: '14px', minWidth: '14px', height: '14px', minHeight: '14px', right: '-2px' }" />
				<neb-button
					[icon]="item.icon"
					[disabled]="item.disabled"
					[tooltip]="item.tooltip ?? item.label"
					[severity]="item.severity"
					(action)="item.command?.({ originalEvent: $event, item: item, index: i })" />
			}
		}
	</span>
</div>
