<div class="flex align-items-center justify-content-center gap-1">
	@for (item of model; track item.label; let i = $index) {
		<span class="relative">
			@if (item.visible !== false) {
				@if (item.toggleable) {
					@if (item.visible) {
						<div class="flex align-items-center justify-content-center">
							<neb-switch
								[label]="item.label"
								[disabled]="item.disabled ?? false"
								[value]="item.toggled ?? false"
								(valueChange)="item.toggled = $event"
								(action)="item.toggle?.($event)" />
						</div>
					}
				} @else if (item.checkable) {
					@if (item.visible) {
						<div class="flex align-items-center justify-content-center">
							<neb-checkbox
								[label]="item.label"
								[disabled]="item.disabled ?? false"
								[vertical]="true"
								[value]="item.checked ?? false"
								(valueChange)="item.checked = $event"
								(action)="item.check?.($event)" />
						</div>
					}
				} @else if (item.label && item.splitButtonMenu?.length) {
					<p-splitButton
						[label]="item.label"
						[icon]="item.icon"
						[model]="item.splitButtonMenu"
						[severity]="item.severity"
						[disabled]="item.disabled"
						[pTooltip]="item.tooltip"
						[tooltipPosition]="item.tooltipPosition ?? 'bottom'"
						size="small"
						(onClick)="splitButtonClick.emit({ item, event: $event })"
						appendTo="body" />
				} @else {
					@if (item.badge) {
						<p-badge
							[severity]="item.badgeSeverity ?? 'danger'"
							[value]="item.badge"
							styleClass="absolute flex justify-content-center align-items-center top-0"
							[style]="{ width: '14px', minWidth: '14px', height: '14px', minHeight: '14px', right: '-2px' }" />
					}
					<neb-button
						[icon]="item.icon"
						[disabled]="item.disabled"
						[tooltip]="item.tooltip ?? item.label"
						[severity]="item.severity"
						(action)="item.command?.({ originalEvent: $event, item: item, index: i })" />
				}
			}
		</span>
	}
</div>
