:host {
    #titlebar {
        ::ng-deep {
            .mdi:before {
                color: #FFF
            }

            .p-disabled {
                opacity: 0.3;
            }
        }

        .separator {
            width: 16px;

            &:after {
                content: '';
                border-left: 1px dashed #3D3D3D;
                height: 16px;
            }
        }
    }
}