:host {
    #titlebar {
        ::ng-deep {
            .mdi:before {
                color: #FFF
            }

            .p-disabled {
                opacity: 0.3;
            }

            .p-badge {
                position: absolute;
                top: 3px;
                right: 1px;
                width: 0.5rem !important;
                height: 0.5rem !important;
                padding: 0px;
                min-width: 0.5rem;
            }
        }

        .separator {
            width: 16px;
        }
    }
}