.frame-area {
  overflow: hidden;
  max-height: calc(100vh - 113px);
}

.frame-wrap {
  overflow: hidden;
  height: calc(100vh - 161px);
}

img {
  &.pixelated {
    image-rendering: pixelated;
  }
}
