<div class="container px-4 py-3">
    <div class="grid py-1 flex align-items-center">
        <div class="col-8 align-items-center gap-2">
            <span class="p-float-label">
                <input pInputText readonly [value]="camera.name" class="p-inputtext-sm border-0 w-full" />
                <label>Camera</label>
            </span>
            <p-button *ngIf="!camera || camera.connected" [disabled]="!camera || running" (onClick)="connect()" icon="mdi mdi-close"
                      size="small" severity="danger" pTooltip="Disconnect" tooltipPosition="bottom" [text]="true" />
            <p-button *ngIf="!camera.connected" [disabled]="!camera || running" (onClick)="connect()" icon="mdi mdi-connection"
                      size="small" severity="info" pTooltip="Connect" tooltipPosition="bottom" [text]="true" />
        </div>
        <div class="col-4 flex justify-content-end align-items-center gap-2">
            <p-button [disabled]="!camera" [text]="true" [rounded]="true" icon="mdi mdi-image-multiple" (click)="openCameraImage()"
                      pTooltip="View image" tooltipPosition="bottom" size="small" />
            <p-button [disabled]="!camera" [text]="true" [rounded]="true" icon="mdi mdi-wrench" (click)="calibrationMenu.show()"
                      pTooltip="CALIBRATION: {{ this.request.calibrationGroup ?? 'None' }}" tooltipPosition="bottom" size="small" />
            <p-button *ngIf="canShowMenu" [disabled]="!camera || !camera.connected || running" [text]="true" [rounded]="true"
                      icon="mdi mdi-dots-vertical" (click)="cameraMenu.show()" size="small" />
        </div>
        <div *ngIf="canShowSavePath" class="col-12 py-0 text-sm text-gray-400 flex align-items-center gap-2">
            <i *ngIf="request.autoSave" class="mdi mdi-content-save cursor-pointer" (click)="toggleAutoSaveAllExposures()" pTooltip="Auto save: ON"
               tooltipPosition="bottom" [positionLeft]="24" [positionTop]="8"></i>
            <i *ngIf="!request.autoSave" class="mdi mdi-content-save-off cursor-pointer" (click)="toggleAutoSaveAllExposures()"
               pTooltip="Auto save: OFF" tooltipPosition="bottom" [positionLeft]="24" [positionTop]="8"></i>
            <i *ngIf="request.autoSubFolderMode === 'OFF'" (click)="toggleAutoSubFolder()" class="mdi mdi-folder-off cursor-pointer"
               pTooltip="Auto sub folder: OFF" tooltipPosition="bottom" [positionLeft]="24" [positionTop]="8"></i>
            <i *ngIf="request.autoSubFolderMode === 'NOON'" (click)="toggleAutoSubFolder()"
               class="mdi mdi-weather-sunny text-yellow-600 cursor-pointer" pTooltip="Auto sub folder: NOON" tooltipPosition="bottom"
               [positionLeft]="24" [positionTop]="8"></i>
            <i *ngIf="request.autoSubFolderMode === 'MIDNIGHT'" (click)="toggleAutoSubFolder()"
               class="mdi mdi-weather-night text-blue-600 cursor-pointer" pTooltip="Auto sub folder: MIDNIGHT" tooltipPosition="bottom"
               [positionLeft]="32" [positionTop]="8"></i>
            <span *ngIf="camera && (savePath || capturesPath)" style="padding-top: 1px; padding-bottom: 1px; height: 14px;"
                  class="flex flex-1 align-items-center gap-2 bg-gray-800 border-round px-3 text-overflow-scroll">
                <i class="mdi mdi-folder-open cursor-pointer" pTooltip="Choose new folder" tooltipPosition="bottom" (click)="chooseSavePath()"
                   [positionTop]="8"></i>
                <i *ngIf="savePath" class="mdi mdi-close cursor-pointer" pTooltip="Reset" tooltipPosition="bottom" (click)="clearSavePath()"
                   [positionTop]="8"></i>
                {{ savePath || capturesPath }}
            </span>
        </div>
        <div *ngIf="canShowInfo" class="col-12 pt-0 pb-1 text-sm text-gray-400 flex align-items-center my-1 gap-1 text-center text-xs">
            <neb-camera-exposure #cameraExposure />
        </div>
    </div>
    <div class="grid py-1 flex align-items-center">
        <div class="col-3 flex flex-column justify-content-center text-center gap-2">
            <span class="text-xs text-gray-100">Cooler ({{ camera.coolerPower | number: '1.1-1' }}%)</span>
            <p-inputSwitch [disabled]="!camera.connected || !camera.hasCooler || running" (onChange)="toggleCooler()"
                           [(ngModel)]="camera!.cooler" />
        </div>
        <div class="col-3 flex flex-column justify-content-center text-center gap-2">
            <span class="text-xs text-gray-100">Dew heater</span>
            <p-inputSwitch [disabled]="!camera.connected || !hasDewHeater || running" [(ngModel)]="camera!.dewHeater" />
        </div>
        <div class="col-6 flex flex-column">
            <div class="flex justify-content-center align-items-center gap-1">
                <span class="p-float-label">
                    <p-inputNumber [disabled]="!camera.connected || !camera.canSetTemperature || running" [(ngModel)]="setpointTemperature"
                                   mode="decimal" [showButtons]="true" (ngModelChange)="savePreference()" [step]="0.1" suffix="℃" [min]="-50"
                                   [max]="50" locale="en" styleClass="p-inputtext-sm border-0" [allowEmpty]="false" [minFractionDigits]="1"
                                   scrollableNumber />
                    <label>Temperature ({{ camera.temperature | number: '1.1-1' }}°C)</label>
                </span>
                <p-button [disabled]="!camera.connected || !camera.canSetTemperature || running" (onClick)="applySetpointTemperature()"
                          icon="mdi mdi-check" size="small" severity="success" pTooltip="Apply" tooltipPosition="bottom" />
            </div>
        </div>
    </div>
    <div class="grid py-1 flex align-items-center">
        <div class="col-6">
            <div class="flex justify-content-center align-items-center gap-1">
                <span class="p-float-label">
                    <p-inputNumber [disabled]="!canExposureTime || !camera.connected || running" [(ngModel)]="request.exposureTime" mode="decimal"
                                   [showButtons]="true" [step]="1.0" [min]="exposureTimeMin" [max]="exposureTimeMax" locale="en"
                                   styleClass="p-inputtext-sm border-0" [allowEmpty]="false" (ngModelChange)="savePreference()" scrollableNumber />
                    <label>Exposure Time</label>
                </span>
                <p-menu #exposureTimeMenu [model]="exposureTimeUnitModel" [popup]="true" appendTo="body" />
                <button pButton [disabled]="!canExposureTime || !canExposureTimeUnit || !camera.connected || running" type="button"
                        (click)="exposureTimeMenu.toggle($event)" [label]="exposureTimeUnit"></button>
            </div>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-dropdown [disabled]="!canFrameType || !camera.connected || running" [options]="frameTypeOptions" [(ngModel)]="request.frameType"
                            styleClass="p-inputtext-sm border-0" [autoDisplayFirst]="false"
                            (ngModelChange)="savePreference()" />
                <label>Frame Type</label>
            </span>
        </div>
    </div>
    <div class="grid py-1 flex align-items-center">
        <div class="col-6 flex-column">
            <span class="text-xs text-gray-100">Exposure Mode</span>
            <p-selectButton [disabled]="!canExposureMode || !camera.connected || running" [options]="exposureModeOptions" [(ngModel)]="exposureMode"
                            styleClass="p-inputtext-sm border-0" (ngModelChange)="savePreference()" />
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || exposureMode === 'SINGLE' || running" [(ngModel)]="request.exposureDelay"
                               mode="decimal" [showButtons]="true" [step]="1" [min]="0" [max]="60" locale="en" styleClass="p-inputtext-sm border-0"
                               [allowEmpty]="false" (ngModelChange)="savePreference()" scrollableNumber />
                <label>Delay (s)</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!canExposureAmount || !camera.connected || exposureMode !== 'FIXED' || running"
                               [(ngModel)]="request.exposureAmount" mode="decimal" [showButtons]="true" [step]="1.0" [min]="1" [max]="1000"
                               locale="en" styleClass="p-inputtext-sm border-0" [allowEmpty]="false" (ngModelChange)="savePreference()"
                               scrollableNumber />
                <label>Count</label>
            </span>
        </div>
    </div>
    <div class="grid py-1 flex align-items-center">
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || !subFrame || running" [(ngModel)]="request.x" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="camera.minX" [max]="camera.maxX" locale="en" styleClass="p-inputtext-sm border-0"
                               [allowEmpty]="false" (ngModelChange)="savePreference()" scrollableNumber />
                <label>X</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || !subFrame || running" [(ngModel)]="request.y" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="camera.minY" [max]="camera.maxY" locale="en" styleClass="p-inputtext-sm border-0"
                               [allowEmpty]="false" (ngModelChange)="savePreference()" scrollableNumber />
                <label>Y</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || !subFrame || running" [(ngModel)]="request.width" mode="decimal"
                               [showButtons]="true" [step]="1.0" [min]="camera.minWidth" [max]="camera.maxWidth" locale="en"
                               styleClass="p-inputtext-sm border-0" [allowEmpty]="false" (ngModelChange)="savePreference()" scrollableNumber />
                <label>Width</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || !subFrame || running" [(ngModel)]="request.height" mode="decimal"
                               [showButtons]="true" [step]="1.0" [min]="camera.minHeight" [max]="camera.maxHeight" locale="en"
                               styleClass="p-inputtext-sm border-0" [allowEmpty]="false" (ngModelChange)="savePreference()" scrollableNumber />
                <label>Height</label>
            </span>
        </div>
    </div>
    <div class="grid py-1 flex align-items-center">
        <div class="col-3 flex flex-column justify-content-center text-center gap-2">
            <span class="text-xs text-gray-100">Subframe</span>
            <p-inputSwitch [disabled]="!camera.connected || running" [(ngModel)]="subFrame" (ngModelChange)="savePreference()" />
        </div>
        <div class="col-3 flex pt-3 flex-row align-items-center justify-content-center">
            <p-button [disabled]="!camera.connected || running" icon="mdi mdi-fullscreen" (onClick)="fullsize()"
                      severity="info" size="small" pTooltip="Full size" tooltipPosition="bottom" />
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || running" [(ngModel)]="request.binX" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="1" [max]="4" styleClass="p-inputtext-sm border-0" [allowEmpty]="false"
                               (ngModelChange)="savePreference()" scrollableNumber />
                <label>Bin X</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || running" [(ngModel)]="request.binY" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="1" [max]="4" styleClass="p-inputtext-sm border-0" [allowEmpty]="false"
                               (ngModelChange)="savePreference()" scrollableNumber />
                <label>Bin Y</label>
            </span>
        </div>
    </div>
    <div class="grid py-1 flex align-items-center">
        <div class="col-6">
            <span class="p-float-label">
                <p-dropdown [disabled]="!camera.connected || running || !camera.frameFormats.length" [options]="camera.frameFormats"
                            [(ngModel)]="request.frameFormat" styleClass="p-inputtext-sm border-0" (ngModelChange)="savePreference()"
                            [autoDisplayFirst]="false" />
                <label>Frame Format</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || running" [(ngModel)]="request.gain" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="camera.gainMin" [max]="camera.gainMax" styleClass="p-inputtext-sm border-0" [allowEmpty]="false"
                               (ngModelChange)="savePreference()" scrollableNumber />
                <label>Gain</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || running || !camera.offsetMax" [(ngModel)]="request.offset" mode="decimal"
                               [showButtons]="true" [step]="1.0" [min]="camera.offsetMin" [max]="camera.offsetMax"
                               styleClass="p-inputtext-sm border-0" [allowEmpty]="false" (ngModelChange)="savePreference()" scrollableNumber />
                <label>Offset</label>
            </span>
        </div>
    </div>
    <div class="grid mt-0">
        <div class="col-12 flex align-items-center justify-content-center gap-1">
            <p-button *ngIf="canStartOrAbort" [disabled]="!camera.connected || running" label="Start" (onClick)="startCapture()" icon="mdi mdi-play"
                      severity="success" size="small" [pTooltip]="startTooltip" tooltipPosition="top" [escape]="false"
                      tooltipStyleClass="min-w-22rem flex justify-content-center" />
            <p-button *ngIf="canStartOrAbort" [disabled]="!camera.connected || !running" label="Abort" (onClick)="abortCapture()" icon="mdi mdi-stop"
                      severity="danger" size="small" />
            <p-button *ngIf="canSave" [disabled]="!camera.connected" label="Save" (onClick)="apply()" icon="mdi mdi-content-save"
                      severity="info" size="small" />
        </div>
    </div>
</div>

<neb-dialog-menu #calibrationMenu [model]="calibrationModel" header="Calibration" />
<neb-dialog-menu #cameraMenu [model]="cameraModel" header="Camera" />

<p-dialog header="Dither" [draggable]="true" [(visible)]="showDitherDialog" [modal]="true" [style]="{width: '80vw', maxWidth: '260px'}">
    <div class="grid mt-2">
        <div class="col-3 flex flex-column justify-content-center text-center gap-2">
            <span class="text-xs text-gray-100">Enabled</span>
            <p-inputSwitch [disabled]="!camera.connected || running" [(ngModel)]="request.dither.enabled" (ngModelChange)="savePreference()" />
        </div>
        <div class="col-3 flex flex-column justify-content-center text-center gap-2">
            <span class="text-xs text-gray-100">RA only</span>
            <p-inputSwitch [disabled]="!camera.connected || running || !request.dither.enabled" [(ngModel)]="request.dither.raOnly"
                           (ngModelChange)="savePreference()" />
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || running || !request.dither.enabled" [showButtons]="true"
                               styleClass="border-0 p-inputtext-sm w-full" [min]="0.1" [max]="60" [(ngModel)]="request.dither.amount" [step]="0.1"
                               locale="en" [minFractionDigits]="1" (ngModelChange)="savePreference()" scrollableNumber />
                <label>Dither (px)</label>
            </span>
        </div>
        <div class="col-6 col-offset-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!camera.connected || running || !request.dither.enabled" [showButtons]="true"
                               styleClass="border-0 p-inputtext-sm w-full" [min]="1" [max]="1000"
                               [(ngModel)]="request.dither.afterExposures" [step]="1" (ngModelChange)="savePreference()" scrollableNumber />
                <label>After exposures</label>
            </span>
        </div>
    </div>
</p-dialog>

<p-dialog header="Live Stacking" [draggable]="true" [(visible)]="showLiveStackingDialog" [modal]="true" [style]="{width: '80vw', maxWidth: '280px'}">
    <div class="grid mt-2">
        <div class="col-4 flex flex-column align-items-center justify-content-center text-center gap-2">
            <span class="text-xs text-gray-100">Enabled</span>
            <p-inputSwitch [(ngModel)]="request.liveStacking.enabled" (ngModelChange)="savePreference()" />
        </div>
        <div class="col-8 align-items-center">
            <span class="p-float-label">
                <p-dropdown [disabled]="!request.liveStacking.enabled" [options]="['SIRIL']"
                            [(ngModel)]="request.liveStacking.type" styleClass="p-inputtext-sm border-0" (ngModelChange)="savePreference()"
                            [autoDisplayFirst]="false" />
                <label>Live Stacker</label>
            </span>
        </div>
        <div class="col-6 flex flex-column align-items-center justify-content-center text-center gap-2">
            <span class="text-xs text-gray-100">32-bits (slower)</span>
            <p-inputSwitch [disabled]="!request.liveStacking.enabled || request.liveStacking.type !== 'SIRIL'"
                           [(ngModel)]="request.liveStacking.use32Bits" (ngModelChange)="savePreference()" />
        </div>
        <div class="col-6 align-items-center">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!request.liveStacking.enabled || request.liveStacking.type !== 'SIRIL'" [showButtons]="true"
                               styleClass="border-0 p-inputtext-sm w-full" [min]="0" [max]="360" [(ngModel)]="request.liveStacking.rotate"
                               [step]="0.1" locale="en" (ngModelChange)="savePreference()" scrollableNumber />
                <label>Rotate (°)</label>
            </span>
        </div>
        <div class="col-12 align-items-center">
            <neb-path-chooser [disabled]="!request.liveStacking.enabled" [directory]="false" label="Executable Path"
                              key="LS_EXECUTABLE_PATH" [(path)]="request.liveStacking.executablePath" class="w-full"
                              (pathChange)="savePreference()" />
        </div>
        <div class="col-12 align-items-center">
            <neb-path-chooser [disabled]="!request.liveStacking.enabled" [directory]="false" label="Dark File"
                              key="LS_DARK" [(path)]="request.liveStacking.dark" class="w-full" (pathChange)="savePreference()" />
        </div>
        <div class="col-12 align-items-center">
            <neb-path-chooser [disabled]="!request.liveStacking.enabled" [directory]="false" label="Flat File"
                              key="LS_FLAT" [(path)]="request.liveStacking.flat" class="w-full" (pathChange)="savePreference()" />
        </div>
    </div>
</p-dialog>