<div class="relative flex justify-content-center align-items-center">
	<p-floatLabel class="w-full">
		<p-inputNumber
			[disabled]="!canExposureTime || disabled"
			[ngModel]="current.exposureTime"
			(ngModelChange)="exposureTimeChanged($event)"
			mode="decimal"
			[showButtons]="true"
			[step]="1.0"
			[min]="current.min"
			[max]="current.max"
			locale="en"
			styleClass="p-inputtext-sm border-0"
			[allowEmpty]="false"
			spinnableNumber />
		<label>{{ label || 'Exposure Time' }}</label>
	</p-floatLabel>
	<p-menu
		#exposureTimeMenu
		[model]="model"
		[popup]="true"
		appendTo="body" />
	<p-button
		[text]="true"
		[disabled]="!canExposureTime || !canExposureTimeUnit || disabled"
		(onClick)="exposureTimeMenu.toggle($event)"
		styleClass="absolute"
		[style]="{ right: '30px', top: '4px', maxHeight: '22px' }"
		[label]="unit | enum"
		severity="info"
		(wheel)="exposureTimeUnitWheeled($event)" />
</div>
