<div class="relative flex justify-content-center align-items-center">
	<neb-input-number
		[label]="label || 'Exposure Time'"
		[disabled]="!canExposureTime || disabled"
		[value]="current.exposureTime"
		(valueChange)="exposureTimeChanged($event)"
		[min]="current.min"
		[max]="current.max" />

	<p-menu
		#exposureTimeMenu
		[model]="model"
		[popup]="true"
		appendTo="body" />
	<p-button
		[text]="true"
		[disabled]="!canExposureTime || !canExposureTimeUnit || disabled"
		(onClick)="exposureTimeMenu.toggle($event)"
		styleClass="absolute"
		[style]="{ right: '30px', top: '4px', maxHeight: '22px' }"
		[label]="unit | enum"
		severity="info"
		(wheel)="exposureTimeUnitWheeled($event)" />
</div>
