<div class="grid pb-3">
	<div class="col-12">
		<p-tabView [(activeIndex)]="tab">
			@for (key of groups; track key) {
				@let value = frames.get(key) ?? [];
				<p-tabPanel [header]="key">
					<div class="mt-1 grid px-3">
						<div class="col-12 flex items-center justify-between">
							<div class="flex items-center justify-start gap-2">
								<neb-button
									label="Files"
									icon="mdi mdi-file-plus"
									severity="success"
									(action)="openFilesToUpload(key)" />
								<neb-button
									label="Directory"
									icon="mdi mdi-folder-plus"
									severity="success"
									(action)="openDirectoryToUpload(key)" />
							</div>
							<span class="text-sm text-gray-500">{{ this.frames.get(key)?.length ?? 0 }} frames</span>
							<div class="flex items-center justify-end gap-2">
								<p-menu
									#groupMenu
									[model]="groupModel"
									(onShow)="activeGroup = key"
									[popup]="true" />
								<neb-button
									icon="mdi mdi-dots-vertical"
									(action)="groupMenu.toggle($event)" />
							</div>
						</div>
						<div class="col-12">
							<p-listbox
								#frameListBox
								[options]="value"
								[(ngModel)]="selectedFrames"
								(ngModelChange)="frameSelected()"
								[multiple]="true"
								[metaKeySelection]="false"
								[style]="{ width: '100%', height: '296px' }"
								[listStyle]="{ maxHeight: '296px', height: '296px' }"
								emptyMessage="No frames">
								<ng-template
									#item
									let-item>
									<div class="flex w-full items-center justify-between gap-2">
										<div class="flex flex-1 flex-col justify-center gap-2">
											<div class="flex items-center justify-between gap-2 text-gray-400">
												<div class="flex items-center justify-start gap-2 text-xs">
													<neb-checkbox
														[(value)]="item.enabled"
														(valueChange)="toggleFrame(item, $event)" />
													<div class="flex flex-col justify-center">
														<span class="text-base font-bold">{{ item.type }}</span>
														<div class="flex w-full flex-nowrap items-center justify-start gap-2 text-xs text-gray-200">
															<span class="text-orange-300">{{ item.exposureTime | exposureTime }}</span>
															<span class="text-cyan-300">{{ item.width }}x{{ item.height }}</span>
															<span class="text-yellow-300">{{ item.binX }}x{{ item.binY }}</span>
															@if (item.gain) {
																<span>GAIN: {{ item.gain }}</span>
															}
															@if (item.temperature < 100 && item.temperature > -100) {
																<span class="text-red-300">{{ item.temperature }}°C</span>
															}
														</div>
														<span class="text-nowrap text-xs text-gray-200">{{ item.path }}</span>
													</div>
												</div>
												<div class="flex items-center justify-end gap-1">
													<neb-button
														icon="mdi mdi-image"
														tooltip="View image"
														(action)="openFrame(item)" />
													<neb-button
														icon="mdi mdi-pencil"
														tooltip="Rename Group"
														(action)="showEditGroupDialog(item)" />
													<neb-button
														icon="mdi mdi-delete"
														severity="danger"
														tooltip="Remove"
														(action)="deleteFrame(item, frameListBox)" />
												</div>
											</div>
										</div>
									</div>
								</ng-template>
							</p-listbox>
						</div>
					</div>
				</p-tabPanel>
			}
		</p-tabView>
	</div>
</div>

<p-dialog
	header="Group"
	[modal]="true"
	[(visible)]="groupDialog.showDialog"
	[style]="{ width: '80vw', maxWidth: '240px' }">
	<div class="grid p-2">
		<div class="col-12">
			<neb-input-text
				label="Name"
				[(value)]="groupDialog.group" />
		</div>
	</div>
	<ng-template #footer>
		<neb-button
			[disabled]="!groupDialog.group.length"
			icon="mdi mdi-check"
			label="OK"
			(action)="groupDialog.save?.()" />
	</ng-template>
</p-dialog>
