<div class="container px-4 py-3">
    <div class="grid">
        <div class="col-12">
            <p class="m-0">Groups</p>
        </div>
        <div class="col-12">
            <p-table [value]="groups" [(selection)]="group" selectionMode="single" (selectionChange)="groupSelected()"
                     dataKey="id" styleClass="p-datatable-sm p-datatable-striped"
                     [scrollable]="true" scrollHeight="118px" [paginator]="true" [rows]="100"
                     [pageLinks]="3" [showCurrentPageReport]="true" currentPageReportTemplate="{first}-{last} / {totalRecords}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Type</th>
                        <th>#</th>
                        <th>Filter</th>
                        <th>Duration</th>
                        <th>Size</th>
                        <th>Bin</th>
                        <th>T. (°C)</th>
                        <th>Gain</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="item">
                        <td>{{ item.key.type }}</td>
                        <td>{{ item.frames.length }}</td>
                        <td>{{ item.key.filter ?? '' }}</td>
                        <td>{{ item.key.exposureTime | exposureTime }}</td>
                        <td>{{ item.key.width }}x{{ item.key.height }}</td>
                        <td>{{ item.key.binX }}x{{ item.key.binY }}</td>
                        <td>{{ item.key.temperature }}</td>
                        <td>{{ item.key.gain }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-12">
            <p class="m-0">Frames</p>
        </div>
        <div class="col-12">
            <div class="grid">
                <div class="col-12">
                    <p-table [value]="group?.frames ?? []" [(selection)]="frame" selectionMode="single"
                             dataKey="id" styleClass="p-datatable-sm p-datatable-striped"
                             [scrollable]="true" scrollHeight="110px" [paginator]="true" [rows]="100"
                             [pageLinks]="3" [showCurrentPageReport]="true" currentPageReportTemplate="{first}-{last} / {totalRecords}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 4rem">
                                    <p-checkbox [disabled]="!group?.frames?.length" [binary]="true" [ngModel]="groupIsEnabled"
                                                (onChange)="groupChecked($event)" />
                                </th>
                                <th>Type</th>
                                <th>Filter</th>
                                <th>Duration</th>
                                <th>Size</th>
                                <th>Bin</th>
                                <th>T. (°C)</th>
                                <th>Gain</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>
                                    <p-checkbox [binary]="true" [(ngModel)]="item.enabled" (onChange)="frameChecked(item, $event)" />
                                </td>
                                <td>{{ item.type }}</td>
                                <td>{{ item.filter ?? '' }}</td>
                                <td>{{ item.exposureTime | exposureTime }}</td>
                                <td>{{ item.width }}x{{ item.height }}</td>
                                <td>{{ item.binX }}x{{ item.binY }}</td>
                                <td>{{ item.temperature }}</td>
                                <td>{{ item.gain }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="grid mt-2">
                <div class="col-9">
                    <span class="p-float-label">
                        <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="frame?.path || '-'" />
                        <label>Path</label>
                    </span>
                </div>
                <div class="col-3 flex align-items-center justify-content-center gap-2">
                    <!-- <p-button [disabled]="!frame" [text]="true" icon="mdi mdi-file-replace" severity="info" (onClick)="replaceFrame(frame!)"
                              pTooltip="Replace" tooltipPosition="bottom" /> -->
                    <p-button [disabled]="!frame" [text]="true" icon="mdi mdi-delete" severity="danger" (onClick)="deleteFrame(frame!)"
                              pTooltip="Delete" tooltipPosition="bottom" />
                </div>
            </div>
        </div>
    </div>
</div>