<div class="container px-4 py-3">
    <div class="grid flex align-items-center">
        <div class="col-8 align-items-center gap-2">
            <span class="p-float-label">
                <input type="text" pInputText [readonly]="true" [value]="wheel.name" class="p-inputtext-sm border-0 w-full" />
                <label>Filter Wheel</label>
            </span>
            <p-button *ngIf="wheel.connected" [disabled]="!wheel || moving" (onClick)="connect()" icon="mdi mdi-close"
                      size="small" severity="danger" />
            <p-button *ngIf="!wheel.connected" [disabled]="!wheel || moving" (onClick)="connect()" icon="mdi mdi-connection"
                      size="small" severity="info" />
        </div>
        <div *ngIf="!dialogMode" class="col-12 pt-0 text-sm text-gray-400 flex align-items-center my-1 gap-1">
            <i class="mdi mdi-information text-blue-600"></i>
            <span class="mr-3">{{ moving ? 'moving' : 'idle' }}</span>
            <p-tag *ngIf="wheel.connected && selectedFilter" [value]="selectedFilter.name" severity="info" />
        </div>
    </div>
    <div class="grid mt-2">
        <div class="col-9">
            <span class="p-float-label">
                <p-dropdown [disabled]="!wheel.connected || moving" [options]="filters" [(ngModel)]="filter" styleClass="border-0"
                            emptyMessage="No filter found" [autoDisplayFirst]="false" appendTo="body">
                    <ng-template let-item pTemplate="selectedItem">
                        <div class="flex flex-column justify-content-center gap-1">
                            <span class="flex align-items-center text-xs gap-1" style="min-height: 15px">
                                <p-tag *ngIf="filter" value="#{{ filter.position }}" />
                                <p-tag *ngIf="filter" value="OFFSET: {{ filter.offset }}" severity="success" />
                                <i *ngIf="filter?.dark" class="mdi mdi-camera-iris"></i>
                            </span>
                            <span>{{ filter?.name }}</span>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="flex flex-column justify-content-center gap-1">
                            <span class="flex align-items-center text-xs gap-1" style="min-height: 15px">
                                <p-tag value="#{{ item.position }}" />
                                <p-tag value="OFFSET: {{ item.offset }}" severity="success" />
                                <i *ngIf="item.dark" class="mdi mdi-camera-iris"></i>
                            </span>
                            <span>{{ item.name }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <label>Filter</label>
            </span>
        </div>
        <div class="col-3 flex align-items-center justify-content-center">
            <p-button [disabled]="!wheel.connected || dialogMode || moving || filter?.position === position" label="Move" icon="mdi mdi-check"
                      (onClick)="filter && moveTo(filter)" />
        </div>
    </div>
    <div class="grid mt-2" *ngIf="filter && !dialogMode">
        <div class="col-7">
            <span class="p-float-label">
                <input pInputText [disabled]="!wheel.connected || dialogMode || moving" [(ngModel)]="filter.name"
                       (ngModelChange)="filterNameChanged(filter)" [maxLength]="16" class="border-0 w-full p-inputtext-sm">
                <label>Name</label>
            </span>
        </div>
        <div class="col-5">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!wheel.connected || dialogMode || moving" [(ngModel)]="filter.offset" [min]="-1000000" [max]="1000000"
                               [showButtons]="true" locale="en" styleClass="border-0 w-full p-inputtext-sm" />
                <label>Focus offset</label>
            </span>
        </div>
        <div *ngIf="!dialogMode" class="col-12 flex flex-column justify-content-center gap-2">
            <p-checkbox [binary]="true" [disabled]="!wheel.connected || dialogMode || moving" [ngModel]="filter.dark"
                        (onChange)="shutterToggled(filter, $event)" label="Shutter" />
        </div>
    </div>
    <div class="grid mt-2" *ngIf="dialogMode">
        <div *ngIf="dialogMode" class="col-12 flex justify-content-center gap-2">
            <p-button [disabled]="!wheel.connected || !filter || !filters.length" label="Save" (onClick)="apply()" icon="mdi mdi-content-save"
                      severity="info" />
        </div>
    </div>
</div>