<div class="flex flex-col gap-3 p-4">
	<div class="grid grid-cols-12 gap-3">
		<div class="col-span-full flex items-center gap-3">
			<neb-device-name
				[device]="wheel"
				class="flex-1" />
			@if (wheel.connected) {
				<neb-button
					[disabled]="moving"
					(action)="connect()"
					icon="mdi mdi-close"
					severity="danger"
					tooltip="Disconnect" />
			} @else {
				<neb-button
					[disabled]="moving"
					(action)="connect()"
					icon="mdi mdi-connection"
					severity="info"
					tooltip="Connect" />
			}
			<neb-button-indi [device]="wheel" />
		</div>
		@if (canShowInfo) {
			<div class="col-span-full my-1 flex items-center !justify-start gap-1 pt-0 text-sm text-gray-400">
				<i class="mdi mdi-information text-blue-500"></i>
				<span class="mr-3">{{ moving ? 'moving' : 'idle' }}</span>
				@if (wheel.connected && currentFilter) {
					@if (currentFilter.position) {
						<neb-tag label="#{{ currentFilter.position }}" />
					}
					<neb-info [label]="currentFilter.name" />
				}
			</div>
		}
	</div>
	<div class="grid grid-cols-12 gap-3">
		<div class="col-span-9">
			<ng-template
				#filterDropdownItem
				let-item
				let-selected="selected">
				<div class="flex flex-col justify-center gap-1">
					@let mItem = selected ? filter : item;

					<span class="flex min-h-5 items-center gap-1 text-xs">
						@if (mItem) {
							<neb-tag label="#{{ mItem.position }}" />
							<neb-success label="OFFSET: {{ focusOffsetForFilter(mItem) }}" />
							@if (mItem.dark) {
								<i class="mdi mdi-camera-iris"></i>
							}
						}
					</span>
					<span>{{ mItem?.name }}</span>
				</div>
			</ng-template>
			<neb-dropdown
				label="Filter"
				[disabled]="!wheel.connected || moving"
				[options]="filters"
				[(value)]="filter"
				(valueChange)="filterChanged()"
				emptyMessage="No filter available"
				[itemTemplate]="filterDropdownItem" />
		</div>
		<div class="col-span-3">
			<neb-button
				[disabled]="!canMoveTo || !wheel.connected || moving || filter?.position === position"
				label="Move"
				icon="mdi mdi-check"
				(action)="moveToSelectedFilter()" />
		</div>
	</div>
	@if (filter) {
		@if (canEdit) {
			<div class="grid grid-cols-12 gap-3">
				<div class="col-span-8">
					<neb-input-text
						label="Name"
						[disabled]="!wheel.connected || moving"
						[maxLength]="16"
						[(value)]="filter.name"
						(valueChange)="filterNameChanged(filter)" />
				</div>
				<div class="col-span-4">
					<neb-checkbox
						[disabled]="!wheel.connected || moving"
						[value]="filter.dark"
						(valueChange)="shutterToggled(filter, $event)"
						label="Shutter" />
				</div>
			</div>
		}
		<div class="flex w-full items-center justify-between gap-2">
			<neb-device-chooser
				title="FOCUSER"
				class="flex-1"
				icon="mdi mdi-image-filter-center-focus"
				[disabled]="!canChangeFocusOffset"
				[devices]="focusers"
				[(device)]="focuser"
				(deviceChange)="focuserChanged()"
				(deviceConnect)="focuserChanged()" />
			<neb-input-number
				label="Focus offset"
				class="!max-w-36"
				[disabled]="!wheel.connected || moving || !focuser?.connected || !canChangeFocusOffset"
				[min]="focuserMinPosition"
				[max]="focuserMaxPosition"
				[(value)]="focuserOffset"
				(valueChange)="focusOffsetChanged()" />
		</div>
	}
	@if (canApply) {
		<div class="flex w-full justify-center">
			<neb-button
				[disabled]="!wheel.connected || !filter || !filters.length"
				label="Save"
				(action)="apply()"
				icon="mdi mdi-content-save"
				severity="info" />
		</div>
	}
</div>
