<div class="container px-4 py-3">
    <div class="grid flex align-items-center">
        <div class="col-8">
            <span class="p-float-label">
                <input type="text" pInputText [readonly]="true" [value]="wheel?.name" class="p-inputtext-sm border-0 w-full" />
                <label>Filter Wheel</label>
            </span>
        </div>
        <div class="col-2 flex align-items-center gap-1">
            <p-button *ngIf="connected" [disabled]="!wheel || moving" (onClick)="connect()" icon="mdi mdi-close"
                      size="small" severity="danger" />
            <p-button *ngIf="!connected" [disabled]="!wheel || moving" (onClick)="connect()" icon="mdi mdi-connection"
                      size="small" severity="info" />
        </div>
        <div class="col-12 pt-0 text-sm text-gray-400 flex align-items-center my-1 gap-1">
            <i class="mdi mdi-information text-blue-600"></i>
            <span class="mr-3">{{ moving ? 'moving' : 'idle' }}</span>
            <p-tag *ngIf="connected && selectedFilter" [value]="selectedFilter.name" severity="info" />
        </div>
    </div>
    <div class="grid">
        <div class="col-12 overflow-x-hidden overflow-y-auto" style="height: 143px; scroll-snap-type: y mandatory;">
            @for (item of filters; track item.position) {
            <div class="grid mr-1 mt-1 border-round" [class.surface-card]="item.expanded && item.position !== position"
                 [class.bg-blue-900]="connected && item.position === position"
                 style="min-height: 48px; scroll-snap-align: start; scroll-snap-stop: always;">
                <div class="col-12 flex flex-column align-items-center justify-content-center p-1">
                    <div class="align-items-center flex justify-content-between ng-star-inserted p-1 w-full">
                        <span class="align-items-center flex gap-1">
                            {{ item.name }}
                            <i *ngIf="item.dark" class="mdi mdi-camera-iris"></i>
                        </span>
                        <span class="flex align-items-center justify-content-center gap-1">
                            <p-button [disabled]="!connected || moving || item.position === position" label="Move" (onClick)="moveTo(item)" />
                            <p-button [disabled]="!connected || moving" *ngIf="!item.expanded" [text]="true" [rounded]="true" icon="mdi mdi-plus"
                                      (onClick)="item.expanded = true" />
                            <p-button [disabled]="!connected || moving" *ngIf="item.expanded" [text]="true" [rounded]="true" icon="mdi mdi-minus"
                                      (onClick)="item.expanded = false" />
                        </span>
                    </div>
                    <div class="grid" *ngIf="item.expanded">
                        <div class="col-8 flex align-items-center justify-content-center gap-1">
                            <span class="p-float-label">
                                <input type="text" pInputText class="p-inputtext-sm border-0 w-full" [(ngModel)]="item.newName"
                                       [maxLength]="16" />
                                <label>New name</label>
                            </span>
                            <p-button severity="success" [text]="true" icon="mdi mdi-check" styleClass="p-button-sm"
                                      (onClick)="applyFilterName(item, $event)" />
                        </div>
                        <div class="col-4 flex flex-column align-items-center justify-content-center gap-1">
                            <span>Dark</span>
                            <p-checkbox [binary]="true" [ngModel]="item.dark" (onChange)="shutterToggled(item, $event)" />
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>