<div class="container px-4 py-3">
	<div class="flex items-center">
		<div class="w-full items-center gap-2">
			<neb-device-name [device]="dustCap" />
			<p-button
				*ngIf="dustCap.connected"
				(onClick)="connect()"
				icon="mdi mdi-close"
				size="small"
				severity="danger"
				pTooltip="Disconnect"
				tooltipPosition="bottom"
				[text]="true" />
			<p-button
				*ngIf="!dustCap.connected"
				(onClick)="connect()"
				icon="mdi mdi-connection"
				size="small"
				severity="info"
				pTooltip="Connect"
				tooltipPosition="bottom"
				[text]="true" />
		</div>
		<div class="my-1 flex w-full items-center justify-between gap-1 pt-0 text-sm text-gray-400">
			<div class="flex items-center gap-1">
				<i class="mdi mdi-information text-info"></i>
				<span style="display: contents">{{ dustCap.parking ? 'moving' : dustCap.parked ? 'closed' : 'open' }}</span>
			</div>
		</div>
	</div>
	<div class="mt-1 grid">
		<div class="w-full items-center justify-center text-center">
			<div class="flex flex-col items-center justify-center gap-2 text-center">
				@if (dustCap.parked) {
					<p-button
						[text]="true"
						[disabled]="!dustCap.connected || dustCap.parking"
						icon="mdi mdi-lock-open"
						severity="danger"
						label="Open"
						(onClick)="togglePark()" />
				} @else {
					<p-button
						[text]="true"
						[disabled]="!dustCap.connected || dustCap.parking"
						icon="mdi mdi-lock"
						severity="success"
						label="Close"
						(onClick)="togglePark()" />
				}
			</div>
		</div>
	</div>
</div>
