<div class="grid px-4 py-3">
    <div class="col-12">
        <p-tabView>
            <p-tabPanel header="PHD2" leftIcon="mdi mdi-target">
                <div class="grid mt-1 flex justify-content-center align-items-center">
                    <div class="col-6 px-0">
                        <span class="p-float-label">
                            <input [disabled]="connected" type="text" pInputText class="border-0 p-inputtext-sm w-full" placeholder="localhost"
                                   [(ngModel)]="host" />
                            <label>Host</label>
                        </span>
                    </div>
                    <div class="col-4 pr-0">
                        <span class="p-float-label">
                            <p-inputNumber [disabled]="connected" [showButtons]="true" styleClass="border-0 p-inputtext-sm w-full"
                                           placeholder="7624" [(ngModel)]="port" [format]="false" />
                            <label>Port</label>
                        </span>
                    </div>
                    <div class="col-2 text-center pr-0">
                        <p-button *ngIf="connected" (onClick)="guidingConnect()" icon="mdi mdi-close" size="small" severity="danger" />
                        <p-button *ngIf="!connected" (onClick)="guidingConnect()" icon="mdi mdi-connection"
                                  size="small" severity="info" />
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12 pt-0 text-sm text-gray-400 flex align-items-center my-1 gap-1 text-center text-sm" style="min-height: 25px;">
                        <i class="mdi mdi-information text-blue-600"></i>
                        <span style="min-width: 44px" class="text-left mr-2">{{ guideState | enum | lowercase }}</span>
                        <span class="text-left">{{ message }}</span>
                    </div>
                </div>
                <p-tabView class="relative">
                    <p-tabPanel leftIcon="mdi mdi-chart-bell-curve">
                        <div class="grid mt-1">
                            <div class="col-3">
                                <span class="p-float-label">
                                    <input readonly pInputText class="p-inputtext-sm border-0 w-full"
                                           value="{{ rmsRA.toFixed(2) + ' (' + (rmsRA * pixelScale).toFixed(2) + '\" )' }}" />
                                    <label>RMS RA</label>
                                </span>
                            </div>
                            <div class="col-3">
                                <span class="p-float-label">
                                    <input readonly pInputText class="p-inputtext-sm border-0 w-full"
                                           value="{{ rmsDEC.toFixed(2) + ' (' + (rmsDEC * pixelScale).toFixed(2) + '\" )' }}" />
                                    <label>RMS DEC</label>
                                </span>
                            </div>
                            <div class="col-3">
                                <span class="p-float-label">
                                    <input readonly pInputText class="p-inputtext-sm border-0 w-full"
                                           value="{{ rmsTotal.toFixed(2) + ' (' + (rmsTotal * pixelScale).toFixed(2) + '\" )' }}" />
                                    <label>RMS Total</label>
                                </span>
                            </div>
                            <div class="col-3">
                                <span class="p-float-label">
                                    <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="guideStep?.starMass ?? 0" />
                                    <label>Star mass</label>
                                </span>
                            </div>
                            <div class="col-2">
                                <span class="p-float-label">
                                    <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="guideStep?.hfd ?? 0" />
                                    <label>HFD</label>
                                </span>
                            </div>
                            <div class="col-2">
                                <span class="p-float-label">
                                    <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="guideStep?.snr ?? 0" />
                                    <label>SNR</label>
                                </span>
                            </div>
                            <div class="col-4">
                                <span class="p-float-label">
                                    <p-dropdown [options]="plotModes" [(ngModel)]="plotMode" (ngModelChange)="plotModeChanged()"
                                                styleClass="p-inputtext-sm border-0" [autoDisplayFirst]="false" />
                                    <label>Plot Mode</label>
                                </span>
                            </div>
                            <div class="col-4">
                                <span class="p-float-label">
                                    <p-dropdown [options]="yAxisUnits" [(ngModel)]="yAxisUnit" (ngModelChange)="yAxisUnitChanged()"
                                                styleClass="p-inputtext-sm border-0" [autoDisplayFirst]="false" />
                                    <label>Unit</label>
                                </span>
                            </div>
                        </div>
                        <div class="grid relative">
                            <div class="col-12">
                                <p-chart #chart width="100%" height="140px" [data]="chartData" [responsive]="true"
                                         [options]="chartOptions" />
                            </div>
                            <span class="absolute right-0 text-blue-500" style="top: 16px;">North</span>
                            <span class="absolute right-0 text-red-500" style="bottom: 26px;">East</span>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel leftIcon="mdi mdi-cog">
                        <div class="grid mt-1">
                            <div class="col-5">
                                <span class="p-float-label">
                                    <p-inputNumber [disabled]="!connected || guiding" [showButtons]="true"
                                                   styleClass="border-0 p-inputtext-sm w-full" locale="en" [min]="1" [max]="25"
                                                   [(ngModel)]="settleAmount" (ngModelChange)="settleChanged()" [step]="0.1"
                                                   [minFractionDigits]="1" />
                                    <label>Settle tolerance (px)</label>
                                </span>
                            </div>
                            <div class="col-6">
                                <span class="p-float-label">
                                    <p-inputNumber [disabled]="!connected || guiding" [showButtons]="true"
                                                   styleClass="border-0 p-inputtext-sm w-full" [min]="1" [max]="60"
                                                   [(ngModel)]="settleTime" (ngModelChange)="settleChanged()" [step]="1" />
                                    <label>Minimum settle time (s)</label>
                                </span>
                            </div>
                            <div class="col-6">
                                <span class="p-float-label">
                                    <p-inputNumber [disabled]="!connected || guiding" [showButtons]="true"
                                                   styleClass="border-0 p-inputtext-sm w-full" [min]="1" [max]="60"
                                                   [(ngModel)]="settleTimeout" (ngModelChange)="settleChanged()" [step]="1" />
                                    <label>Settle timeout (s)</label>
                                </span>
                            </div>
                        </div>
                    </p-tabPanel>
                    <div class="mt-1 absolute" style="top: -12px; right: 10px">
                        <div class="flex align-items-center justify-content-center gap-1">
                            <!-- <p-button [disabled]="!connected || guiding || looping" label="Start" (onClick)="guidingStart($event)"
                                      icon="mdi mdi-play" severity="success" /> -->
                            <p-button [disabled]="!connected" label="Clear" (onClick)="guidingClearHistory()" icon="mdi mdi-broom"
                                      severity="info" />
                            <p-button [disabled]="!connected || !guiding" label="Stop" (onClick)="guidingStop()" icon="mdi mdi-stop"
                                      severity="danger" />
                        </div>
                    </div>
                </p-tabView>
            </p-tabPanel>
            <p-tabPanel header="Guide pulse" leftIcon="mdi mdi-pulse">
                <div class="col-12 flex flex-row align-items-center gap-2">
                    <span class="p-float-label w-full">
                        <p-dropdown [options]="guideOutputs" [(ngModel)]="guideOutput" optionLabel="name" (ngModelChange)="guideOutputChanged()"
                                    styleClass="p-inputtext-sm border-0" emptyMessage="No guide output found" />
                        <label>Guide Output</label>
                    </span>

                    <p-button *ngIf="guideOutputConnected" [disabled]="!guideOutput || pulseGuiding" (onClick)="connectGuideOutput()"
                              icon="mdi mdi-close" size="small" severity="danger" />
                    <p-button *ngIf="!guideOutputConnected" [disabled]="!guideOutput || pulseGuiding" (onClick)="connectGuideOutput()"
                              icon="mdi mdi-connection" size="small" severity="info" />
                </div>
                <div class="grid mt-2">
                    <div class="col-4"></div>
                    <div class="col-4 flex flex-column gap-2 align-items-center justify-content-center">
                        <span class="p-float-label">
                            <p-inputNumber [disabled]="!guideOutputConnected || pulseGuiding" [(ngModel)]="guideNorthDuration" [step]="1" [min]="1"
                                           [max]="1800000" locale="en" styleClass="p-inputtext-sm border-0" [showButtons]="true" />
                            <label>North (ms)</label>
                        </span>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4 flex flex-row gap-2 align-items-center justify-content-center">
                        <span class="p-float-label">
                            <p-inputNumber [disabled]="!guideOutputConnected || pulseGuiding" [(ngModel)]="guideWestDuration" [step]="1" [min]="1"
                                           [max]="1800000" locale="en" styleClass="p-inputtext-sm border-0" [showButtons]="true" />
                            <label>West (ms)</label>
                        </span>
                    </div>
                    <div class="col-4">
                        <div class="grid">
                            <div class="col-4 flex align-items-center justify-content-center">
                                <p-button [disabled]="!guideOutputConnected || pulseGuiding" (onClick)="guidePulseStart('NORTH', 'WEST')"
                                          icon="mdi mdi-lg mdi-arrow-top-left-thick" [text]="true" styleClass="w-4rem" />
                            </div>
                            <div class="col-4 flex align-items-center justify-content-center">
                                <p-button [disabled]="!guideOutputConnected || pulseGuiding" (onClick)="guidePulseStart('NORTH')"
                                          icon="mdi mdi-lg mdi-arrow-up-thick" [text]="true" styleClass="w-4rem" />
                            </div>
                            <div class="col-4 flex align-items-center justify-content-center">
                                <p-button [disabled]="!guideOutputConnected || pulseGuiding" (onClick)="guidePulseStart('NORTH', 'EAST')"
                                          icon="mdi mdi-lg mdi-arrow-top-right-thick" [text]="true" styleClass="w-4rem" />
                            </div>
                            <div class="col-4 flex align-items-center justify-content-center">
                                <p-button [disabled]="!guideOutputConnected || pulseGuiding" (onClick)="guidePulseStart('WEST')"
                                          icon="mdi mdi-lg mdi-arrow-left-thick" [text]="true" styleClass="w-4rem" />
                            </div>
                            <div class="col-4 flex align-items-center justify-content-center">
                                <p-button [disabled]="!guideOutputConnected || !pulseGuiding" (onClick)="guidePulseStop()"
                                          icon="mdi mdi-lg mdi-close-circle" [text]="true" severity="danger" styleClass="w-full" />
                            </div>
                            <div class="col-4 flex align-items-center justify-content-center">
                                <p-button [disabled]="!guideOutputConnected || pulseGuiding" (onClick)="guidePulseStart('EAST')"
                                          icon="mdi mdi-lg mdi-arrow-right-thick" [text]="true" styleClass="w-4rem" />
                            </div>
                            <div class="col-4 flex align-items-center justify-content-center">
                                <p-button [disabled]="!guideOutputConnected || pulseGuiding" (onClick)="guidePulseStart('SOUTH', 'WEST')"
                                          icon="mdi mdi-lg mdi-arrow-bottom-left-thick" [text]="true" styleClass="w-4rem" />
                            </div>
                            <div class="col-4 flex align-items-center justify-content-center">
                                <p-button [disabled]="!guideOutputConnected || pulseGuiding" (onClick)="guidePulseStart('SOUTH')"
                                          icon="mdi mdi-lg mdi-arrow-down-thick" [text]="true" styleClass="w-4rem" />
                            </div>
                            <div class="col-4 flex align-items-center justify-content-center">
                                <p-button [disabled]="!guideOutputConnected || pulseGuiding" (onClick)="guidePulseStart('SOUTH', 'EAST')"
                                          icon="mdi mdi-lg mdi-arrow-bottom-right-thick" [text]="true" styleClass="w-4rem" />
                            </div>
                        </div>
                    </div>
                    <div class="col-4 flex flex-row gap-2 align-items-center justify-content-center">
                        <span class="p-float-label">
                            <p-inputNumber [disabled]="!guideOutputConnected || pulseGuiding" (onClick)="guidePulseStart('EAST')"
                                           [(ngModel)]="guideEastDuration" [step]="1" [min]="1" [max]="1800000" locale="en"
                                           styleClass="p-inputtext-sm border-0" [showButtons]="true" />
                            <label>East (ms)</label>
                        </span>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4 flex flex-column gap-2 align-items-center justify-content-center">
                        <span class="p-float-label">
                            <p-inputNumber [disabled]="!guideOutputConnected || pulseGuiding" (onClick)="guidePulseStart('SOUTH')"
                                           [(ngModel)]="guideSouthDuration" [step]="1" [min]="1" [max]="1800000" locale="en"
                                           styleClass="p-inputtext-sm border-0" [showButtons]="true" />
                            <label>South (ms)</label>
                        </span>
                    </div>
                    <div class="col-4"></div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>