<div class="flex flex-col">
	<div class="w-full">
		<p-tabs value="0">
			<p-tablist>
				<p-tab value="0">
					<i class="mdi mdi-target mr-1"></i>
					PHD2
				</p-tab>
				<p-tab value="1">
					<i class="mdi mdi-pulse mr-1"></i>
					Guide Pulse
				</p-tab>
			</p-tablist>
			<p-tabpanels>
				<p-tabpanel value="0">
					<div class="grid grid-cols-12 gap-3 p-4">
						<div class="col-span-6">
							<neb-input-text
								label="Host"
								[disabled]="guider.connected"
								placeholder="localhost"
								[(value)]="preference.host"
								(valueChange)="savePreference()" />
						</div>
						<div class="col-span-3">
							<neb-input-number
								label="Port"
								[disabled]="guider.connected"
								placeholder="7624"
								[(value)]="preference.port"
								(valueChange)="savePreference()"
								[format]="false" />
						</div>
						<div class="col-span-1">
							@if (guider.connected) {
								<neb-button
									(action)="guidingConnect()"
									icon="mdi mdi-close"
									severity="danger"
									tooltip="Disconnect" />
							} @else {
								<neb-button
									(action)="guidingConnect()"
									icon="mdi mdi-connection"
									severity="info"
									tooltip="Connect" />
							}
						</div>
						<div class="col-span-full my-1 flex items-center !justify-start gap-1 pt-0 text-sm text-gray-400">
							<i class="mdi mdi-information text-blue-500"></i>
							<span class="mr-2 min-w-14 text-left">{{ guider.state | enum | lowercase }}</span>
							<span class="text-left">{{ guider.message }}</span>
						</div>
						<div class="relative col-span-full">
							<p-tabs value="0">
								<p-tablist>
									<p-tab value="0"><i class="mdi mdi-chart-bell-curve"></i></p-tab>
									<p-tab value="1"><i class="mdi mdi-cog"></i></p-tab>
								</p-tablist>
								<p-tabpanels>
									<p-tabpanel value="0">
										<div class="grid grid-cols-12 gap-3 py-4">
											<div class="col-span-3">
												<neb-input-text
													label="RMS RA"
													[readonly]="true"
													value="{{ chartInfo.rmsRA.toFixed(2) + ' (' + (chartInfo.rmsRA * chartInfo.pixelScale).toFixed(2) + '&quot; )' }}" />
											</div>
											<div class="col-span-3">
												<neb-input-text
													label="RMS DEC"
													[readonly]="true"
													value="{{ chartInfo.rmsDEC.toFixed(2) + ' (' + (chartInfo.rmsDEC * chartInfo.pixelScale).toFixed(2) + '&quot; )' }}" />
											</div>
											<div class="col-span-3">
												<neb-input-text
													label="RMS Total"
													[readonly]="true"
													value="{{ chartInfo.rmsTotal.toFixed(2) + ' (' + (chartInfo.rmsTotal * chartInfo.pixelScale).toFixed(2) + '&quot; )' }}" />
											</div>
											<div class="col-span-3">
												<neb-input-text
													label="Star mass"
													[readonly]="true"
													[value]="guider.step?.starMass ?? 0" />
											</div>
											<div class="col-span-2">
												<neb-input-text
													label="HFD"
													[readonly]="true"
													[value]="guider.step?.hfd ?? 0" />
											</div>
											<div class="col-span-2">
												<neb-input-text
													label="SNR"
													[readonly]="true"
													[value]="guider.step?.snr ?? 0" />
											</div>
											<div class="col-span-4">
												<neb-dropdown-enum
													label="Plot Mode"
													[options]="'GUIDER_PLOT_MODE' | dropdownOptions"
													[(value)]="preference.plotMode"
													(valueChange)="plotModeChanged()" />
											</div>
											<div class="col-span-4">
												<neb-dropdown-enum
													label="Unit"
													[options]="'GUIDER_Y_AXIS_UNIT' | dropdownOptions"
													[(value)]="preference.yAxisUnit"
													(valueChange)="yAxisUnitChanged()" />
											</div>
											<div class="relative col-span-full">
												<div class="w-full">
													<p-chart
														#chart
														width="100%"
														class="w-full"
														height="140px"
														[data]="chartData"
														[responsive]="true"
														[options]="chartOptions" />
												</div>
												<span class="absolute top-[16px] right-0 text-blue-500">North</span>
												<span class="absolute right-0 bottom-[26px] text-red-500">East</span>
											</div>
										</div>
									</p-tabpanel>
									<p-tabpanel value="1">
										<div class="grid grid-cols-12 gap-3 py-4">
											<div class="col-span-4">
												<neb-input-number
													label="Settle tolerance (px)"
													[disabled]="guider.connected"
													[min]="1"
													[max]="25"
													[step]="0.1"
													[(value)]="preference.settle.amount"
													(valueChange)="savePreference()" />
											</div>
											<div class="col-span-4">
												<neb-input-number
													label="Min settle time (s)"
													[disabled]="guider.connected"
													[min]="1"
													[max]="60"
													[(value)]="preference.settle.time"
													(valueChange)="savePreference()" />
											</div>
											<div class="col-span-4">
												<neb-input-number
													label="Settle timeout (s)"
													[disabled]="guider.connected"
													[min]="1"
													[max]="60"
													[(value)]="preference.settle.timeout"
													(valueChange)="savePreference()" />
											</div>
										</div>
									</p-tabpanel>
								</p-tabpanels>
							</p-tabs>
							<div class="absolute top-[-12px] right-[10px]">
								<div class="flex items-center justify-center gap-3">
									<neb-button
										[disabled]="!guider.connected"
										label="Clear"
										(action)="guidingClearHistory()"
										icon="mdi mdi-broom"
										severity="info" />
									<neb-button
										[disabled]="!guider.connected || !guiding"
										label="Stop"
										(action)="guidingStop()"
										icon="mdi mdi-stop"
										severity="danger" />
								</div>
							</div>
						</div>
					</div>
				</p-tabpanel>
				<p-tabpanel value="1">
					<div class="grid grid-cols-12 gap-3 p-4">
						<div class="col-span-full">
							<neb-device-chooser
								title="GUIDE OUTPUT"
								icon="mdi mdi-target"
								[devices]="guideOutputs"
								[(device)]="guideOutput"
								(deviceChange)="guideOutputChanged()"
								[disabled]="guideOutput?.pulseGuiding" />
						</div>
						<div class="col-span-4 col-start-5">
							<neb-input-number
								label="North (ms)"
								[disabled]="!guideOutput || !guideOutput.connected || guideOutput.pulseGuiding"
								[(value)]="preference.pulseDuration.north"
								(valueChange)="savePreference()"
								[min]="1"
								[max]="1800000" />
						</div>
						<div class="col-span-4"></div>
						<div class="col-span-4">
							<neb-input-number
								label="West (ms)"
								[disabled]="!guideOutput || !guideOutput.connected || guideOutput.pulseGuiding"
								[(value)]="preference.pulseDuration.west"
								(valueChange)="savePreference()"
								[min]="1"
								[max]="1800000" />
						</div>
						<div class="col-span-4">
							<div class="grid grid-cols-12">
								<div class="col-span-4 flex items-center justify-center">
									<neb-button
										[disabled]="!guideOutput?.connected || guideOutput?.pulseGuiding"
										(action)="guidePulseStart('NORTH', 'WEST')"
										icon="mdi mdi-lg mdi-arrow-top-left-thick" />
								</div>
								<div class="col-span-4 flex items-center justify-center">
									<neb-button
										[disabled]="!guideOutput?.connected || guideOutput?.pulseGuiding"
										(action)="guidePulseStart('NORTH')"
										icon="mdi mdi-lg mdi-arrow-up-thick" />
								</div>
								<div class="col-span-4">
									<neb-button
										[disabled]="!guideOutput?.connected || guideOutput?.pulseGuiding"
										(action)="guidePulseStart('NORTH', 'EAST')"
										icon="mdi mdi-lg mdi-arrow-top-right-thick" />
								</div>
								<div class="col-span-4">
									<neb-button
										[disabled]="!guideOutput?.connected || guideOutput?.pulseGuiding"
										(action)="guidePulseStart('WEST')"
										icon="mdi mdi-lg mdi-arrow-left-thick" />
								</div>
								<div class="col-span-4">
									<neb-button
										[disabled]="!guideOutput?.connected || !guideOutput?.pulseGuiding"
										(action)="guidePulseStop()"
										icon="mdi mdi-lg mdi-close-circle"
										severity="danger" />
								</div>
								<div class="col-span-4">
									<neb-button
										[disabled]="!guideOutput?.connected || guideOutput?.pulseGuiding"
										(action)="guidePulseStart('EAST')"
										icon="mdi mdi-lg mdi-arrow-right-thick" />
								</div>
								<div class="col-span-4">
									<neb-button
										[disabled]="!guideOutput?.connected || guideOutput?.pulseGuiding"
										(action)="guidePulseStart('SOUTH', 'WEST')"
										icon="mdi mdi-lg mdi-arrow-bottom-left-thick" />
								</div>
								<div class="col-span-4">
									<neb-button
										[disabled]="!guideOutput?.connected || guideOutput?.pulseGuiding"
										(action)="guidePulseStart('SOUTH')"
										icon="mdi mdi-lg mdi-arrow-down-thick" />
								</div>
								<div class="col-span-4">
									<neb-button
										[disabled]="!guideOutput?.connected || guideOutput?.pulseGuiding"
										(action)="guidePulseStart('SOUTH', 'EAST')"
										icon="mdi mdi-lg mdi-arrow-bottom-right-thick" />
								</div>
							</div>
						</div>
						<div class="col-span-4">
							<neb-input-number
								label="East (ms)"
								[disabled]="!guideOutput || !guideOutput.connected || guideOutput.pulseGuiding"
								[(value)]="preference.pulseDuration.east"
								(valueChange)="savePreference()"
								[min]="1"
								[max]="1800000" />
						</div>
						<div class="col-span-4 col-start-5">
							<neb-input-number
								label="South (ms)"
								[disabled]="!guideOutput || !guideOutput.connected || guideOutput.pulseGuiding"
								[(value)]="preference.pulseDuration.south"
								(valueChange)="savePreference()"
								[min]="1"
								[max]="1800000" />
						</div>
					</div>
				</p-tabpanel>
			</p-tabpanels>
		</p-tabs>
	</div>
</div>
