<div class="grid p-3">
    <div class="col-3 align-items-center flex-column gap-2">
        <img src="assets/icons/nebulosa.png" style="height: 72px">
        <a target="_blank" href="https://github.com/tiagohm/nebulosa">
            <img style="height: 18px;" src="https://img.shields.io/github/stars/tiagohm/nebulosa?style=flat&label=GitHub&color=%231a1e23">
        </a>
    </div>
    <div class="col-9 flex-column">
        <p class="align-items-center flex font-bold gap-2 mb-0 mt-2 text-5xl">
            Nebulosa
            <p-tag class="flex" styleClass="text-lg" value="0.1.0" />
            <p-tag class="flex" styleClass="text-lg" value="Ceres" severity="success" />
        </p>
        <p class="text-md text-gray-400">© 2022-2024 Tiago Melo <img src="assets/icons/brazil.png" class="mx-1" style="width: 16px"> All rights reserved</p>
        <p>This software is WIP, comes with absolutely no warranty and the copyright holder is not liable or responsible for anything.</p>

        <div class="flex align-items-center gap-2 flex-wrap">
            <a target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=U8TGGJTKSZUCA">
                <img src="assets/images/donate-with-paypal-blue.svg" style="height: 31px;">
            </a>
            <a href="https://www.buymeacoffee.com/tiagohm" target="_blank">
                <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 31px;" >
            </a>
        </div>
    </div>
</div>