<div class="grid p-3">
	<div class="col-3 align-items-center flex-column gap-2">
		<img
			src="assets/icons/nebulosa.png"
			style="height: 72px" />
		<a
			target="_blank"
			href="https://github.com/tiagohm/nebulosa">
			<img
				style="height: 18px"
				src="https://img.shields.io/github/stars/tiagohm/nebulosa?style=flat&label=GitHub&color=%231a1e23" />
		</a>
	</div>
	<div class="col-9 flex-column">
		<p class="align-items-center flex font-bold gap-2 mb-0 mt-2 text-5xl">
			Nebulosa
			<p-tag
				class="flex"
				styleClass="text-lg"
				value="0.1.0" />
			<p-tag
				class="flex"
				styleClass="text-lg"
				value="Ceres"
				severity="success" />
		</p>
		<p class="text-sm text-gray-400 mt-0">
			© 2022-2024 Tiago Melo
			<img
				src="assets/icons/brazil.png"
				class="mx-1"
				style="width: 16px" />
			All rights reserved
		</p>
		<div style="height: 128px">
			<p-tabView>
				<p-tabPanel header="Disclaimer">
					<p>This software is WIP, comes with absolutely no warranty and the copyright holder is not liable or responsible for anything.</p>
				</p-tabPanel>
				<p-tabPanel header="Icons">
					<div
						class="w-full flex flex-column overflow-y-auto pt-1"
						style="height: 99px">
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/information_9195785">
							Information icon by Anggara - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/sky_3982229">
							Sky icon by Freepik - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/target_3207593">
							Target icon by Freepik - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/camera-lens_5708327">
							Camera icon by juicy_fish - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/telescope_4011463">
							Telescope icon by Smashicons - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/observatory_2256076">
							Observatory icon by Nikita Golubev - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/focus_3801224">
							Focus icon by FetchLab - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/switch_404449">
							Switch icon by Freepik - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/image_4371206">
							Image icon by Freepik - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/image-processing_6062419">
							Image processing icon by juicy_fish - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/star_740882">
							Star icon by Vectors Market - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/rotate_3303063">
							Rotate icon by Freepik - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/rgb-print_7664547">
							Color wheel icon by BomSymbols - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/cogwheel_3953226">
							Settings icon by Freepik - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/contrast_439842">
							Sun icon by DinosoftLabs - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/full-moon_9689786">
							Moon icon by vectorsmarket15 - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/jupiter_1086078">
							Planet icon by monkik - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/asteroid_1086068">
							Asteroid icon by monkik - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/satellite_1086093">
							Satellite icon by monkik - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/witch-hat_5606276">
							Witch hat icon by Luvdat - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/picture_2659360">
							Picture icon by Freepik - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/magnifier_13113714">
							Magnifier icon by Pop Vectors - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/calculator_7182540">
							Calculator icon by Iconic Panda - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/target_10542035">
							Target icon by Arkinasi - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/stack_3342239">
							Stack icon by Pixel perfect - Flaticon
						</a>
						<a
							target="_blank"
							href="https://www.flaticon.com/free-icon/photo-filter_4892829">
							Photo filter icon by Freepik - Flaticon
						</a>
						<a
							target="_blank"
							href="https://thenounproject.com/icon/random-dither-4259782/">
							Random Dither icon by Arthur Shlain
						</a>
					</div>
				</p-tabPanel>
			</p-tabView>
		</div>
	</div>
	<div class="col-12 flex align-items-center justify-content-center gap-2 flex-wrap">
		<a
			target="_blank"
			href="https://www.paypal.com/donate/?hosted_button_id=U8TGGJTKSZUCA">
			<img
				src="assets/images/donate-with-paypal-blue.svg"
				style="height: 31px" />
		</a>
	</div>
</div>
