<div class="container px-4 pt-4">
    <div class="grid flex justify-content-center align-items-center">
        <div class="col-12 px-2 gap-1">
            <span class="p-float-label">
                <p-dropdown [disabled]="connected" [options]="connections" [(ngModel)]="connection"
                            styleClass="border-0 p-inputtext-sm w-full" [autoDisplayFirst]="false" emptyMessage="No connection found">
                    <ng-template let-item pTemplate="selectedItem">
                        <div class="flex flex-row justify-content-between gap-1">
                            <span>{{ item?.name }}</span>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="flex flex-row align-items-center justify-content-between gap-1 text-xs">
                            <div class="flex flex-column gap-1">
                                <span class="font-bold text-lg">{{ item.name }}</span>
                                <span class="text-sm">{{ item.host }}:{{ item.port }}</span>
                                <div class="flex flex-row align-items-center gap-1 text-xs">
                                    <i class="mdi mdi-sm mdi-clock"></i>
                                    <span>{{ (item.connectedAt | date:'yyyy-MM-dd HH:mm:ss') ?? 'never' }}</span>
                                </div>
                            </div>
                            <div class="flex flex-column gap-3">
                                <i class="mdi mdi-18px mdi-pencil" pTooltip="Edit" tooltipPosition="bottom"
                                   (click)="editConnection(item, $event)"></i>
                                <i class="mdi mdi-18px mdi-close" pTooltip="Remove" tooltipPosition="bottom"
                                   (click)="deleteConnection(item, $event)"></i>
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <label>Connection</label>
            </span>
            <p-button (onClick)="addConnection()" size="small" icon="mdi mdi-plus" severity="success" />
            <p-button *ngIf="!connected" [disabled]="!connection" (onClick)="connect()" size="small" icon="mdi mdi-connection" />
            <p-button *ngIf="connected" [disabled]="!connection" (onClick)="connect()" size="small" icon="mdi mdi-close" severity="danger" />
        </div>
    </div>
    <div class="grid my-2 overflow-y-auto" style="height: calc(62px * 5);">
        <div class="col-4 p-1">
            <p-button [text]="true" [disabled]="!connected || !hasCamera" (onClick)="open('CAMERA')"
                      styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/camera.png" />
                <div class="mt-1 text-sm">Camera</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" [disabled]="!connected || !hasMount" (onClick)="open('MOUNT')"
                      styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/telescope.png" />
                <div class="mt-1 text-sm">Mount</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" [disabled]="!connected || !hasGuider" (onClick)="open('GUIDER')"
                      styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/guider.png" />
                <div class="mt-1 text-sm">Guider</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" [disabled]="!connected || !hasWheel" (onClick)="open('WHEEL')"
                      styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/filter-wheel.png" />
                <div class="mt-1 text-sm">Filter Wheel</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" [disabled]="!connected || !hasFocuser" (onClick)="open('FOCUSER')"
                      styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/focus.png" />
                <div class="mt-1 text-sm">Focuser</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" [disabled]="!connected || !hasRotator" styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/rotate.png" />
                <div class="mt-1 text-sm">Rotator</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" [disabled]="!connected || !hasDome" styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/observatory.png" />
                <div class="mt-1 text-sm">Dome</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" [disabled]="!connected || !hasSwitch" styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/switch.png" />
                <div class="mt-1 text-sm">Switch</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" (onClick)="open('SKY_ATLAS')" styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/atlas.png" />
                <div class="mt-1 text-sm">Sky Atlas</div>
                <p-progressBar *ngIf="skyAtlasProgress !== undefined" mode="indeterminate" class="w-full" styleClass="ml-auto mr-auto"
                               [style]="{width: '50%', height: '2px', marginTop: '2px'}" />
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" [disabled]="!connected || !hasAlignment" (onClick)="open('ALIGNMENT')"
                      styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/star.png" />
                <div class="mt-1 text-sm">Alignment</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" (onClick)="open('SEQUENCER')" [disabled]="!connected || !hasSequencer"
                      styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/sequencer.png" />
                <div class="mt-1 text-sm">Sequencer</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" (onClick)="open('IMAGE')" styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/image.png" />
                <div class="mt-1 text-sm">Image Viewer</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" (onClick)="open('FRAMING')" styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/framing.png" />
                <div class="mt-1 text-sm">Framing</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" (onClick)="open('FLAT_WIZARD')" [disabled]="!connected || !hasFlatWizard"
                      styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/flat-wizard.png" />
                <div class="mt-1 text-sm">Flat Wizard</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" [disabled]="!connected || !hasINDI" (onClick)="open('INDI')"
                      styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/indi.png" />
                <div class="mt-1 text-sm">INDI</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" (onClick)="open('CALCULATOR')" styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/calculator.png" />
                <div class="mt-1 text-sm">Calculator</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" (onClick)="open('SETTINGS')" styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/settings.png" />
                <div class="mt-1 text-sm">Settings</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [text]="true" (onClick)="open('ABOUT')" styleClass="open min-w-full w-full px-1 py-2 flex-column">
                <img src="assets/icons/about.png" />
                <div class="mt-1 text-sm">About</div>
            </p-button>
        </div>
    </div>
</div>

<p-dialog header="Connection" [modal]="true" [draggable]="false" [(visible)]="showConnectionDialog" [style]="{width: '90vw'}">
    <div class="grid p-2" *ngIf="newConnection">
        <div class="col-12">
            <span class="p-float-label">
                <input pInputText class="p-inputtext-sm border-0 w-full" [maxLength]="32" [(ngModel)]="newConnection[0].name" />
                <label>Name</label>
            </span>
        </div>
        <div class="col-12">
            <span class="p-float-label">
                <input pInputText class="p-inputtext-sm border-0 w-full" [(ngModel)]="newConnection[0].host" />
                <label>Host</label>
            </span>
        </div>
        <div class="col-4">
            <span class="p-float-label" style="min-width: 80px;">
                <p-inputNumber [disabled]="connected" [showButtons]="true" styleClass="border-0 p-inputtext-sm w-full" placeholder="7624"
                               [(ngModel)]="newConnection[0].port" [format]="false" />
                <label>Port</label>
            </span>
        </div>
        <div class="col-8">
            <p-selectButton [disabled]="connected" [options]="connectionTypes"
                            [(ngModel)]="newConnection[0].type" styleClass="border-0 w-full" />
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button *ngIf="newConnection" [disabled]="!newConnection[0].name || !newConnection[0].host || !newConnection[0].port"
                  icon="mdi mdi-content-save" label="Save" (onClick)="saveConnection()" [text]="true" size="small" />
    </ng-template>
</p-dialog>

<neb-dialog-menu #deviceMenu [model]="deviceModel" />
<neb-device-list-menu #imageMenu [model]="imageModel" [disableIfNotConnected]="false" />