p-button ::ng-deep {
    &.open {
        min-height: 56px;
        max-height: 56px;
        display: flex;

        img {
            height: 32px;
        }
    }

    &.p-disabled {
        img {
            filter: grayscale(1);
        }
    }
}

.grid::-webkit-scrollbar {
    display: none;
}