:host {
	::ng-deep {
		.buttons p-button {
			display: contents;

			> button {
				min-height: 56px;
				max-height: 56px;
				display: flex;

				img {
					height: 32px;
				}
			}

			&.p-disabled {
				img {
					filter: grayscale(1);
				}
			}
		}
	}

	.indicators {
		top: 50%;
		right: 0.6rem;

		.indicator {
			background-color: #3f3f46;
			width: 0.7rem;
			height: 0.7rem;
			transition:
				background-color 0.2s,
				color 0.2s,
				border-color 0.2s,
				box-shadow 0.2s,
				outline-color 0.2s;
			border-radius: 50%;
			cursor: pointer;
			margin: 1px;

			&.selected {
				background-color: #60a5fa;
			}
		}
	}

	.grid::-webkit-scrollbar {
		display: none;
	}
}
