<div class="grid pt-2 relative h-screen">
    <p-tabView class="w-full" [(activeIndex)]="activeTab">
        <p-tabPanel header="Location">
            <div class="grid p-3">
                <div class="col-5">
                    <span class="p-float-label">
                        <p-dropdown [options]="locations" [(ngModel)]="location" (ngModelChange)="locationChanged()"
                                    optionLabel="name" dataKey="id" styleClass="p-inputtext-sm border-0" emptyMessage="No location found" />
                        <label>Location</label>
                    </span>
                </div>
                <div class="col-4 flex align-items-center gap-1">
                    <p-button (onClick)="addLocation()" icon="mdi mdi-plus" size="small" severity="success" />
                    <p-button (onClick)="editLocation()" icon="mdi mdi-pencil" size="small" severity="info" />
                    <p-button [disabled]="locations.length <= 1" (onClick)="deleteLocation()" icon="mdi mdi-delete"
                              size="small" severity="danger" />
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Plate Solver">
            <div class="grid p-3">
                <div class="col-5">
                    <span class="p-float-label">
                        <p-dropdown [options]="plateSolvers" [(ngModel)]="plateSolver.type" styleClass="p-inputtext-sm border-0" />
                        <label>Type</label>
                    </span>
                </div>
                <div class="col-6">
                    <span class="p-float-label">
                        <input pInputText class="p-inputtext-sm border-0 w-full" [(ngModel)]="plateSolver.executablePath" />
                        <label>Executable path</label>
                    </span>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>