@let mProperty = property();

<div class="m-0 grid grid-cols-12 gap-3 p-4">
	<div class="col-span-3 !justify-start font-bold">
		<i class="mdi mdi-circle {{ mProperty.state }}"></i>
		<span class="ml-2">{{ mProperty.label }}</span>
	</div>
	<div class="col-span-9 !justify-start">
		@if (mProperty.type === 'SWITCH') {
			@if (mProperty.rule === 'ONE_OF_MANY') {
				<div class="flex items-center gap-3">
					@for (item of mProperty.items; track item.name) {
						<neb-button
							[disabled]="mProperty.perm === 'RO' || disabled()"
							[label]="item.label"
							(action)="sendSwitch(item)"
							icon="mdi mdi-{{ item.value ? 'check' : 'close' }}"
							[severity]="item.value ? 'success' : 'danger'" />
					}
				</div>
			}
			@if (mProperty.rule === 'AT_MOST_ONE') {
				<div class="flex items-center gap-3">
					@for (item of mProperty.items; track item.name) {
						<neb-button
							[disabled]="mProperty.perm === 'RO' || disabled()"
							[label]="item.label"
							(action)="sendSwitch(item)"
							icon="mdi mdi-check" />
					}
				</div>
			}
			@if (mProperty.rule === 'ANY_OF_MANY') {
				<div class="flex items-center gap-3">
					@for (item of mProperty.items; track item.name) {
						<neb-button
							[disabled]="mProperty.perm === 'RO' || disabled()"
							[label]="item.label"
							(action)="sendSwitch(item)"
							icon="mdi mdi-{{ item.value ? 'check' : 'close' }}"
							[severity]="item.value ? 'success' : 'danger'" />
					}
				</div>
			}
		} @else if (mProperty.type === 'NUMBER') {
			<div class="flex w-full flex-row items-center gap-3">
				<div class="flex w-9/12 flex-col justify-center gap-3">
					@for (item of mProperty.items; track item.name) {
						<div class="my-0 flex w-full flex-row items-center gap-3">
							@if (mProperty.perm !== 'WO') {
								<div class="w-1/2">
									<neb-input-text
										[label]="item.label"
										[readonly]="true"
										[value]="item.value" />
								</div>
							}
							@if (mProperty.perm !== 'RO') {
								<div class="w-1/2">
									<neb-input-text
										[label]="item.label"
										[(value)]="item.valueToSend" />
								</div>
							}
						</div>
					}
				</div>
				<div class="w-3/12 text-center">
					@if (mProperty.perm !== 'RO') {
						<neb-button
							[disabled]="disabled()"
							label="Send"
							(action)="sendNumber()"
							icon="mdi mdi-send" />
					}
				</div>
			</div>
		} @else if (mProperty.type === 'TEXT') {
			<div class="flex w-full flex-row items-center gap-3">
				<div class="flex w-9/12 flex-col justify-center gap-3">
					@for (item of mProperty.items; track item.name) {
						<div class="my-0 flex w-full flex-row items-center gap-3">
							@if (mProperty.perm !== 'WO') {
								<div class="w-1/2">
									<neb-input-text
										[label]="item.label"
										[readonly]="true"
										[value]="item.value" />
								</div>
							}
							@if (mProperty.perm !== 'RO') {
								<div class="w-1/2">
									<neb-input-text
										[label]="item.label"
										[(value)]="item.valueToSend" />
								</div>
							}
						</div>
					}
				</div>
				<div class="w-3/12 text-center">
					@if (mProperty.perm !== 'RO') {
						<neb-button
							[disabled]="disabled()"
							label="Send"
							(action)="sendText()"
							icon="mdi mdi-send" />
					}
				</div>
			</div>
		}
	</div>
</div>
