@let mProperty = property();

<div class="grid flex align-items-center m-0 px-4 py-2">
	<div class="col-3 flex align-items-center font-bold">
		<i class="mdi mdi-circle {{ mProperty.state }}"></i>
		<span class="ml-2">{{ mProperty.label }}</span>
	</div>
	<div class="col-9">
		@if (mProperty.type === 'SWITCH') {
			@if (mProperty.rule === 'ONE_OF_MANY') {
				<div class="flex align-items-center gap-1">
					@for (item of mProperty.items; track item.name) {
						<neb-button
							[disabled]="mProperty.perm === 'RO' || disabled()"
							[label]="item.label"
							(action)="sendSwitch(item)"
							icon="mdi mdi-{{ item.value ? 'check' : 'close' }}"
							[severity]="item.value ? 'success' : 'danger'" />
					}
				</div>
			}
			@if (mProperty.rule === 'AT_MOST_ONE') {
				<div class="flex align-items-center gap-1">
					@for (item of mProperty.items; track item.name) {
						<neb-button
							[disabled]="mProperty.perm === 'RO' || disabled()"
							[label]="item.label"
							(action)="sendSwitch(item)"
							icon="mdi mdi-check" />
					}
				</div>
			}
			@if (mProperty.rule === 'ANY_OF_MANY') {
				<div class="flex align-items-center gap-1">
					@for (item of mProperty.items; track item.name) {
						<neb-button
							[disabled]="mProperty.perm === 'RO' || disabled()"
							[label]="item.label"
							(action)="sendSwitch(item)"
							icon="mdi mdi-{{ item.value ? 'check' : 'close' }}"
							[severity]="item.value ? 'success' : 'danger'" />
					}
				</div>
			}
		} @else if (mProperty.type === 'NUMBER') {
			<div class="grid flex align-items-center">
				<div class="col-9 flex-column">
					@for (item of mProperty.items; track item.name) {
						<div class="grid my-0 flex align-items-center">
							@if (mProperty.perm !== 'WO') {
								<div class="col-6">
									<neb-input-text
										[label]="item.label"
										[readonly]="true"
										[value]="item.value" />
								</div>
							}
							@if (mProperty.perm !== 'RO') {
								<div class="col-6">
									<neb-input-text
										label="item.label"
										[(value)]="item.valueToSend" />
								</div>
							}
						</div>
					}
				</div>
				<div class="col-3 text-center">
					@if (mProperty.perm !== 'RO') {
						<neb-button
							[disabled]="disabled()"
							label="Send"
							(action)="sendNumber()"
							icon="mdi mdi-send" />
					}
				</div>
			</div>
		} @else if (mProperty.type === 'TEXT') {
			<div class="grid flex align-items-center">
				<div class="col-9 flex-column">
					@for (item of mProperty.items; track item.name) {
						<div class="grid my-0 flex align-items-center">
							@if (mProperty.perm !== 'WO') {
								<div class="col-6">
									<neb-input-text
										[label]="item.label"
										[readonly]="true"
										[value]="item.value" />
								</div>
							}
							@if (mProperty.perm !== 'RO') {
								<div class="col-6">
									<neb-input-text
										[label]="item.label"
										[(value)]="item.valueToSend" />
								</div>
							}
						</div>
					}
				</div>
				<div class="col-3 text-center">
					@if (mProperty.perm !== 'RO') {
						<neb-button
							[disabled]="disabled()"
							label="Send"
							(action)="sendText()"
							icon="mdi mdi-send" />
					}
				</div>
			</div>
		}
	</div>
</div>
