<div class="grid flex align-items-center m-0 px-4 py-2">
    <div class="col-3 flex align-items-center font-bold">
        <i class="mdi mdi-circle {{ property.state }}"></i>
        <span class="ml-2">{{ property.label }}</span>
    </div>
    <div class="col-9">
        <div class="flex align-items-center gap-1" *ngIf="property.type === 'SWITCH' && property.rule === 'ONE_OF_MANY'">
            <p-button *ngFor="let item of property.items" [disabled]="property.perm === 'RO' || disabled" [label]="item.label"
                      (onClick)="sendSwitch(item)" icon="pi" [severity]="item.value ? 'success' : 'danger'" size="small">
                <span [class.mdi-check]="item.value" [class.mdi-close]="!item.value" class="mdi"></span>
            </p-button>
        </div>
        <div class="flex align-items-center gap-1" *ngIf="property.type === 'SWITCH' && property.rule === 'AT_MOST_ONE'">
            <p-button *ngFor="let item of property.items" [disabled]="property.perm === 'RO' || disabled" [label]="item.label"
                      (onClick)="sendSwitch(item)" icon="mdi mdi-check" size="small" />
        </div>
        <div class="flex align-items-center gap-1" *ngIf="property.type === 'SWITCH' && property.rule === 'ANY_OF_MANY'">
            <p-button *ngFor="let item of property.items" [disabled]="property.perm === 'RO' || disabled" [label]="item.label"
                      (onClick)="sendSwitch(item)" icon="pi" [severity]="item.value ? 'success' : 'danger'" size="small">
                <span [class.mdi-check]="item.value" [class.mdi-close]="!item.value" class="mdi"></span>
            </p-button>
        </div>
        <div class="grid flex align-items-center" *ngIf="property.type === 'NUMBER'">
            <div class="col-9 flex-column">
                <div *ngFor="let item of property.items" class="grid my-0 flex align-items-center">
                    <div class="col-6" *ngIf="property.perm !== 'WO'">
                        <span class="p-float-label">
                            <input readonly type="text" pInputText
                                   class="p-inputtext border-0 min-w-full max-w-0" [value]="item.value" />
                            <label>{{ item.label }}</label>
                        </span>
                    </div>
                    <div class="col-6" *ngIf="property.perm !== 'RO'">
                        <span class="p-float-label">
                            <input type="text" pInputText class="p-inputtext border-0 min-w-full max-w-0" [(ngModel)]="item.valueToSend" />
                            <label>{{ item.label }}</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-3 text-center">
                <p-button [disabled]="disabled" *ngIf="property.perm !== 'RO'" label="Send" (onClick)="sendNumber()" icon="mdi mdi-send"
                          size="small" />
            </div>
        </div>
        <div class="grid flex align-items-center" *ngIf="property.type === 'TEXT'">
            <div class="col-9 flex-column">
                <div *ngFor="let item of property.items" class="grid my-0 flex align-items-center">
                    <div class="col-6" *ngIf="property.perm !== 'WO'">
                        <span class="p-float-label">
                            <input readonly type="text" pInputText class="p-inputtext border-0 min-w-full max-w-0"
                                   [value]="item.value" />
                            <label>{{ item.label }}</label>
                        </span>
                    </div>
                    <div class="col-6" *ngIf="property.perm !== 'RO'">
                        <span class="p-float-label">
                            <input type="text" pInputText class="p-inputtext border-0 min-w-full max-w-0"
                                   [(ngModel)]="item.valueToSend" />
                            <label>{{ item.label }}</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-3 text-center">
                <p-button [disabled]="disabled" *ngIf="property.perm !== 'RO'" label="Send" (onClick)="sendText()" icon="mdi mdi-send" size="small" />
            </div>
        </div>
    </div>
</div>