<div class="container px-4 pt-4">
    <div class="grid flex justify-content-center align-items-center">
        <div class="col-6 px-0">
            <span class="p-float-label">
                <input [disabled]="connected" type="text" pInputText class="p-inputtext-sm min-w-full" placeholder="localhost" [(ngModel)]="host" />
                <label>Host</label>
            </span>
        </div>
        <div class="col-4 pr-0">
            <span class="p-float-label">
                <input [disabled]="connected" type="number" pInputText class="p-inputtext-sm min-w-full max-w-0" placeholder="7624" [(ngModel)]="port" />
                <label>Port</label>
            </span>
        </div>
        <div class="col-2 text-center pr-0">
            <p-button *ngIf="connected" (onClick)="connect()" icon="mdi mdi-close" styleClass="p-button-danger p-button" />
            <p-button *ngIf="!connected" (onClick)="connect()" icon="mdi mdi-connection" styleClass="p-button-info p-button" />
        </div>
    </div>
    <div class="grid mt-2 overflow-y-auto" style="max-height: calc(100vh - 75px);">
        <div class="col-4 p-1">
            <p-button [disabled]="!connected" (onClick)="open('CAMERA')" styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/camera.png" />
                <div class="mt-1 text-sm">Camera</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/telescope.png" />
                <div class="mt-1 text-sm">Mount</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/target.png" />
                <div class="mt-1 text-sm">Guider</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/filter-wheel.png" />
                <div class="mt-1 text-sm">Filter Wheel</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/focus.png" />
                <div class="mt-1 text-sm">Focuser</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/observatory.png" />
                <div class="mt-1 text-sm">Dome</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/rotate.png" />
                <div class="mt-1 text-sm">Rotator</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/switch.png" />
                <div class="mt-1 text-sm">Switch</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button (onClick)="open('ATLAS')" styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/atlas.png" />
                <div class="mt-1 text-sm">Sky Atlas</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/star.png" />
                <div class="mt-1 text-sm">Alignment</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/schedule.png" />
                <div class="mt-1 text-sm">Sequencer</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button (onClick)="open('IMAGE')" styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/image.png" />
                <div class="mt-1 text-sm">Image Viewer</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/framing.png" />
                <div class="mt-1 text-sm">Framing</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button [disabled]="!connected" (onClick)="open('INDI')" styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/indi.png" />
                <div class="mt-1 text-sm">INDI</div>
            </p-button>
        </div>
        <div class="col-4 p-1">
            <p-button styleClass="open p-button min-w-full max-w-full px-1 py-2 flex-column">
                <img src="assets/icons/information.png" />
                <div class="mt-1 text-sm">About</div>
            </p-button>
        </div>
    </div>
</div>