@use '@mdi/font/scss/materialdesignicons.scss';
@use '@fontsource/roboto';

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
	@tailwind base;
}

@layer tailwind-utilities {
	@tailwind components;
	@tailwind utilities;
}

html,
body {
	@apply h-full overflow-hidden scroll-smooth;
	font-size: 11.5px;
	background-color: var(--p-content-background);
	font-family: 'Roboto';
}

body {
	@apply m-0;
	font-family: 'Roboto';
}

.p-contextmenu *,
.p-select *,
.p-multiselect-header *,
.p-select-header *,
.p-drawer-header *,
.p-menu *,
.no-draggable-region,
.p-button.p-dialog-header-close {
	-webkit-app-region: no-drag;
}

.mdi {
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	line-height: 0px;

	&::before {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1;
		font-size: 1.25rem;
		line-height: 0px;
		vertical-align: middle;
	}

	&.mdi-sm::before {
		font-size: 1rem;
	}

	&.mdi-xs::before {
		font-size: 0.9rem;
	}

	&.mdi-lg::before {
		font-size: 2rem;
	}
}

.text-overflow-scroll {
	@apply inline-block w-auto overflow-x-auto overflow-y-hidden whitespace-nowrap;

	&::-webkit-scrollbar {
		@apply hidden;
	}
}

.draggable-region {
	-webkit-app-region: drag;
}

.pixelated {
	image-rendering: pixelated;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background: hsla(0deg, 0%, 39.2%, 0.5);
	border-radius: 10px;
	background-clip: content-box;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
