@use '@mdi/font/scss/materialdesignicons.scss';
@use '@fontsource/roboto';

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
	@tailwind base;
}

@layer tailwind-utilities {
	@tailwind components;
	@tailwind utilities;
}

html,
body {
	height: 100%;
	overflow: hidden;
	font-size: 11.5px;
	scroll-behavior: smooth;
	background-color: var(--p-content-background);
	font-family: 'Roboto';
}

body {
	margin: 0;
	font-family: 'Roboto';
}

p-contextmenu *,
p-select *,
p-selectitem *,
p-tieredmenu *,
.p-multiselect-header *,
.p-select-header *,
.no-draggable-region,
.p-button.p-dialog-header-close {
	-webkit-app-region: no-drag;
}

a:any-link {
	color: var(--p-primary-color);
}

.invisible {
	visibility: hidden;
}

.mdi {
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	line-height: 0px;

	&::before {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1;
		font-size: 1.25rem;
		line-height: 0px;
		vertical-align: middle;
	}

	&.mdi-sm::before {
		font-size: 1rem;
	}

	&.mdi-xs::before {
		font-size: 0.9rem;
	}

	&.mdi-lg::before {
		font-size: 2rem;
	}
}

.text-overflow-scroll {
	display: inline-block;
	white-space: nowrap;
	width: auto;
	overflow-x: auto;
	overflow-y: hidden;

	&::-webkit-scrollbar {
		display: none;
	}
}

.draggable-region {
	-webkit-app-region: drag;
}

.pixelated {
	image-rendering: pixelated;
}

.cursor-crosshair {
	cursor: crosshair !important;
}

.monospaced {
	font-family: monospace !important;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background: hsla(0deg, 0%, 39.2%, 0.5);
	border-radius: 10px;
	background-clip: content-box;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
