@use '@mdi/font/scss/materialdesignicons.scss';
@use '@fontsource/roboto';
@use 'tailwindcss';

@plugin 'tailwindcss-primeui';

@layer base, components, primeng, utilities;

html,
body {
	@apply m-0 h-full overflow-hidden scroll-smooth;
	font-size: 12px;
	background-color: var(--p-content-background);
	font-family: 'Roboto', sans-serif;
}

img,
video {
	max-width: initial;
}

a:link {
	@apply font-bold text-gray-400 underline decoration-dotted;
}

.grid {
	@apply items-center;

	> *[class^='col-span-'] {
		@apply flex justify-center;
	}
}

.p-tooltip-text {
	@apply text-sm;
}

.p-tabs {
	@apply w-full;
}

.p-contextmenu *,
.p-select *,
.p-multiselect-header *,
.p-select-header *,
.p-drawer-header *,
.p-menu *,
.no-draggable-region,
.p-button.p-dialog-header-close {
	-webkit-app-region: no-drag;
}

.p-contextmenu {
	@apply overflow-y-auto;

	&::-webkit-scrollbar {
		@apply hidden;
	}

	.p-contextmenu-submenu {
		border: 1px solid var(--p-surface-700);
		background: var(--p-surface-700);
		margin-top: 2px;
	}
}

.p-toast-close-icon {
	color: #fff;
}

.p-tag-icon {
	&:has(+ .p-tag-label) {
		@apply mr-1;
	}
}

.mdi {
	&::before {
		@apply inline-flex aspect-square items-center justify-center align-middle leading-none;
		font-size: 1.25rem;
		text-rendering: geometricPrecision;
	}

	&.mdi-sm::before {
		font-size: 1rem !important;
	}

	&.mdi-xs::before {
		font-size: 0.9rem !important;
	}

	&.mdi-lg::before {
		font-size: 2rem !important;
	}
}

.text-overflow-scroll {
	@apply inline-block w-auto overflow-x-auto overflow-y-hidden whitespace-nowrap;

	&::-webkit-scrollbar {
		@apply hidden;
	}
}

.draggable-region {
	-webkit-app-region: drag;
}

.pixelated {
	image-rendering: pixelated;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background: hsla(0deg, 0%, 39.2%, 0.5);
	border-radius: 10px;
	background-clip: content-box;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
