<div class="container px-4 py-3">
	<div class="grid flex align-items-center">
		<div class="col-8 align-items-center gap-2">
			<neb-device-name [device]="mount" />
			@if (mount.connected) {
				<neb-button
					[disabled]="mount.slewing || mount.parking"
					(action)="connect()"
					icon="mdi mdi-close"
					severity="danger"
					tooltip="Disconnect" />
			} @else {
				<neb-button
					[disabled]="mount.slewing || mount.parking"
					(action)="connect()"
					icon="mdi mdi-connection"
					severity="info"
					tooltip="Connect" />
			}
		</div>
		<div class="col-4 flex justify-content-end align-items-center gap-2">
			<neb-button
				[disabled]="!mount.connected"
				(action)="showRemoteControlDialog()"
				icon="mdi mdi-remote-tv"
				tooltip="Remote Control" />
			<neb-button
				[disabled]="!mount.connected"
				(action)="showTimeDialog()"
				icon="mdi mdi-clock"
				tooltip="Time" />
		</div>
		<div class="col-12 pt-0 text-sm text-gray-400 flex align-items-center my-1 gap-1">
			<i class="mdi mdi-information text-info"></i>
			<span style="display: contents">
				{{ mount.parking ? 'parking' : mount.parked ? 'parked' : mount.slewing ? 'slewing' : mount.tracking ? 'tracking' : 'idle' }}
			</span>
		</div>
	</div>
	<div class="grid pt-2">
		<div class="col-3">
			<neb-input-text
				label="RA (J2000)"
				[readonly]="true"
				[value]="currentComputedLocation.rightAscensionJ2000" />
		</div>
		<div class="col-3">
			<neb-input-text
				label="DEC (J2000)"
				[readonly]="true"
				[value]="currentComputedLocation.declinationJ2000" />
		</div>
		<div class="col-3">
			<neb-input-text
				label="RA"
				[readonly]="true"
				[value]="mount.rightAscension" />
		</div>
		<div class="col-3">
			<neb-input-text
				label="DEC"
				[readonly]="true"
				[value]="mount.declination" />
		</div>
		<div class="col-3">
			<neb-input-text
				label="Azimuth"
				[readonly]="true"
				[value]="currentComputedLocation.azimuth" />
		</div>
		<div class="col-3">
			<neb-input-text
				label="Altitude"
				[readonly]="true"
				[value]="currentComputedLocation.altitude" />
		</div>
		<div class="col-3">
			<neb-input-text
				label="LST"
				[readonly]="true"
				[value]="currentComputedLocation.lst" />
		</div>
		<div class="col-3">
			<neb-input-text
				label="Constellation"
				[readonly]="true"
				[value]="currentComputedLocation.constellation" />
		</div>
		<div class="col-3">
			<neb-input-text
				label="Meridian at"
				[readonly]="true"
				value="{{ currentComputedLocation.meridianAt }} (-{{ currentComputedLocation.timeLeftToMeridianFlip }})" />
		</div>
		<div class="col-3">
			<neb-input-text
				label="Pier"
				[readonly]="true"
				[value]="currentComputedLocation.pierSide" />
		</div>
		<div class="col-3"></div>
		<div class="col-3 justify-content-center">
			<neb-button
				icon="mdi mdi-md mdi-dots-vertical"
				(action)="ephemerisMenu.show(ephemerisModel)" />
		</div>
	</div>
	<div class="grid mt-1">
		<div class="col-4 flex flex-column justify-content-center">
			<neb-select-button-enum
				[disabled]="!mount.connected || mount.slewing || mount.parking || mount.parked"
				[options]="['J2000', 'JNOW']"
				[(value)]="preference.targetCoordinateType"
				(valueChange)="computeTargetCoordinates()" />
		</div>
		<div class="col-4 flex flex-column justify-content-center align-items-start text-sm gap-1">
			<div class="flex flex-row justify-content-between w-full">
				<span class="font-bold">AZ</span>
				<span>{{ targetComputedLocation.azimuth }}</span>
			</div>
			<div class="flex flex-row justify-content-between w-full">
				<span class="font-bold">ALT</span>
				<span>{{ targetComputedLocation.altitude }}</span>
			</div>
		</div>
		<div class="col-4 flex flex-column justify-content-center align-items-start text-sm gap-1">
			<div class="flex flex-row justify-content-between w-full">
				<span class="font-bold">CONST</span>
				<span>{{ targetComputedLocation.constellation }}</span>
			</div>
			<div class="flex flex-row justify-content-between w-full">
				<span class="font-bold">MERIDIAN AT</span>
				<span>{{ targetComputedLocation.meridianAt }}</span>
			</div>
			<div class="flex flex-row justify-content-between w-full">
				<span class="font-bold">PIER</span>
				<span>{{ targetComputedLocation.pierSide }}</span>
			</div>
		</div>
		<div class="col-4">
			<neb-input-text
				label="RA (h)"
				[disabled]="!mount.connected || mount.slewing || mount.parking || mount.parked"
				[(value)]="preference.targetRightAscension"
				(valueChange)="computeTargetCoordinates()" />
		</div>
		<div class="col-4">
			<neb-input-text
				label="DEC (°)"
				[disabled]="!mount.connected || mount.slewing || mount.parking || mount.parked"
				[(value)]="preference.targetDeclination"
				(valueChange)="computeTargetCoordinates()" />
		</div>
		<div class="col-4">
			<p-splitButton
				noDropdown
				[disabled]="!mount.connected || mount.slewing || mount.parking || mount.parked"
				[label]="targetCoordinateCommand.label"
				[icon]="targetCoordinateCommand.icon"
				styleClass="w-full"
				(onClick)="targetCoordinateCommandClicked()"
				(onDropdownClick)="targetMenu.show(targetCoordinateModel)" />
		</div>
	</div>
	<div class="grid mt-1">
		<div class="col-4">
			<div class="grid">
				<div class="col-4">
					<neb-button
						[disabled]="!mount.connected || (mount.slewing && slewingDirection !== 'NW') || mount.parking || mount.parked"
						[rounded]="false"
						(mousedown)="moveTo('NW', true, $event)"
						(mouseup)="moveTo('NW', false, $event)"
						(mouseleave)="moveTo('NW', false, $event)"
						icon="mdi mdi-arrow-top-left-thick" />
				</div>
				<div class="col-4">
					<neb-button
						[disabled]="!mount.connected || (mount.slewing && slewingDirection !== 'N') || mount.parking || mount.parked"
						[rounded]="false"
						(mousedown)="moveTo('N', true, $event)"
						(mouseup)="moveTo('N', false, $event)"
						(mouseleave)="moveTo('N', false, $event)"
						icon="mdi mdi-arrow-up-thick" />
				</div>
				<div class="col-4">
					<neb-button
						[disabled]="!mount.connected || (mount.slewing && slewingDirection !== 'NE') || mount.parking || mount.parked"
						[rounded]="false"
						(mousedown)="moveTo('NE', true, $event)"
						(mouseup)="moveTo('NE', false, $event)"
						(mouseleave)="moveTo('NE', false, $event)"
						icon="mdi mdi-arrow-top-right-thick" />
				</div>
				<div class="col-4">
					<neb-button
						[disabled]="!mount.connected || (mount.slewing && slewingDirection !== 'W') || mount.parking || mount.parked"
						[rounded]="false"
						(mousedown)="moveTo('W', true, $event)"
						(mouseup)="moveTo('W', false, $event)"
						(mouseleave)="moveTo('W', false, $event)"
						icon="mdi mdi-arrow-left-thick" />
				</div>
				<div class="col-4">
					<neb-button
						[disabled]="!mount.connected || mount.parked"
						[rounded]="false"
						icon="mdi mdi-lg mdi-close-circle"
						severity="danger"
						(action)="abort()" />
				</div>
				<div class="col-4">
					<neb-button
						[disabled]="!mount.connected || (mount.slewing && slewingDirection !== 'E') || mount.parking || mount.parked"
						[rounded]="false"
						(mousedown)="moveTo('E', true, $event)"
						(mouseup)="moveTo('E', false, $event)"
						(mouseleave)="moveTo('E', false, $event)"
						icon="mdi mdi-arrow-right-thick" />
				</div>
				<div class="col-4">
					<neb-button
						[disabled]="!mount.connected || (mount.slewing && slewingDirection !== 'SW') || mount.parking || mount.parked"
						[rounded]="false"
						(mousedown)="moveTo('SW', true, $event)"
						(mouseup)="moveTo('SW', false, $event)"
						(mouseleave)="moveTo('SW', false, $event)"
						icon="mdi mdi-arrow-bottom-left-thick" />
				</div>
				<div class="col-4">
					<neb-button
						[disabled]="!mount.connected || (mount.slewing && slewingDirection !== 'S') || mount.parking || mount.parked"
						[rounded]="false"
						(mousedown)="moveTo('S', true, $event)"
						(mouseup)="moveTo('S', false, $event)"
						(mouseleave)="moveTo('S', false, $event)"
						icon="mdi mdi-arrow-down-thick" />
				</div>
				<div class="col-4">
					<neb-button
						[disabled]="!mount.connected || (mount.slewing && slewingDirection !== 'SE') || mount.parking || mount.parked"
						[rounded]="false"
						(mousedown)="moveTo('SE', true, $event)"
						(mouseup)="moveTo('SE', false, $event)"
						(mouseleave)="moveTo('SE', false, $event)"
						icon="mdi mdi-arrow-bottom-right-thick" />
				</div>
			</div>
		</div>
		<div class="col-8">
			<div class="grid">
				<div class="col-6 flex flex-column justify-content-center align-items-center text-center">
					<neb-switch
						label="Tracking"
						[disabled]="!mount.connected || mount.slewing || mount.parking || mount.parked"
						[value]="mount.tracking"
						(valueChange)="trackingToggled($event)" />
				</div>
				<div class="col-6 flex flex-row gap-2 justify-content-center align-items-center">
					@if (mount.parked) {
						<neb-button
							[disabled]="!mount.connected || !mount.canPark || mount.slewing || mount.parking"
							icon="mdi mdi-play"
							(action)="unpark()"
							tooltip="Unpark"
							severity="success" />
					} @else {
						<neb-button
							[disabled]="!mount.connected || !mount.canPark || mount.slewing || mount.parking"
							icon="mdi mdi-stop"
							(action)="park()"
							tooltip="Park"
							severity="danger" />
					}
					<neb-button
						[disabled]="!mount.connected || !mount.canHome || mount.slewing || mount.parking || mount.parked"
						icon="mdi mdi-home"
						(action)="home()"
						tooltip="Home"
						severity="info" />
				</div>
				<div class="col-6">
					<neb-dropdown-enum
						label="Tracking mode"
						[disabled]="!mount.connected || mount.slewing || mount.parking || mount.parked"
						[options]="mount.trackModes"
						[value]="mount.trackMode"
						(valueChange)="$event && trackModeChanged($event)" />
				</div>
				<div class="col-6">
					<neb-dropdown-item
						label="Slew rate"
						[disabled]="!mount.connected || mount.slewing || mount.parking || mount.parked"
						[options]="mount.slewRates"
						[(value)]="slewRate"
						(valueChange)="slewRateChanged()"
						emptyMessage="No rate available" />
				</div>
			</div>
		</div>
	</div>
</div>

<p-dialog
	header="Remote Control"
	[modal]="true"
	[draggable]="false"
	[(visible)]="remoteControl.showDialog"
	[style]="{ maxWidth: '90vw' }">
	<div class="grid p-2">
		<div class="col-4">
			<neb-dropdown-enum
				label="Protocol"
				[options]="'MOUNT_REMOTE_CONTROL_PROTOCOL' | dropdownOptions"
				[(value)]="remoteControl.protocol" />
		</div>
		<div class="col-5">
			<neb-input-text
				label="Host"
				[(value)]="remoteControl.host"
				placeholder="0.0.0.0" />
		</div>
		<div class="col-3">
			<neb-input-number
				label="Port"
				[min]="1024"
				[max]="65535"
				[(value)]="remoteControl.port"
				placeholder="10001" />
		</div>
		<div class="col-12 pt-0 justify-content-center flex align-items-center text-sm">
			@if (remoteControl.protocol === 'LX200') {
				<span>
					Use together with the
					<a
						target="_blank"
						href="https://stellarium-labs.com/stellarium-mobile-plus/">
						Stellarium Mobile Plus
					</a>
				</span>
			} @else if (remoteControl.protocol === 'STELLARIUM') {
				<span>
					Use together with the
					<a
						target="_blank"
						href="https://stellarium.org/">
						Stellarium
					</a>
				</span>
			}
		</div>
		<div class="col-12 flex justify-content-center align-items-center">
			<neb-button
				[disabled]="!remoteControl.host || !remoteControl.port"
				label="Connect"
				icon="mdi mdi-connection"
				(action)="startRemoteControl()" />
		</div>
		<div class="col-12 mt-2">
			<p-listbox
				[options]="remoteControl.controls"
				[style]="{ width: '100%' }"
				[listStyle]="{ 'max-height': '100px' }"
				styleClass="border-0"
				emptyMessage="No remote control connected">
				<ng-template
					let-item
					pTemplate="item">
					<div class="flex flex-row w-full align-items-center justify-content-between">
						<div class="flex flex-column justify-content-center">
							<span class="font-bold white-space-nowrap">{{ item.protocol }}</span>
							<span class="text-sm">{{ item.host }}:{{ item.port }}</span>
						</div>
						<div class="flex align-items-center justify-content-center">
							<neb-button
								[disabled]="!item.running"
								icon="mdi mdi-stop"
								severity="danger"
								tooltip="Stop"
								(action)="stopRemoteControl(item.protocol)" />
						</div>
					</div>
				</ng-template>
			</p-listbox>
		</div>
	</div>
</p-dialog>

<p-dialog
	header="Time (UTC)"
	[modal]="true"
	[draggable]="false"
	[(visible)]="time.showDialog"
	[style]="{ maxWidth: '90vw' }">
	<div class="grid p-2">
		<div class="col-8">
			<p-calendar
				[(ngModel)]="time.dateTime"
				[showIcon]="true"
				[showOnFocus]="false"
				[showTime]="true"
				[showSeconds]="true"
				[showWeek]="true"
				dateFormat="yy-mm-dd"
				appendTo="body"
				styleClass="w-full border-0">
				<ng-template pTemplate="footer">
					<neb-button
						label="Now"
						(action)="timeNow()" />
				</ng-template>
			</p-calendar>
		</div>
		<div class="col-4">
			<neb-input-number
				label="Offset (min)"
				[min]="-720"
				[max]="720"
				[(value)]="time.offsetInMinutes" />
		</div>
	</div>
	<ng-template pTemplate="footer">
		<neb-button
			icon="mdi mdi-sync"
			label="Sync"
			(action)="timeSync()" />
	</ng-template>
</p-dialog>

<neb-dialog-menu
	#targetMenu
	header="Target Coordinates" />
<neb-dialog-menu
	#ephemerisMenu
	header="Current Coordinates" />
