<div class="container p-4">
    <div class="grid py-1 flex align-items-center">
        <div class="col-8">
            <span class="p-float-label">
                <p-dropdown [options]="mounts" [(ngModel)]="mount" optionLabel="name" (ngModelChange)="mountChanged()"
                            styleClass="border-0" emptyMessage="No mount found" />
                <label>Mount</label>
            </span>
        </div>
        <div class="col-2">
            <p-button *ngIf="connected" [disabled]="!mount || moving" (onClick)="connect()" icon="mdi mdi-close"
                      styleClass="p-button-danger" />
            <p-button *ngIf="!connected" [disabled]="!mount || moving" (onClick)="connect()" icon="mdi mdi-connection"
                      styleClass="p-button-info" />
        </div>
        <div class="col-12 pt-0 text-sm text-gray-400 flex align-items-center my-1 gap-1">
            <i class="mdi mdi-information text-blue-600"></i>
            <span style="display: contents">{{ moving ? 'moving' : 'idle' }}</span>
        </div>
    </div>
    <div class="grid pt-2">
        <div class="col-3">
            <span class="p-float-label">
                <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="rightAscensionJ2000" />
                <label>RA (J2000)</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="declinationJ2000" />
                <label>DEC (J2000)</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="rightAscension" />
                <label>RA</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="declination" />
                <label>DEC</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="azimuth" />
                <label>Azimuth</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="altitude" />
                <label>Altitude</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="lst" />
                <label>LST</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="constellation" />
                <label>Constellation</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="meridianAt" />
                <label>Meridian at</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="pier" />
                <label>Pier</label>
            </span>
        </div>
    </div>
    <div class="grid mt-1">
        <div class="col-8 flex align-items-center gap-1">
            <i class="mdi mdi-target text-gray-100"></i>
            <span class="text-gray-100">Target coordinates:</span>
            <p-selectButton [options]="['J2000', 'JNOW']" [(ngModel)]="targetCoordinateType" styleClass="ml-2" />
        </div>
        <div class=col-4>

        </div>
        <div class="col-4">
            <span class="p-float-label">
                <input pInputText class="border-0 w-full" [(ngModel)]="targetRightAscension" />
                <label>RA (h)</label>
            </span>
        </div>
        <div class="col-4">
            <span class="p-float-label">
                <input pInputText class="border-0 w-full" [(ngModel)]="targetDeclination" />
                <label>DEC (°)</label>
            </span>
        </div>
        <div class="col-4">
            <p-splitButton [label]="targetCoordinateOption.label" [icon]="targetCoordinateOption.icon" [model]="targetCoordinateOptions"
                           styleClass="w-full" />
        </div>
    </div>
    <div class="grid mt-1">
        <div class="col-4">
            <div class="grid">
                <div class="col-4">
                    <p-button icon="mdi mdi-arrow-top-left-thick" styleClass="p-button-text" />
                </div>
                <div class="col-4">
                    <p-button icon="mdi mdi-arrow-up-thick" styleClass="p-button-text" />
                </div>
                <div class="col-4">
                    <p-button icon="mdi mdi-arrow-top-right-thick" styleClass="p-button-text" />
                </div>
                <div class="col-4">
                    <p-button icon="mdi mdi-arrow-left-thick" styleClass="p-button-text" />
                </div>
                <div class="col-4">
                    <p-button icon="mdi mdi-close-circle" styleClass="p-button-text p-button-danger" />
                </div>
                <div class="col-4">
                    <p-button icon="mdi mdi-arrow-right-thick" styleClass="p-button-text" />
                </div>
                <div class="col-4">
                    <p-button icon="mdi mdi-arrow-bottom-left-thick" styleClass="p-button-text" />
                </div>
                <div class="col-4">
                    <p-button icon="mdi mdi-arrow-down-thick" styleClass="p-button-text" />
                </div>
                <div class="col-4">
                    <p-button icon="mdi mdi-arrow-bottom-right-thick" styleClass="p-button-text" />
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="grid">
                <div class="col-6 flex flex-column gap-2">
                    <span class="text-gray-100">Tracking</span>
                    <p-inputSwitch />
                </div>
                <div class="col-6">

                </div>
                <div class="col-6">
                    <span class="p-float-label">
                        <p-dropdown [options]="trackModes" [(ngModel)]="trackMode" (ngModelChange)="trackModeChanged()"
                                    styleClass="border-0" emptyMessage="No mode found" />
                        <label>Tracking mode</label>
                    </span>
                </div>
                <div class="col-6">
                    <span class="p-float-label">
                        <p-dropdown [options]="slewRates" [(ngModel)]="slewRate" (ngModelChange)="slewRateChanged()"
                                    styleClass="border-0" emptyMessage="No rate found" />
                        <label>Slew rate</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>