<div class="container p-4">
    <div class="grid py-1 flex align-items-center">
        <div class="col-8">
            <span class="p-float-label">
                <p-dropdown [options]="cameras" [(ngModel)]="camera" optionLabel="name" (ngModelChange)="cameraSelected()"
                            styleClass="border-0" emptyMessage="No camera found" />
                <label>Camera</label>
            </span>
        </div>
        <div class="col-2">
            <p-button *ngIf="connected" [disabled]="!camera || capturing" (onClick)="connect()" icon="mdi mdi-close"
                      styleClass="p-button-danger p-button" />
            <p-button *ngIf="!connected" [disabled]="!camera || capturing" (onClick)="connect()" icon="mdi mdi-connection"
                      styleClass="p-button-info p-button" />
        </div>
        <div class="col-2 flex justify-content-center">
            <p-tieredMenu #cameraMenu [model]="cameraMenuItems" [popup]="true" [style]="{width: 'auto'}" />
            <p-button [disabled]="!camera" icon="mdi mdi-lg mdi-dots-vertical" (click)="cameraMenu.toggle($event)"
                      styleClass="p-button-rounded p-button-text" />
        </div>
        <div class="col-12 pt-0 text-sm text-gray-400 flex align-items-center gap-1">
            <i *ngIf="autoSave" class="mdi mdi-content-save"></i>
            <i *ngIf="!autoSave" class="mdi mdi-content-save-off"></i>
            <i *ngIf="autoSubFolderMode === 'OFF'" class="mdi mdi-folder-off"></i>
            <i *ngIf="autoSubFolderMode === 'NOON'" class="mdi mdi-weather-sunny text-yellow-600"></i>
            <i *ngIf="autoSubFolderMode === 'MIDNIGHT'" class="mdi mdi-weather-night text-blue-600"></i>
            <span style="display: contents">{{ savePath }}</span>
        </div>
    </div>
    <div class="grid py-1 flex align-items-center">
        <div class="col-3 flex flex-column">
            <span class="text-sm">Cooler ({{ coolerPower | number: '1.1-1' }}%)</span>
            <p-inputSwitch [disabled]="!connected || !hasCooler || capturing" (onChange)="toggleCooler()" styleClass="mt-2" [(ngModel)]="cooler" />
        </div>
        <div class="col-3 flex flex-column">
            <span class="text-sm">Dew heater</span>
            <p-inputSwitch [disabled]="!connected || !hasDewHeater || capturing" styleClass="mt-2" [(ngModel)]="dewHeater" />
        </div>
        <div class="col-6 flex flex-column">
            <div class="flex justify-content-center align-items-center gap-1">
                <span class="p-float-label">
                    <p-inputNumber [disabled]="!connected || !canSetTemperature || capturing" [(ngModel)]="setpointTemperature" mode="decimal"
                                   [showButtons]="true"
                                   [step]="0.1" suffix="℃" [min]="-50" [max]="50" locale="en" styleClass="border-0" [allowEmpty]="false" />
                    <label>Temperature ({{ temperature | number: '1.1-1' }}°C)</label>
                </span>
                <p-button [disabled]="!connected || !canSetTemperature || capturing" (onClick)="applySetpointTemperature()" icon="mdi mdi-check"
                          styleClass="p-button-success p-button" />
            </div>
        </div>
    </div>
    <div class="grid py-1 flex align-items-center">
        <div class="col-6">
            <div class="flex justify-content-center align-items-center gap-1">
                <span class="p-float-label">
                    <p-inputNumber [disabled]="!connected || capturing" [(ngModel)]="exposureTime" mode="decimal" [showButtons]="true"
                                   [step]="1.0" [min]="exposureTimeMin" [max]="exposureTimeMax" locale="en" styleClass="border-0"
                                   [allowEmpty]="false" />
                    <label>Exposure Time</label>
                </span>
                <p-menu #exposureTimeMenu [model]="exposureTimeUnitOptions" [popup]="true" />
                <button [disabled]="!connected || capturing" pButton type="button" (click)="exposureTimeMenu.toggle($event)"
                        [label]="exposureTimeUnit"></button>
            </div>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-dropdown [disabled]="!connected || capturing" [options]="frameTypeOptions" [(ngModel)]="frameType" styleClass="border-0" />
                <label>Frame Type</label>
            </span>
        </div>
    </div>
    <div class="grid py-1 flex align-items-center">
        <div class="col-6">
            <span class="text-sm">Exposure Mode</span>
            <p-selectButton [disabled]="!connected || capturing" [options]="exposureModeOptions" [(ngModel)]="exposureMode" styleClass="border-0" />
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!connected || exposureMode === 'SINGLE' || capturing" [(ngModel)]="exposureDelay" mode="decimal"
                               [showButtons]="true" [step]="0" [min]="0" [max]="600" locale="en" styleClass="border-0" [allowEmpty]="false" />
                <label>Delay</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!connected || exposureMode !== 'FIXED' || capturing" [(ngModel)]="exposureCount" mode="decimal"
                               [showButtons]="true" [step]="1.0" [min]="1" [max]="10000" locale="en" styleClass="border-0" [allowEmpty]="false" />
                <label>Count</label>
            </span>
        </div>
    </div>
    <div class="grid py-1 flex align-items-center">
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!connected || !subframe || capturing" [(ngModel)]="x" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="minX" [max]="maxX" locale="en" styleClass="border-0" [allowEmpty]="false" />
                <label>X</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!connected || !subframe || capturing" [(ngModel)]="y" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="minY" [max]="maxY" locale="en" styleClass="border-0" [allowEmpty]="false" />
                <label>Y</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!connected || !subframe || capturing" [(ngModel)]="width" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="minWidth" [max]="maxWidth" locale="en" styleClass="border-0" [allowEmpty]="false" />
                <label>Width</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!connected || !subframe || capturing" [(ngModel)]="height" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="minHeight" [max]="maxHeight" locale="en" styleClass="border-0" [allowEmpty]="false" />
                <label>Height</label>
            </span>
        </div>
    </div>
    <div class="grid py-1 flex align-items-center">
        <div class="col-2 flex flex-column">
            <span class="text-sm">Subframe</span>
            <p-inputSwitch [disabled]="!connected || capturing" styleClass="mt-2" [(ngModel)]="subframe" />
        </div>
        <div class="col-4 flex pt-3 flex-row align-items-center justify-content-center">
            <p-button [disabled]="!connected || !subframe || capturing" icon="mdi mdi-fullscreen" (onClick)="fullsize()"
                      styleClass="p-button-info p-button" />
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!connected || capturing" [(ngModel)]="binX" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="1" [max]="4" styleClass="border-0" [allowEmpty]="false" />
                <label>Bin X</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!connected || capturing" [(ngModel)]="binY" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="1" [max]="4" styleClass="border-0" [allowEmpty]="false" />
                <label>Bin Y</label>
            </span>
        </div>
    </div>
    <div class="grid py-1 flex align-items-center">
        <div class="col-6">
            <span class="p-float-label">
                <p-dropdown [disabled]="!connected || capturing" [options]="frameFormats" [(ngModel)]="frameFormat" styleClass="border-0" />
                <label>Frame Format</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!connected || capturing" [(ngModel)]="gain" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="gainMin" [max]="gainMax" styleClass="border-0" [allowEmpty]="false" />
                <label>Gain</label>
            </span>
        </div>
        <div class="col-3">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!connected || capturing" [(ngModel)]="offset" mode="decimal" [showButtons]="true"
                               [step]="1.0" [min]="offsetMin" [max]="offsetMax" styleClass="border-0" [allowEmpty]="false" />
                <label>Offset</label>
            </span>
        </div>
    </div>
    <div class="grid mt-1">
        <div class="col-12 flex align-items-center justify-content-center gap-1">
            <p-button [disabled]="!connected || capturing" label="Start" (onClick)="startCapture()" icon="mdi mdi-play"
                      styleClass="p-button-success p-button" />
            <p-button [disabled]="!connected || !capturing" label="Abort" (onClick)="abortCapture()" icon="mdi mdi-stop"
                      styleClass="p-button-danger p-button" />
        </div>
    </div>
</div>