<span class="flex flex-column">
    <span class="flex align-items-center state-group capture" *ngIf="state && state !== 'IDLE'">
        <span class="bg-orange-500 state counter flex align-items-center gap-1 justify-content-center text-gray-900">
            <i class="mdi mdi-counter"></i> {{ exposure.count }} <span *ngIf="capture.amount">of {{ capture.amount }}</span>
        </span>
        <span class="bg-green-300 state time flex align-items-center gap-1 justify-content-center text-gray-900"
              pTooltip="Elapsed time" tooltipPosition="bottom">
            <i class="mdi mdi-timer-sand-complete"></i> {{ capture.elapsedTime | exposureTime }}
        </span>
        <span class="bg-green-300 state time flex align-items-center gap-1 justify-content-center text-gray-900"
              pTooltip="Remaining time" tooltipPosition="bottom">
            <i class="mdi mdi-timer-sand"></i> {{ capture.remainingTime | exposureTime }}
        </span>
        <span class="bg-green-300 state percentage flex align-items-center gap-1 justify-content-center text-gray-900">
            <i class="mdi mdi-percent"></i> {{ capture.progress * 100 | number:'1.1-1' }}
        </span>
    </span>
</span>
<span class="flex flex-column">
    <span class="text-left flex align-items-center gap-1">
        <i class="mdi mdi-information text-blue-600"></i> {{ (state ?? 'IDLE') | enum | lowercase }}
    </span>
    <span class="flex align-items-center state-group exposure" *ngIf="state === 'EXPOSURING'">
        <span class="bg-cyan-300 state time flex align-items-center gap-1 justify-content-center text-gray-900"
              pTooltip="Remaining time" tooltipPosition="bottom">
            <i class="mdi mdi-timer-sand"></i> {{ exposure.remainingTime | exposureTime }}
        </span>
        <span class="bg-cyan-300 state percentage flex align-items-center gap-1 justify-content-center text-gray-900">
            <i class="mdi mdi-percent"></i> {{ exposure.progress * 100 | number:'1.1-1' }}
        </span>
    </span>
    <span class="flex align-items-center state-group wait" *ngIf="state === 'WAITING'">
        <span class="bg-purple-300 state time flex align-items-center gap-1 justify-content-center text-gray-900"
              pTooltip="Remaining time" tooltipPosition="bottom">
            <i class="mdi mdi-timer-sand"></i> {{ wait.remainingTime | exposureTime }}
        </span>
        <span class="bg-purple-300 state percentage flex align-items-center gap-1 justify-content-center text-gray-900">
            <i class="mdi mdi-percent"></i> {{ wait.progress * 100 | number:'1.1-1' }}
        </span>
    </span>
</span>