<div class="container px-4 py-3">
	<div class="grid flex align-items-center">
		<div class="col-12 align-items-center gap-2">
			<neb-device-name [device]="lightBox" />
			@if (lightBox.connected) {
				<neb-button
					(action)="connect()"
					icon="mdi mdi-close"
					severity="danger"
					tooltip="Disconnect" />
			} @else {
				<neb-button
					(action)="connect()"
					icon="mdi mdi-connection"
					severity="info"
					tooltip="Connect" />
			}
			<neb-button-indi [device]="lightBox" />
		</div>
	</div>
	<div class="grid mt-1">
		<div class="col-4 text-center align-items-center justify-content-center">
			<neb-switch
				label="Enabled"
				[disabled]="!lightBox.connected"
				[value]="lightBox.enabled"
				(valueChange)="toggleEnable()" />
		</div>
		<div class="col-8 flex align-items-center justify-content-center">
			<p-knob
				[disabled]="!lightBox.connected || !lightBox.enabled"
				[min]="lightBox.minIntensity"
				[max]="lightBox.maxIntensity"
				[step]="1"
				[ngModel]="lightBox.intensity"
				(ngModelChange)="intensityChanged($event)"
				spinnableNumber />
		</div>
	</div>
</div>
