<div class="container px-4 py-3">
	<div class="grid flex align-items-center">
		<div class="col-12 align-items-center gap-2">
			<neb-device-name [device]="lightBox" />
			@if (lightBox.connected) {
				<neb-button
					(action)="connect()"
					icon="mdi mdi-close"
					severity="danger"
					tooltip="Disconnect" />
			} @else {
				<neb-button
					(action)="connect()"
					icon="mdi mdi-connection"
					severity="info"
					tooltip="Connect" />
			}
		</div>
	</div>
	<div class="grid mt-1">
		<div class="col-4 text-center align-items-center justify-content-center">
			<div class="flex flex-column align-items-center justify-content-center text-center gap-2">
				<span class="text-xs text-gray-100">Enabled</span>
				<p-inputSwitch
					[disabled]="!lightBox.connected"
					[ngModel]="lightBox.enabled"
					(ngModelChange)="toggleEnable()" />
			</div>
		</div>
		<div class="col-8 flex align-items-center justify-content-center">
			<p-knob
				[disabled]="!lightBox.connected || !lightBox.enabled"
				[min]="lightBox.minIntensity"
				[max]="lightBox.maxIntensity"
				[step]="1"
				[ngModel]="lightBox.intensity"
				(ngModelChange)="intensityChanged($event)"
				spinnableNumber />
		</div>
	</div>
</div>
