<div class="flex flex-col gap-3 p-4">
	<div class="grid grid-cols-12 gap-3">
		<div class="col-span-full flex items-center gap-3">
			<neb-device-name
				[device]="lightBox"
				class="flex-1" />
			@if (lightBox.connected) {
				<neb-button
					(action)="connect()"
					icon="mdi mdi-close"
					severity="danger"
					tooltip="Disconnect" />
			} @else {
				<neb-button
					(action)="connect()"
					icon="mdi mdi-connection"
					severity="info"
					tooltip="Connect" />
			}
			<neb-button-indi [device]="lightBox" />
		</div>
	</div>
	<div class="grid grid-cols-12 gap-3">
		<div class="col-span-4">
			<neb-switch
				label="Enabled"
				[disabled]="!lightBox.connected"
				[value]="lightBox.enabled"
				(valueChange)="toggleEnable()" />
		</div>
		<div class="col-span-8">
			<p-knob
				[disabled]="!lightBox.connected || !lightBox.enabled"
				[min]="lightBox.minIntensity"
				[max]="lightBox.maxIntensity"
				[step]="1"
				[ngModel]="lightBox.intensity"
				(ngModelChange)="intensityChanged($event)"
				spinnableNumber />
		</div>
	</div>
</div>
