:host {
    width: 100vw;
    height: 100vh;
    display: block;
}

img {
    image-rendering: pixelated;
}

.roi {
    width: 128px;
    height: 128px;
    border: 1px solid #FFFC;
    background-color: transparent;
    box-sizing: border-box;

    >span {
        background: #0008;
        padding: 4px;
        border-radius: 4px;
        font-size: 8px !important;
        min-width: 71px;
        max-width: 144px;
        bottom: -22px;
        left: 50%;
        white-space: nowrap;
        transform: translate(-50%, 0%);
    }
}