<div class="inline-block relative">
    <img #image (load)="imageLoaded()" (contextmenu)="imageClicked($event)" />

    <svg *ngIf="crossHair" class="absolute left-0 top-0 w-full h-full pointer-events-none">
        <line x1="0" y1="50%" x2="100%" y2="50%" stroke="#E53935" stroke-width="3"></line>
        <line x1="50%" y1="0" x2="50%" y2="100%" stroke="#E53935" stroke-width="3"></line>
        <circle cx="50%" cy="50%" r="4%" stroke="#E53935" stroke-width="3" fill="transparent"></circle>
        <circle cx="50%" cy="50%" r="16%" stroke="#E53935" stroke-width="3" fill="transparent"></circle>
        <circle cx="50%" cy="50%" r="32%" stroke="#E53935" stroke-width="3" fill="transparent"></circle>
    </svg>

    <svg *ngIf="!mirrorHorizontal && !mirrorVertical" class="absolute left-0 top-0 w-full h-full pointer-events-none">
        <g *ngFor="let a of annotations">
            <circle [attr.cx]="a.x" [attr.cy]="a.y" r="4" stroke="#FDD835" stroke-width="1" fill="#FDD835"></circle>
            <text [attr.x]="a.x" [attr.y]="a.y" fill="#00897B" style="font-size: 7px">{{ a.star?.names ?? a.dso?.names }}</text>
        </g>
    </svg>
</div>

<p-contextMenu #menu [model]="menuItems" />

<p-dialog header="Annotation" [draggable]="false" [(visible)]="showAnnotationDialog" [modal]="true" [style]="{width: '60vw', maxWidth: '260px'}">
    <div class="grid">
        <div class="col-12 flex flex-column">
            <p-checkbox [(ngModel)]="annotateWithStars" class="py-1" [binary]="true" label="Annotate with stars" />
            <p-checkbox [(ngModel)]="annotateWithDSOs" class="py-1" [binary]="true" label="Annotate with DSOs" />
            <p-checkbox [(ngModel)]="annotateWithMinorPlanets" class="py-1" [binary]="true" label="Annotate with minor planets" />
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="mdi mdi-check" label="Annotate" (onClick)="annotateImage()" styleClass="p-button-text" />
    </ng-template>
</p-dialog>

<p-dialog header="Plate Solving" [draggable]="true" [(visible)]="showSolverDialog" [modal]="false" [style]="{width: '350px'}"
          class="pointer-events-none">
    <div class="grid pt-2">
        <div class="col-8 flex align-items-center">
            <span class="p-float-label w-full">
                <p-dropdown [(ngModel)]="solverType" [options]="solverTypeOptions" appendTo="body" styleClass="border-0 w-full" />
                <label>Solver</label>
            </span>
        </div>
        <div class="col-4 flex flex-column align-items-center">
            Blind <p-inputSwitch styleClass="mt-1" [(ngModel)]="solverBlind" />
        </div>
        <div class="col-8">
            <span class="p-float-label">
                <input pInputText class="p-inputtext-sm border-0 w-full" [(ngModel)]="solverPathOrUrl" />
                <label>Path/URL</label>
            </span>
        </div>
        <div class="col-4">
            <span class="p-float-label" *ngIf="false">
                <input pInputText class="p-inputtext-sm border-0 w-full" [(ngModel)]="solverApiKey" />
                <label>API Key</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <input pInputText class="p-inputtext-sm border-0 w-full" [(ngModel)]="solverCenterRA" />
                <label>Center RA (h)</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <input pInputText class="p-inputtext-sm border-0 w-full" [(ngModel)]="solverCenterDEC" />
                <label>Center DEC (deg)</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-inputNumber [min]="1" [max]="180" styleClass="p-inputtext-sm border-0 w-full" [showButtons]="true" [(ngModel)]="solverRadius" />
                <label>Radius (°)</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-inputNumber [min]="1" [max]="8" class="w-full" styleClass="p-inputtext-sm border-0 w-full"
                               [showButtons]="true" [(ngModel)]="solverDownsampleFactor" />
                <label>Downsample Factor</label>
            </span>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="grid pt-2">
            <div class="col-4">
                <span class="p-float-label">
                    <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="solverCalibration?.rightAscension ?? '00h00m00s'" />
                    <label>RA (J2000)</label>
                </span>
            </div>
            <div class="col-4">
                <span class="p-float-label">
                    <input readonly pInputText class="p-inputtext-sm border-0 w-full"
                           [value]="solverCalibration?.declination ?? '+000°00\'00&quot;'" />
                    <label>DEC (J2000)</label>
                </span>
            </div>
            <div class="col-4">
                <span class="p-float-label">
                    <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="solverCalibration?.orientation?.toFixed(4) ?? '0.0'" />
                    <label>Orientation (°)</label>
                </span>
            </div>
            <div class="col-4">
                <span class="p-float-label">
                    <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="solverCalibration?.scale?.toFixed(4) ?? '0.0'" />
                    <label>Scale ("/px)</label>
                </span>
            </div>
            <div class="col-4">
                <span class="p-float-label">
                    <input readonly pInputText class="p-inputtext-sm border-0 w-full"
                           [value]="(solverCalibration?.width?.toFixed(2) ?? '0.0') + ' x ' + (solverCalibration?.height?.toFixed(2) ?? '0.0')" />
                    <label>Field size (arcmin)</label>
                </span>
            </div>
            <div class="col-4">
                <span class="p-float-label">
                    <input readonly pInputText class="p-inputtext-sm border-0 w-full" [value]="solverCalibration?.radius?.toFixed(4) ?? '0.0'" />
                    <label>Radius (°)</label>
                </span>
            </div>
        </div>
        <div class="grid mb-2">
            <div class="col-12 flex justify-content-center">
                <p-button [disabled]="solving || !solved" icon="mdi mdi-sync" label="Sync" styleClass="p-button-text" />
                <p-button [disabled]="solving || !solved" icon="mdi mdi-check" label="Go To" styleClass="p-button-text" />
                <p-button [disabled]="solving || !solved" icon="mdi mdi-check" label="Slew To" styleClass="p-button-text" />
                <p-button [disabled]="solving || !solved" (onClick)="frameSolvedPosition()" icon="mdi mdi-image" label="Framing"
                          styleClass="p-button-text" />
            </div>
        </div>

        <p-button [disabled]="!solverPathOrUrl || solving" icon="mdi mdi-sigma" label="Solve" (onClick)="solveImage()" styleClass="p-button-text" />
    </ng-template>
</p-dialog>

<p-dialog header="Stretching" [draggable]="true" [(visible)]="showStretchingDialog" [modal]="false" [style]="{width: '290px'}"
          class="pointer-events-none">
    <div class="grid px-2 pt-2">
        <div class="col-12 flex flex-column">
            <div class="flex flex-row gap-2 align-items-center justify-content-between">
                <span class="p-float-label">
                    <p-inputNumber [min]="0" [max]="65536" [showButtons]="true" inputStyleClass="border-0 w-full"
                                   [(ngModel)]="stretchShadowhHighlight[0]" locale="en" />
                    <label>Shadow</label>
                </span>
                <span class="p-float-label">
                    <p-inputNumber [min]="0" [max]="65536" [showButtons]="true" inputStyleClass="border-0 w-full"
                                   [(ngModel)]="stretchShadowhHighlight[1]" locale="en" />
                    <label>Highlight</label>
                </span>
            </div>

            <p-slider class="mt-3" [min]="0" [max]="65536" [(ngModel)]="stretchShadowhHighlight" [range]="true" />

            <div class="mt-5 text-center w-full">
                <span class="p-float-label">
                    <p-inputNumber [min]="0" [max]="65536" [showButtons]="true" inputStyleClass="border-0 w-full"
                                   [(ngModel)]="stretchMidtone" locale="en" />
                    <label>Midtone</label>
                </span>
            </div>

            <p-slider class="mt-3" [min]="0" [max]="65536" [(ngModel)]="stretchMidtone" />
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="mdi mdi-close" label="Reset" (onClick)="resetStretch()" styleClass="p-button-text p-button-danger" />
        <p-button icon="mdi mdi-check" label="Stretch" (onClick)="stretchImage()" styleClass="p-button-text" />
    </ng-template>
</p-dialog>

<p-dialog header="SCNR" [draggable]="true" [(visible)]="showSCNRDialog" [modal]="false" [style]="{width: '280px'}"
          class="pointer-events-none">
    <div class="grid px-2">
        <div class="col-12 flex align-items-center">
            <p-selectButton styleClass="border-0" [options]="scnrChannelOptions" [(ngModel)]="scnrChannel" [multiple]="false" />
        </div>
        <div class="col-7 flex align-items-center">
            <span class="p-float-label w-full max-w-full">
                <p-dropdown [disabled]="scnrChannel === 'NONE'" appendTo="body" [(ngModel)]="scnrProtectionMethod"
                            [options]="scnrProtectionMethodOptions" styleClass="border-0">
                    <ng-template let-item pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2">
                            <span>{{ item | enum }}</span>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <span>{{ item | enum }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <label>Protection Method</label>
            </span>
        </div>
        <div class="col-5 flex align-items-center">
            <span class="p-float-label">
                <p-inputNumber [disabled]="scnrChannel === 'NONE'" [min]="0" [max]="1" [step]="0.1" [showButtons]="true" class="w-full"
                               inputStyleClass="border-0 w-full"
                               [(ngModel)]="scnrAmount" locale="en" [allowEmpty]="false" />
                <label>Amount</label>
            </span>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="mdi mdi-check" label="Apply" (onClick)="scnrImage()" styleClass="p-button-text" />
    </ng-template>
</p-dialog>

<p-dialog header="FITS Headers" [draggable]="true" [(visible)]="showFITSHeadersDialog" [modal]="false" [style]="{width: '320px'}"
          class="pointer-events-none">
    <div class="grid p-2">
        <p-table [value]="fitsHeaders" class="max-h-22rem w-full" dataKey="name" styleClass="w-full pb-4 p-datatable-striped">
            <ng-template pTemplate="header" [style]="{maxHeight: '100px'}">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <td>{{ item.name }}</td>
                    <td>{{ item.value }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>