<span
	class="bg-black-alpha-20 border-round-sm fixed px-3 py-2 select-none z-1 flex flex-row align-items-center gap-1"
	style="top: 48px; left: 6px">
	<span
		pTooltip="Zoom"
		tooltipPosition="bottom"
		[positionTop]="8">
		{{ zoom.scale.toFixed(2) }}x
	</span>
	<span
		class="cursor-pointer"
		pTooltip="Rotation"
		tooltipPosition="bottom"
		[positionTop]="8"
		(wheel)="rotateWithWheel($event)"
		(click)="rotation.showDialog = true">
		| {{ rotation.transformation.angle.toFixed(2) }}°
	</span>
</span>

<div
	class="inline-block"
	style="backface-visibility: hidden">
	<img
		#image
		(load)="imageLoaded()"
		(click)="imageClicked($event, false)"
		(contextmenu)="imageClicked($event, true)"
		class="select-none"
		[style]="'vertical-align: bottom; transform: rotate(' + rotation.transformation.angle + 'deg)'"
		[class.pixelated]="settings.preference.pixelated"
		(mousemove)="imageMouseMoved($event)"
		[class.cursor-crosshair]="isMouseCoordinateVisible" />

	<neb-crosshair
		*ngIf="preference.crossHair && zoom.panZoom"
		[style]="'transform: rotate(' + rotation.transformation.angle + 'deg)'"
		class="absolute left-0 top-0" />

	<svg
		*ngIf="!transformation.mirrorHorizontal && !transformation.mirrorVertical && annotation.visible"
		[style]="'transform: rotate(' + rotation.transformation.angle + 'deg)'"
		class="absolute left-0 top-0 w-full h-full pointer-events-none select-none">
		<g
			*ngFor="let a of annotation.displayOnlyFiltered ? annotation.filtered : annotation.data"
			(dblclick)="showAnnotationInfo(a)"
			class="pointer-events-auto cursor-pointer">
			<circle
				[attr.cx]="a.x - 0.5"
				[attr.cy]="a.y - 0.5"
				r="4"
				stroke="#FDD835"
				stroke-width="1"
				(contextmenu)="imageClicked($event, true)"
				fill="transparent"></circle>
			<text
				[attr.x]="a.x"
				[attr.y]="a.y"
				fill="#00897B"
				[style]="'font-size: 5px; transform: rotate(' + -rotation.transformation.angle + 'deg); transform-origin: ' + (a.x - 0.5) + 'px ' + (a.y - 0.5) + 'px 0px'"
				class="pointer-events-none select-none">
				{{ (a.star ?? a.dso ?? a.minorPlanet)?.name?.join(' · ') }}
			</text>
		</g>
	</svg>

	<svg
		*ngIf="!transformation.mirrorHorizontal && !transformation.mirrorVertical && starDetector.visible"
		[style]="'transform: rotate(' + rotation.transformation.angle + 'deg)'"
		class="absolute left-0 top-0 w-full h-full pointer-events-none select-none">
		<g
			*ngFor="let s of starDetector.stars"
			class="pointer-events-auto cursor-pointer">
			<circle
				[attr.cx]="s.x - 0.5"
				[attr.cy]="s.y - 0.5"
				r="4"
				stroke="#FDD835"
				stroke-width="1"
				fill="transparent"
				(click)="drawDetectedStar(s)"
				(contextmenu)="imageClicked($event, true)"></circle>
			<text
				[attr.x]="s.x"
				[attr.y]="s.y"
				fill="#00897B"
				[style]="'font-size: 5px; transform: rotate(-' + rotation.transformation.angle + 'deg); transform-origin: ' + (s.x - 0.5) + 'px ' + (s.y - 0.5) + 'px 0px'"
				class="pointer-events-none select-none">
				{{ s.hfd.toFixed(1) }}
			</text>
		</g>
	</svg>

	<svg
		*ngIf="imageInfo"
		[style]="'transform: rotate(' + rotation.transformation.angle + 'deg)'"
		class="absolute left-0 top-0 w-full h-full pointer-events-none select-none fov overflow-visible">
		@for (item of fov.fovs; track $index) {
			@if (item.enabled && item.computed) {
				<rect
					[attr.width]="item.computed.svg.width"
					[attr.height]="item.computed.svg.height"
					[attr.x]="item.computed.svg.x"
					[attr.y]="item.computed.svg.y"
					[attr.stroke]="item.color"
					[style]="'transform-box: fill-box; transform-origin: center; transform: translate(-50%, -50%) rotate(' + item.rotation + 'deg)'" />
			}
		}
	</svg>

	<div
		#roi
		[class.hidden]="!hasROI"
		[style]="'transform: rotate(' + rotation.transformation.angle + 'deg)'"
		class="roi absolute left-0 top-0"
		(contextmenu)="imageClicked($event, true)"></div>
	<ngx-moveable
		#moveable
		[target]="roi"
		[origin]="true"
		*ngIf="hasROI"
		[draggable]="true"
		[resizable]="true"
		[rotatable]="false"
		[edgeDraggable]="true"
		[zoom]="1"
		(drag)="roiDrag($event)"
		(rotate)="roiRotate($event)"
		(resize)="roiResize($event)" />
</div>

<div
	*ngIf="hasROI"
	class="roi-coordinates fixed flex flex-row align-items-center gap-2">
	<span>X: {{ imageROI.area.x.toFixed(0) }} Y: {{ imageROI.area.y.toFixed(0) }} W: {{ imageROI.area.width.toFixed(0) }} H: {{ imageROI.area.height.toFixed(0) }}</span>
	<p-button
		[text]="true"
		(onClick)="roiForCamera()"
		icon="mdi mdi-camera-iris"
		size="small"
		pTooltip="Apply"
		tooltipPosition="bottom" />
</div>

<p-contextMenu
	#menu
	[model]="contextMenuModel">
	<ng-template
		pTemplate="item"
		let-item>
		<neb-menu-item [item]="item" />
	</ng-template>
</p-contextMenu>

<p-dialog
	header="Annotation"
	[draggable]="true"
	[(visible)]="annotation.showDialog"
	[modal]="false"
	[style]="{ width: '385px' }">
	<p-tabView>
		<p-tabPanel header="Stars & DSOs">
			<ng-template pTemplate="header">
				<div class="flex gap-2 align-items-center">
					<span>Stars & DSOs</span>
					<p-checkbox
						[(ngModel)]="annotation.request.starsAndDSOs"
						(ngModelChange)="savePreference()"
						(onChange)="$event.originalEvent?.stopImmediatePropagation()"
						class="py-1"
						[binary]="true" />
				</div>
			</ng-template>
			<div class="grid mt-2">
				<div class="col-12">
					<p-checkbox
						[disabled]="!annotation.request.starsAndDSOs"
						[(ngModel)]="annotation.request.useSimbad"
						(ngModelChange)="savePreference()"
						class="py-1"
						[binary]="true"
						label="Search on SIMBAD Database Service" />
				</div>
				<div class="col-12 mt-2">
					<p class="w-full m-0 p-3 text-gray-400 text-xs text-center">
						<a
							target="_blank"
							href="https://simbad.cds.unistra.fr/simbad/">
							SIMBAD Astronomical Database - CDS (Strasbourg)
						</a>
					</p>
				</div>
			</div>
		</p-tabPanel>
		<p-tabPanel header="Minor Planets">
			<ng-template pTemplate="header">
				<div class="flex gap-2 align-items-center">
					<span>Minor Planets</span>
					<p-checkbox
						[(ngModel)]="annotation.request.minorPlanets"
						(ngModelChange)="savePreference()"
						(onChange)="$event.originalEvent?.stopImmediatePropagation()"
						class="py-1"
						[binary]="true" />
				</div>
			</ng-template>
			<div class="grid mt-2">
				<div class="col-5">
					<p-floatLabel class="w-full">
						<p-inputNumber
							[disabled]="!annotation.request.minorPlanets"
							[min]="-10"
							[max]="30"
							[showButtons]="true"
							styleClass="p-inputtext-sm border-0 w-full"
							[step]="0.1"
							[(ngModel)]="annotation.request.minorPlanetsMagLimit"
							(ngModelChange)="savePreference()"
							[minFractionDigits]="1"
							locale="en"
							mode="decimal"
							spinnableNumber />
						<label>Mag. Limit</label>
					</p-floatLabel>
				</div>
				<div class="col-7">
					<p-checkbox
						[disabled]="!annotation.request.minorPlanets"
						[(ngModel)]="annotation.request.includeMinorPlanetsWithoutMagnitude"
						(ngModelChange)="savePreference()"
						class="py-1"
						[binary]="true"
						label="Include objects without magnitude" />
				</div>
				@if (annotation.request.minorPlanetsMagLimit >= 20 || annotation.request.includeMinorPlanetsWithoutMagnitude) {
					<div class="col-12 pt-0 text-sm text-gray-300 justify-content-center">
						<i class="mdi mdi-alert mdi-sm text-warning mr-1"></i>
						Can take a long time
					</div>
				}
				<div class="col-12 mt-2">
					<p class="w-full m-0 p-3 text-gray-400 text-xs text-center">
						<a
							target="_blank"
							href="https://ssd-api.jpl.nasa.gov/doc/sb_ident.html">
							Small-Body Identification API
						</a>
					</p>
				</div>
			</div>
		</p-tabPanel>
		<p-tabPanel [disabled]="!annotation.data.length">
			<ng-template pTemplate="header">
				<div class="flex gap-2 align-items-center">
					<span>Objects</span>
					<p-badge
						severity="success"
						[value]="annotation.filtered.length" />
				</div>
			</ng-template>
			<div class="mt-3 flex flex-column align-items-center justify-content-center gap-2">
				<div class="flex align-items-center justify-content-center gap-1">
					<p-floatLabel class="w-full">
						<input
							pInputText
							class="p-inputtext-sm border-0 w-full"
							[(ngModel)]="annotation.search.text"
							(ngModelChange)="searchAnnotations()"
							tooltipPosition="bottom" />
						<label>Search</label>
					</p-floatLabel>
					<p-floatLabel>
						<p-inputNumber
							[min]="-30"
							[max]="30"
							class="w-full"
							[step]="0.1"
							[minFractionDigits]="1"
							[maxFractionDigits]="1"
							[showButtons]="true"
							inputStyleClass="p-inputtext-sm border-0 w-full"
							locale="en"
							[allowEmpty]="false"
							mode="decimal"
							[(ngModel)]="annotation.search.magnitudeMin"
							(ngModelChange)="searchAnnotations()"
							spinnableNumber />
						<label>Mag. min</label>
					</p-floatLabel>
					<p-floatLabel>
						<p-inputNumber
							[min]="-30"
							[max]="30"
							class="w-full"
							[step]="0.1"
							[minFractionDigits]="1"
							[maxFractionDigits]="1"
							[showButtons]="true"
							inputStyleClass="p-inputtext-sm border-0 w-full"
							locale="en"
							[allowEmpty]="false"
							mode="decimal"
							[(ngModel)]="annotation.search.magnitudeMax"
							(ngModelChange)="searchAnnotations()"
							spinnableNumber />
						<label>Mag. max</label>
					</p-floatLabel>
				</div>
				<div class="flex align-items-center w-full justify-content-center">
					<p-checkbox
						[binary]="true"
						label="Display only filtered annotations"
						[(ngModel)]="annotation.displayOnlyFiltered" />
				</div>
				<p-scroller
					[items]="annotation.filtered"
					[itemSize]="36"
					scrollHeight="180px"
					class="w-full mt-1"
					[style]="{ width: '100%', height: '180px' }">
					<ng-template
						pTemplate="item"
						let-item>
						<div
							class="cursor-pointer hover:surface-hover border-round flex flex-column align-items-start justfiy-content-center p-2 gap-1"
							[class.surface-card]="annotation.selected === item"
							style="height: 36px"
							(click)="annotationSelected(item)">
							<div class="w-full flex flex-row align-items-center justify-content-between">
								<span class="text-sm font-bold">{{ item.star?.type ?? item.dso?.type }}</span>
								<span class="text-xs font-bold monospaced">{{ item.x.toFixed(0).padStart(5, '&nbsp;') }} | {{ item.y.toFixed(0).padStart(5, '&nbsp;') }}</span>
							</div>
							<span class="text-xs overflow-hidden">{{ (item.star ?? item.dso ?? item.minorPlanet)?.name?.join(' · ') }}</span>
						</div>
					</ng-template>
				</p-scroller>
			</div>
		</p-tabPanel>
	</p-tabView>
	<ng-template pTemplate="footer">
		<p-button
			[disabled]="annotation.running || (!annotation.request.starsAndDSOs && !annotation.request.minorPlanets)"
			icon="mdi mdi-check"
			label="Annotate"
			(onClick)="annotateImage()"
			[text]="true"
			size="small" />
	</ng-template>
</p-dialog>

<p-dialog
	header="Astronomical Object"
	[draggable]="true"
	[(visible)]="astronomicalObject.showDialog"
	[modal]="false"
	[style]="{ width: 'min-content', minWidth: '325px' }">
	<div class="grid mt-2">
		<ng-container *ngIf="astronomicalObject.info">
			<div class="col-12">
				<p-floatLabel class="w-full">
					<input
						pInputText
						readonly
						[value]="astronomicalObject.info.name.join(' · ')"
						class="border-0 p-inputtext-sm" />
					<label>Name</label>
				</p-floatLabel>
			</div>
			<div class="col-4">
				<p-floatLabel class="w-full">
					<input
						pInputText
						readonly
						[value]="astronomicalObject.info.rightAscensionJ2000 | angle: true : 24"
						class="border-0 p-inputtext-sm" />
					<label>RA (J2000)</label>
				</p-floatLabel>
			</div>
			<div class="col-4">
				<p-floatLabel class="w-full">
					<input
						pInputText
						readonly
						[value]="astronomicalObject.info.declinationJ2000 | angle: true : 360"
						class="border-0 p-inputtext-sm" />
					<label>DEC (J2000)</label>
				</p-floatLabel>
			</div>
			<div
				class="col-4"
				*ngIf="astronomicalObject.info.constellation">
				<p-floatLabel class="w-full">
					<input
						pInputText
						readonly
						value="{{ astronomicalObject.info.constellation }} | {{ astronomicalObject.info.constellation | enum }}"
						class="border-0 p-inputtext-sm" />
					<label>Constellation</label>
				</p-floatLabel>
			</div>
			<div
				class="col-3"
				*ngIf="astronomicalObject.info.magnitude">
				<p-floatLabel class="w-full">
					<input
						pInputText
						readonly
						value="{{ astronomicalObject.info.magnitude < 30.0 ? astronomicalObject.info.magnitude.toFixed(2) : '-' }}"
						class="border-0 p-inputtext-sm" />
					<label>Magnitude</label>
				</p-floatLabel>
			</div>
			<div
				class="col-6"
				*ngIf="astronomicalObject.info.type">
				<p-floatLabel class="w-full">
					<input
						pInputText
						readonly
						value="{{ astronomicalObject.info.type | enum }}"
						class="border-0 p-inputtext-sm" />
					<label>Type</label>
				</p-floatLabel>
			</div>
			<div
				class="col-3"
				*ngIf="astronomicalObject.info.distance">
				<p-floatLabel class="w-full">
					<input
						pInputText
						readonly
						value="{{ astronomicalObject.info.distance <= 0 ? '-' : astronomicalObject.info.distance.toFixed(3) }}"
						class="border-0 p-inputtext-sm" />
					<label>Dist. (ly)</label>
				</p-floatLabel>
			</div>
		</ng-container>
		<div
			class="col-12 justify-content-center text-sm"
			*ngIf="astronomicalObject.info?.type">
			<a
				target="_blank"
				href="{{ 'https://simbad.cds.unistra.fr/simbad/sim-id?Ident=' + astronomicalObject.info!.name[0] }}">
				Simbad
			</a>
		</div>
	</div>
	<ng-template pTemplate="footer">
		<div class="col-12 flex justify-content-center">
			<p-button
				[disabled]="!astronomicalObject.info"
				(onClick)="mountSync(astronomicalObject.info!)"
				icon="mdi mdi-sync"
				label="Sync"
				[text]="true"
				severity="info"
				size="small" />
			<p-button
				[disabled]="!astronomicalObject.info"
				(onClick)="mountGoTo(astronomicalObject.info!)"
				icon="mdi mdi-telescope"
				label="Go To"
				[text]="true"
				severity="success"
				size="small" />
			<p-button
				[disabled]="!astronomicalObject.info"
				(onClick)="mountSlew(astronomicalObject.info!)"
				icon="mdi mdi-telescope"
				label="Slew"
				[text]="true"
				severity="success"
				size="small" />
			<p-button
				[disabled]="!astronomicalObject.info"
				(onClick)="frame(astronomicalObject.info!)"
				icon="mdi mdi-image"
				label="Frame"
				[text]="true"
				size="small" />
		</div>
	</ng-template>
</p-dialog>

<p-dialog
	header="Plate Solver"
	[draggable]="true"
	[(visible)]="solver.showDialog"
	[modal]="false"
	[style]="{ width: 'min-content', minWidth: '340px' }"
	class="pointer-events-none">
	<div class="grid pt-2">
		<div class="col-12 gap-2 align-items-center">
			<p-floatLabel class="w-full">
				<p-dropdown
					[options]="'PLATE_SOLVER' | dropdownOptions | enumDropdown"
					[(ngModel)]="solver.request.type"
					optionsLabel="label"
					optionsValue="value"
					styleClass="p-inputtext-sm border-0"
					[autoDisplayFirst]="false"
					(ngModelChange)="savePreference()"
					appendTo="body" />
				<label>Solver</label>
			</p-floatLabel>
			<p-checkbox
				[binary]="true"
				[disabled]="solver.request.type === 'SIRIL' || solver.request.type === 'PIXINSIGHT'"
				label="Blind"
				[(ngModel)]="solver.request.blind"
				(ngModelChange)="savePreference()" />
		</div>
		<div class="col-8">
			<div class="grid">
				<div class="col-6">
					<p-floatLabel>
						<input
							pInputText
							[disabled]="solver.request.blind && solver.request.type !== 'SIRIL'"
							class="p-inputtext-sm border-0 w-full"
							[(ngModel)]="solver.request.centerRA"
							(ngModelChange)="savePreference()" />
						<label>Center RA (h)</label>
					</p-floatLabel>
				</div>
				<div class="col-6">
					<p-floatLabel>
						<input
							pInputText
							[disabled]="solver.request.blind && solver.request.type !== 'SIRIL'"
							class="p-inputtext-sm border-0 w-full"
							[(ngModel)]="solver.request.centerDEC"
							(ngModelChange)="savePreference()" />
						<label>Center DEC (°)</label>
					</p-floatLabel>
				</div>
			</div>
		</div>
		<div class="col-4 flex flex-row align-items-center">
			<p-floatLabel>
				<p-inputNumber
					[disabled]="(solver.request.blind && solver.request.type !== 'SIRIL') || solver.request.type === 'PIXINSIGHT'"
					[min]="1"
					[max]="180"
					styleClass="p-inputtext-sm border-0 w-full"
					[showButtons]="true"
					[(ngModel)]="solver.request.radius"
					(ngModelChange)="savePreference()"
					spinnableNumber />
				<label>Radius (°)</label>
			</p-floatLabel>
		</div>
		<div class="col-6 flex flex-row align-items-center">
			<p-floatLabel>
				<p-inputNumber
					[min]="0"
					[max]="10000"
					styleClass="p-inputtext-sm border-0 w-full"
					[showButtons]="true"
					[(ngModel)]="solver.request.focalLength"
					[allowEmpty]="false"
					locale="en"
					(ngModelChange)="savePreference()"
					spinnableNumber />
				<label>Focal length (mm)</label>
			</p-floatLabel>
		</div>
		<div class="col-6 flex flex-row align-items-center">
			<p-floatLabel>
				<p-inputNumber
					[min]="0"
					[max]="100"
					[step]="0.01"
					[minFractionDigits]="1"
					styleClass="p-inputtext-sm border-0 w-full"
					[showButtons]="true"
					[(ngModel)]="solver.request.pixelSize"
					[allowEmpty]="false"
					locale="en"
					mode="decimal"
					(ngModelChange)="savePreference()"
					spinnableNumber />
				<label>Pixel size (µm)</label>
			</p-floatLabel>
		</div>
	</div>
	<ng-template pTemplate="footer">
		<div class="grid pt-2">
			<div class="col-4">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="solver.solved.rightAscensionJ2000" />
					<label>RA (J2000)</label>
				</p-floatLabel>
			</div>
			<div class="col-4">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="solver.solved.declinationJ2000" />
					<label>DEC (J2000)</label>
				</p-floatLabel>
			</div>
			<div class="col-4">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="solver.solved.orientation.toFixed(4)" />
					<label>Orientation (°)</label>
				</p-floatLabel>
			</div>
			<div class="col-4">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="solver.solved.scale.toFixed(4)" />
					<label>Scale (arcsec/px)</label>
				</p-floatLabel>
			</div>
			<div class="col-4">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="solver.solved.width.toFixed(2) + ' x ' + solver.solved.height.toFixed(2)" />
					<label>Field size (arcmin)</label>
				</p-floatLabel>
			</div>
			<div class="col-4">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="solver.solved.radius.toFixed(4)" />
					<label>Radius (°)</label>
				</p-floatLabel>
			</div>
		</div>
		<div class="grid mb-2 mt-2">
			<div class="col-12 flex justify-content-center">
				<p-button
					[disabled]="solver.running || !solver.solved.solved"
					(onClick)="mountSync(solver.solved)"
					icon="mdi mdi-sync"
					label="Sync"
					[text]="true"
					severity="info"
					size="small" />
				<p-button
					[disabled]="solver.running || !solver.solved.solved"
					(onClick)="mountGoTo(solver.solved)"
					icon="mdi mdi-telescope"
					label="Go To"
					[text]="true"
					severity="success"
					size="small" />
				<p-button
					[disabled]="solver.running || !solver.solved.solved"
					(onClick)="mountSlew(solver.solved)"
					icon="mdi mdi-telescope"
					label="Slew"
					[text]="true"
					severity="success"
					size="small" />
				<p-button
					[disabled]="solver.running || !solver.solved.solved"
					(onClick)="frame(solver.solved)"
					icon="mdi mdi-image"
					label="Frame"
					[text]="true"
					size="small" />
			</div>
		</div>

		<p-button
			[disabled]="!solver.running || !canPlateSolve"
			icon="mdi mdi-stop"
			label="Stop"
			(onClick)="solverStop()"
			[text]="true"
			size="small"
			severity="danger" />
		<p-button
			[disabled]="solver.running || !canPlateSolve"
			icon="mdi mdi-sigma"
			label="Solve"
			(onClick)="solverStart()"
			[text]="true"
			size="small" />
	</ng-template>
</p-dialog>

<p-dialog
	header="Stretching"
	[draggable]="true"
	[(visible)]="stretch.showDialog"
	[modal]="false"
	[style]="{ width: 'min-content', minWidth: '320px' }"
	class="pointer-events-none">
	<div class="grid px-2 pt-2">
		<div class="col-8 flex flex-column">
			<div class="flex flex-row gap-2 align-items-center justify-content-between">
				<p-floatLabel>
					<p-inputNumber
						[min]="0"
						[max]="65536"
						[showButtons]="true"
						styleClass="p-inputtext-sm border-0 w-full"
						[(ngModel)]="stretch.transformation.shadow"
						locale="en"
						spinnableNumber />
					<label>Shadow</label>
				</p-floatLabel>
				<p-floatLabel>
					<p-inputNumber
						[min]="0"
						[max]="65536"
						[showButtons]="true"
						styleClass="p-inputtext-sm border-0 w-full"
						[(ngModel)]="stretch.transformation.highlight"
						locale="en"
						spinnableNumber />
					<label>Highlight</label>
				</p-floatLabel>
			</div>

			<p-slider
				class="mt-3 px-2"
				[min]="0"
				[max]="65536"
				[ngModel]="[stretch.transformation.shadow, stretch.transformation.highlight]"
				(ngModelChange)="stretch.transformation.shadow = $event[0]; stretch.transformation.highlight = $event[1]"
				[range]="true" />
		</div>
		<div class="col-4 flex flex-column">
			<div class="text-center w-full">
				<p-floatLabel>
					<p-inputNumber
						[min]="0"
						[max]="65536"
						[showButtons]="true"
						styleClass="p-inputtext-sm border-0 w-full"
						[(ngModel)]="stretch.transformation.midtone"
						locale="en"
						spinnableNumber />
					<label>Midtone</label>
				</p-floatLabel>
			</div>

			<p-slider
				class="mt-3 px-2"
				[min]="0"
				[max]="65536"
				[(ngModel)]="stretch.transformation.midtone" />
		</div>
		<div class="col-12 mt-2 flex align-items-center gap-1">
			<p-floatLabel>
				<p-inputNumber
					[min]="0"
					[max]="1"
					[disabled]="!stretch.transformation.auto"
					[showButtons]="true"
					[step]="0.01"
					[minFractionDigits]="2"
					[maxFractionDigits]="2"
					styleClass="p-inputtext-sm border-0 w-full"
					[(ngModel)]="stretch.transformation.meanBackground"
					[allowEmpty]="false"
					mode="decimal"
					locale="en"
					spinnableNumber />
				<label>Auto Stretch Mean Background</label>
			</p-floatLabel>
			<p-button
				[text]="true"
				icon="mdi mdi-check"
				severity="success"
				(onClick)="applyAutoStretchMeanBackground()"
				pTooltip="Apply"
				tooltipPosition="bottom" />
			<p-button
				[text]="true"
				icon="mdi mdi-restore"
				severity="info"
				(onClick)="restoreAutoStretchMeanBackground()"
				pTooltip="Reset"
				tooltipPosition="bottom" />
		</div>
	</div>
	<ng-template pTemplate="footer">
		<p-button
			icon="mdi mdi-auto-fix"
			label="Auto"
			(onClick)="autoStretch()"
			[text]="true"
			severity="info"
			size="small" />
		<p-button
			icon="mdi mdi-restore"
			label="Reset"
			(onClick)="resetStretch()"
			[text]="true"
			severity="danger"
			size="small" />
		<p-button
			icon="mdi mdi-check"
			label="Stretch"
			(onClick)="stretchImage()"
			[text]="true"
			size="small" />
	</ng-template>
</p-dialog>

<p-dialog
	header="SCNR"
	[draggable]="true"
	[(visible)]="scnr.showDialog"
	[modal]="false"
	[style]="{ width: '270px' }"
	class="pointer-events-none">
	<div class="grid px-2">
		<div class="col-12 flex align-items-center">
			<p-selectButton
				class="w-full"
				styleClass="border-0"
				[options]="['NONE', 'RED', 'GREEN', 'BLUE'] | enumDropdown"
				optionLabel="label"
				optionValue="value"
				[ngModel]="scnr.transformation.channel ?? 'NONE'"
				(ngModelChange)="scnr.transformation.channel = $event === 'NONE' ? undefined : $event"
				[multiple]="false" />
		</div>
		<div class="col-7 flex align-items-center">
			<p-floatLabel class="w-full">
				<p-dropdown
					[disabled]="!scnr.transformation.channel"
					appendTo="body"
					[(ngModel)]="scnr.transformation.method"
					[options]="'SCNR_PROTECTION_METHOD' | dropdownOptions | enumDropdown"
					optionLabel="label"
					optionValue="value"
					styleClass="p-inputtext-sm border-0"
					[autoDisplayFirst]="false" />
				<label>Protection Method</label>
			</p-floatLabel>
		</div>
		<div class="col-5 flex align-items-center">
			<p-floatLabel>
				<p-inputNumber
					[disabled]="!scnr.transformation.channel || !scnr.transformation.method.endsWith('MASK')"
					[min]="0"
					[max]="1"
					[step]="0.1"
					[showButtons]="true"
					class="w-full"
					styleClass="p-inputtext-sm border-0 w-full"
					[minFractionDigits]="1"
					[(ngModel)]="scnr.transformation.amount"
					mode="decimal"
					locale="en"
					[allowEmpty]="false"
					spinnableNumber />
				<label>Amount</label>
			</p-floatLabel>
		</div>
	</div>
	<ng-template pTemplate="footer">
		<p-button
			icon="mdi mdi-check"
			label="Apply"
			(onClick)="scnrImage()"
			[text]="true"
			size="small" />
	</ng-template>
</p-dialog>

<p-dialog
	header="FITS Headers"
	[draggable]="true"
	[(visible)]="headers.showDialog"
	[modal]="false"
	[style]="{ width: 'min-content', minWidth: '340px', minHeight: '340px' }"
	class="pointer-events-none">
	<div class="p-2">
		<p-table
			[value]="headers.headers"
			class="w-full"
			dataKey="name"
			styleClass="w-full pb-4 p-datatable-striped">
			<ng-template pTemplate="header">
				<tr>
					<th>Name</th>
					<th>Value</th>
				</tr>
			</ng-template>
			<ng-template
				pTemplate="body"
				let-item>
				<tr [pSelectableRow]="item">
					<td>{{ item.name }}</td>
					<td>{{ item.value }}</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</p-dialog>

<p-dialog
	header="Statistics"
	[draggable]="true"
	[(visible)]="statistics.showDialog"
	[modal]="false"
	[style]="{ width: 'min-content', minWidth: '336px' }"
	class="pointer-events-none">
	@if (statistics.statistics && imageInfo) {
		<div class="grid p-2">
			<div class="col-12 flex align-items-center">
				<p-selectButton
					styleClass="border-0"
					[disabled]="imageInfo.mono"
					[options]="'IMAGE_CHANNEL' | dropdownOptions | enumDropdown"
					optionLabel="label"
					optionValue="value"
					[(ngModel)]="statistics.channel"
					(ngModelChange)="computeStatistics(true)"
					[multiple]="false" />
			</div>
			<div class="col-4">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="statistics.statistics.count" />
					<label>Count (px)</label>
				</p-floatLabel>
			</div>
			<div class="col-4">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="(statistics.statistics.mean * statistics.bitOption.rangeMax).toFixed(statistics.bitOption.decimalPlaces)" />
					<label>Mean</label>
				</p-floatLabel>
			</div>
			<div class="col-4">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="(statistics.statistics.median * statistics.bitOption.rangeMax).toFixed(statistics.bitOption.decimalPlaces)" />
					<label>Median</label>
				</p-floatLabel>
			</div>
			<div class="col-4">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="(statistics.statistics.variance * statistics.bitOption.rangeMax * statistics.bitOption.rangeMax).toFixed(statistics.bitOption.decimalPlaces)" />
					<label>Variance</label>
				</p-floatLabel>
			</div>
			<div class="col-4">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="(statistics.statistics.avgDev * statistics.bitOption.rangeMax).toFixed(statistics.bitOption.decimalPlaces)" />
					<label>Avg Dev</label>
				</p-floatLabel>
			</div>
			<div class="col-4">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="(statistics.statistics.stdDev * statistics.bitOption.rangeMax).toFixed(statistics.bitOption.decimalPlaces)" />
					<label>Std Dev</label>
				</p-floatLabel>
			</div>
			<div class="col-3">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="(statistics.statistics.minimum * statistics.bitOption.rangeMax).toFixed(statistics.bitOption.decimalPlaces)" />
					<label>Minimum</label>
				</p-floatLabel>
			</div>
			<div class="col-3">
				<p-floatLabel>
					<input
						pInputText
						readonly
						class="p-inputtext-sm border-0 w-full"
						[value]="(statistics.statistics.maximum * statistics.bitOption.rangeMax).toFixed(statistics.bitOption.decimalPlaces)" />
					<label>Maximum</label>
				</p-floatLabel>
			</div>
			<div class="col-6">
				<p-floatLabel class="w-full">
					<p-dropdown
						[options]="'IMAGE_STATISTICS_BIT_OPTION' | dropdownOptions"
						[(ngModel)]="statistics.bitOption"
						optionLabel="name"
						[autoDisplayFirst]="true"
						styleClass="p-inputtext-sm border-0"
						appendTo="body"
						(ngModelChange)="savePreference()" />
					<label>Bits</label>
				</p-floatLabel>
			</div>
			<div class="col-12">
				<neb-histogram
					#histogram
					class="w-full"
					style="max-height: 94px" />
			</div>
		</div>
	}
</p-dialog>

<p-dialog
	header="Star Detection"
	[draggable]="true"
	[(visible)]="starDetector.showDialog"
	[modal]="false"
	[style]="{ width: '360px' }"
	class="pointer-events-none">
	<div class="grid mt-2">
		<div class="col-7 flex align-items-center">
			<p-floatLabel class="w-full">
				<p-dropdown
					appendTo="body"
					[(ngModel)]="starDetector.request.type"
					[options]="'STAR_DETECTOR' | dropdownOptions | enumDropdown"
					optionsLabel="label"
					optionsValue="value"
					styleClass="p-inputtext-sm border-0"
					[autoDisplayFirst]="false" />
				<label>Detector</label>
			</p-floatLabel>
		</div>
		<div
			class="col-5 align-items-center"
			*ngIf="starDetector.request.type !== 'SIRIL'">
			<p-floatLabel>
				<p-inputNumber
					[min]="0"
					[max]="500"
					[step]="1"
					[showButtons]="true"
					class="w-full"
					styleClass="p-inputtext-sm border-0 w-full"
					[(ngModel)]="starDetector.request.minSNR"
					locale="en"
					[allowEmpty]="false"
					spinnableNumber />
				<label>Min SNR</label>
			</p-floatLabel>
		</div>
		<div
			class="col-5 align-items-center"
			*ngIf="starDetector.request.type === 'SIRIL'">
			<p-floatLabel>
				<p-inputNumber
					[min]="0"
					[max]="2000"
					[step]="1"
					[showButtons]="true"
					class="w-full"
					styleClass="p-inputtext-sm border-0 w-full"
					[(ngModel)]="starDetector.request.maxStars"
					locale="en"
					[allowEmpty]="false"
					spinnableNumber />
				<label>Max Stars</label>
			</p-floatLabel>
		</div>
		<div class="col-12 mt-1">
			<span class="font-bold text-sm">COMPUTED</span>
		</div>
		<div class="col-2 align-items-center">
			<p-floatLabel>
				<input
					pInputText
					readonly
					class="p-inputtext-sm border-0 w-full"
					[value]="starDetector.stars.length" />
				<label>Stars</label>
			</p-floatLabel>
		</div>
		<div class="col-4 align-items-center">
			<p-floatLabel>
				<input
					pInputText
					readonly
					class="p-inputtext-sm border-0 w-full"
					value="{{ starDetector.computed.hfd.toFixed(2) }} | {{ starDetector.computed.stdDev.toFixed(4) }}" />
				<label>HFD (Std Dev)</label>
			</p-floatLabel>
		</div>
		<div class="col-2 align-items-center">
			<p-floatLabel>
				<input
					pInputText
					readonly
					class="p-inputtext-sm border-0 w-full"
					[value]="starDetector.computed.snr.toFixed(1)" />
				<label>SNR</label>
			</p-floatLabel>
		</div>
		<div class="col-4 align-items-center">
			<p-floatLabel>
				<input
					pInputText
					readonly
					class="p-inputtext-sm border-0 w-full"
					value="{{ starDetector.computed.fluxMin.toFixed(0) }} | {{ starDetector.computed.fluxMax.toFixed(0) }}" />
				<label>Flux (min | max)</label>
			</p-floatLabel>
		</div>
		<div class="col-12 mt-1">
			<span class="font-bold text-sm">SELECTED</span>
		</div>
		<div class="col-5">
			<canvas
				#detectedStarCanvas
				class="detected-star"></canvas>
		</div>
		<div class="col-7">
			<div class="grid">
				<div class="col-6 align-items-center">
					<p-floatLabel>
						<input
							pInputText
							readonly
							class="p-inputtext-sm border-0 w-full"
							value="{{ starDetector.selected.x.toFixed(0) }} | {{ starDetector.selected.y.toFixed(0) }}" />
						<label>Coordinates</label>
					</p-floatLabel>
				</div>
				<div class="col-6 align-items-center">
					<p-floatLabel>
						<input
							pInputText
							readonly
							class="p-inputtext-sm border-0 w-full"
							[value]="starDetector.selected.flux.toFixed(0)" />
						<label>Flux</label>
					</p-floatLabel>
				</div>
				<div class="col-6 align-items-center">
					<p-floatLabel>
						<input
							pInputText
							readonly
							class="p-inputtext-sm border-0 w-full"
							[value]="starDetector.selected.hfd.toFixed(2)" />
						<label>HFD</label>
					</p-floatLabel>
				</div>
				<div class="col-6 align-items-center">
					<p-floatLabel>
						<input
							pInputText
							readonly
							class="p-inputtext-sm border-0 w-full"
							[value]="starDetector.selected.snr.toFixed(1)" />
						<label>SNR</label>
					</p-floatLabel>
				</div>
			</div>
		</div>
	</div>
	<ng-template pTemplate="footer">
		<p-button
			[disabled]="starDetector.running"
			icon="mdi mdi-check"
			label="Detect"
			(onClick)="detectStars()"
			[text]="true"
			size="small" />
	</ng-template>
</p-dialog>

<p-dialog
	header="Field of View"
	[draggable]="true"
	[(visible)]="fov.showDialog"
	[modal]="false"
	[style]="{ width: '390px' }"
	class="pointer-events-none">
	<div class="grid p-2">
		<div class="col-2 align-items-center justify-content-center gap-2">
			<p-colorPicker
				[(ngModel)]="fov.selected.color"
				(ngModelChange)="saveFOV(false)"
				appendTo="body"
				[autofocus]="false"
				[style]="{ width: '23px', height: '23px' }" />
		</div>
		<div class="col-6 align-items-center justify-content-start gap-2">
			<p-button
				[text]="true"
				icon="mdi mdi-telescope"
				(onClick)="showFOVTelescopeDialog()"
				pTooltip="Choose telescope"
				tooltipPosition="bottom" />
			<p-floatLabel>
				<p-inputNumber
					styleClass="p-inputtext-sm border-0"
					[showButtons]="true"
					[(ngModel)]="fov.selected.focalLength"
					(ngModelChange)="saveFOV()"
					spinnableNumber />
				<label>Focal Length (mm)</label>
			</p-floatLabel>
		</div>
		<div class="col-4">
			<p-floatLabel>
				<p-inputNumber
					styleClass="p-inputtext-sm border-0"
					[showButtons]="true"
					[(ngModel)]="fov.selected.aperture"
					(ngModelChange)="saveFOV()"
					spinnableNumber />
				<label>Aperture (mm)</label>
			</p-floatLabel>
		</div>
		<div class="col-4 justify-content-center align-items-center">Resolution (px)</div>
		<div class="col-4 justify-content-center align-items-center gap-2">
			<p-button
				[text]="true"
				icon="mdi mdi-camera-iris"
				(onClick)="showFOVCameraDialog()"
				pTooltip="Choose camera"
				tooltipPosition="bottom" />
		</div>
		<div class="col-4 justify-content-center align-items-center">Pixel Size (µm)</div>
		<div class="col-3">
			<p-floatLabel>
				<p-inputNumber
					styleClass="p-inputtext-sm border-0"
					[showButtons]="true"
					[min]="1"
					[max]="9999"
					[(ngModel)]="fov.selected.cameraSize.width"
					(ngModelChange)="saveFOV()"
					spinnableNumber />
				<label>Width</label>
			</p-floatLabel>
		</div>
		<div class="col-3">
			<p-floatLabel>
				<p-inputNumber
					styleClass="p-inputtext-sm border-0"
					[showButtons]="true"
					[min]="1"
					[max]="9999"
					[(ngModel)]="fov.selected.cameraSize.height"
					(ngModelChange)="saveFOV()"
					spinnableNumber />
				<label>Height</label>
			</p-floatLabel>
		</div>
		<div class="col-3">
			<p-floatLabel>
				<p-inputNumber
					styleClass="p-inputtext-sm border-0"
					[showButtons]="true"
					[min]="0"
					[max]="99.99"
					[step]="0.01"
					[minFractionDigits]="1"
					[maxFractionDigits]="2"
					[(ngModel)]="fov.selected.pixelSize.width"
					mode="decimal"
					(ngModelChange)="saveFOV()"
					locale="en"
					spinnableNumber />
				<label>Width</label>
			</p-floatLabel>
		</div>
		<div class="col-3">
			<p-floatLabel>
				<p-inputNumber
					styleClass="p-inputtext-sm border-0"
					[showButtons]="true"
					[min]="0"
					[max]="99.99"
					[step]="0.01"
					[minFractionDigits]="1"
					[maxFractionDigits]="2"
					[(ngModel)]="fov.selected.pixelSize.height"
					mode="decimal"
					(ngModelChange)="saveFOV()"
					locale="en"
					spinnableNumber />
				<label>Height</label>
			</p-floatLabel>
		</div>
		<div class="col-4">
			<p-floatLabel>
				<p-inputNumber
					styleClass="p-inputtext-sm border-0"
					[showButtons]="true"
					[min]="0.01"
					[max]="5"
					[step]="0.01"
					[minFractionDigits]="1"
					[maxFractionDigits]="2"
					[(ngModel)]="fov.selected.barlowReducer"
					mode="decimal"
					(ngModelChange)="saveFOV()"
					locale="en"
					spinnableNumber />
				<label>Barlow/Reducer</label>
			</p-floatLabel>
		</div>
		<div class="col-3">
			<p-floatLabel>
				<p-inputNumber
					styleClass="p-inputtext-sm border-0"
					[showButtons]="true"
					[min]="1"
					[max]="5"
					[(ngModel)]="fov.selected.bin"
					(ngModelChange)="saveFOV()"
					spinnableNumber />
				<label>Bin</label>
			</p-floatLabel>
		</div>
		<div class="col-4 flex-row gap-1">
			<p-floatLabel>
				<p-inputNumber
					styleClass="p-inputtext-sm border-0"
					[showButtons]="true"
					[min]="0"
					[max]="360"
					[step]="1"
					[minFractionDigits]="2"
					[maxFractionDigits]="2"
					[(ngModel)]="fov.selected.rotation"
					(ngModelChange)="saveFOV(false)"
					locale="en"
					mode="decimal"
					spinnableNumber />
				<label>Rotation (°)</label>
			</p-floatLabel>
		</div>
		<div class="col-1 flex align-items-center justify-content-center gap-2">
			<p-button
				[disabled]="!canAddFOV"
				[text]="true"
				icon="mdi mdi-plus"
				severity="success"
				size="small"
				pTooltip="Add"
				tooltipPosition="bottom"
				(onClick)="addFOV()" />
		</div>
		<div
			class="col-12 p-0 flex-column overflow-auto mt-2 gap-1"
			*ngIf="fov.fovs.length"
			style="max-height: 112px">
			@for (item of fov.fovs; track $index) {
				<div
					class="flex align-items-center gap-2 border-left-3 p-2 border-round cursor-pointer"
					[class.bg-blue-900]="fov.selected === item"
					[style.border-color]="item.color"
					(click)="selectFOV(item)">
					<div class="flex align-items-center justify-content-center">
						<p-checkbox
							[binary]="true"
							[(ngModel)]="item.enabled"
							(onChange)="$event.originalEvent?.stopImmediatePropagation()" />
					</div>
					<div class="flex align-items-center flex-wrap gap-1">
						<p-tag
							severity="info"
							value="FL: {{ item.focalLength }} mm" />
						<p-tag
							severity="info"
							value="AP: {{ item.aperture }} mm" />
						<p-tag
							severity="info"
							value="RES: {{ item.cameraSize.width }}x{{ item.cameraSize.height }}" />
						<p-tag
							severity="info"
							value="PS: {{ item.pixelSize.width }}x{{ item.pixelSize.height }} µm" />
						<p-tag
							severity="info"
							value="MULT: {{ item.barlowReducer.toFixed(2) }}x" />
						<p-tag
							severity="info"
							value="BIN: {{ item.bin }}" />
						<p-tag
							severity="info"
							value="ANGLE: {{ item.rotation }}°" />
						@if (item.computed) {
							<p-tag
								severity="success"
								value="F/{{ item.computed.focalRatio.toFixed(1) }}" />
							<p-tag
								severity="success"
								value="SCALE: {{ item.computed.cameraResolution.width.toFixed(2) }}&quot;x{{ item.computed.cameraResolution.height.toFixed(2) }}&quot;" />
							<p-tag
								severity="success"
								value="FOV: {{ item.computed.fieldSize.width.toFixed(2) }}°x{{ item.computed.fieldSize.height.toFixed(2) }}°" />
						}
					</div>
					<div class="flex px-1 flex-column gap-0 align-items-center justify-content-between">
						<p-button
							[text]="true"
							[rounded]="true"
							(onClick)="frameFOV(item); $event.stopImmediatePropagation()"
							icon="mdi mdi-image"
							size="small"
							pTooltip="Frame"
							tooltipPosition="bottom" />
						<p-button
							[text]="true"
							[rounded]="true"
							severity="danger"
							icon="mdi mdi-delete"
							size="small"
							pTooltip="Remove"
							tooltipPosition="bottom"
							(onClick)="deleteFOV(item); $event.stopImmediatePropagation()" />
					</div>
				</div>
			}
		</div>
	</div>
</p-dialog>

<p-dialog
	header="Cameras"
	[draggable]="true"
	[(visible)]="fov.showCameraDialog"
	[modal]="false"
	[style]="{ width: '300px' }"
	class="pointer-events-none">
	<div class="grid">
		<div class="col-12">
			<p-listbox
				[options]="fov.cameras"
				[(ngModel)]="fov.camera"
				[filter]="true"
				[style]="{ width: '100%' }"
				[listStyle]="{ 'max-height': '210px' }"
				[virtualScroll]="true"
				[virtualScrollItemSize]="42"
				filterBy="name,sensor"
				filterMatchMode="contains"
				[filterFields]="['name', 'sensor']"
				styleClass="border-0">
				<ng-template
					let-item
					pTemplate="item">
					<div class="flex flex-column justify-content-center">
						<span class="font-bold white-space-nowrap">{{ item.name }}</span>
						<span class="font-italic text-sm white-space-nowrap">{{ item.sensor }}</span>
						<span class="text-sm">{{ item.width }}x{{ item.height }} / {{ item.pixelSize }}µm</span>
					</div>
				</ng-template>
			</p-listbox>
		</div>
	</div>
	<ng-template pTemplate="footer">
		<p-button
			[disabled]="!fov.camera"
			icon="mdi mdi-check"
			label="Choose"
			(onClick)="chooseCamera()"
			[text]="true"
			size="small" />
	</ng-template>
</p-dialog>

<p-dialog
	header="Telescopes"
	[draggable]="true"
	[(visible)]="fov.showTelescopeDialog"
	[modal]="false"
	[style]="{ width: '300px' }"
	class="pointer-events-none">
	<div class="grid">
		<div class="col-12">
			<p-listbox
				[options]="fov.telescopes"
				[(ngModel)]="fov.telescope"
				[filter]="true"
				[style]="{ width: '100%' }"
				[listStyle]="{ 'max-height': '210px' }"
				[virtualScroll]="true"
				[virtualScrollItemSize]="42"
				filterBy="name"
				filterMatchMode="contains"
				[filterFields]="['name']"
				styleClass="border-0">
				<ng-template
					let-item
					pTemplate="item">
					<div class="flex flex-column justify-content-center">
						<span class="font-bold white-space-nowrap">{{ item.name }}</span>
						<span class="text-sm">{{ item.aperture }}mm / {{ item.focalLength }}mm</span>
					</div>
				</ng-template>
			</p-listbox>
		</div>
	</div>
	<ng-template pTemplate="footer">
		<p-button
			[disabled]="!fov.telescope"
			icon="mdi mdi-check"
			label="Choose"
			(onClick)="chooseTelescope()"
			[text]="true"
			size="small" />
	</ng-template>
</p-dialog>

<p-dialog
	header="Save As"
	[draggable]="true"
	[(visible)]="saveAs.showDialog"
	[modal]="false"
	[style]="{ width: '260px' }"
	class="pointer-events-none">
	<div class="grid mt-2">
		<div class="col-12">
			<neb-path-chooser
				key="imageSaveAs"
				[directory]="false"
				[save]="true"
				[(path)]="saveAs.path"
				(pathChange)="pathChangedForSaveAs()"
				class="w-full" />
		</div>
		<div class="col-12 flex align-items-center justify-content-center">
			<p-selectButton
				class="w-full"
				styleClass="border-0"
				[options]="'IMAGE_FORMAT' | dropdownOptions"
				[(ngModel)]="saveAs.format"
				[multiple]="false" />
		</div>
		@if (imageInfo) {
			<div class="col-2">
				<p-button
					[disabled]="!hasROI"
					[text]="true"
					icon="mdi mdi-artboard"
					size="small"
					pTooltip="ROI Size"
					tooltipPosition="bottom"
					(onClick)="useROIAreaForSaveAs()" />
			</div>
			<div class="col-5">
				<p-floatLabel class="w-full">
					<p-inputNumber
						[min]="0"
						[max]="imageInfo.width"
						[showButtons]="true"
						styleClass="p-inputtext-sm border-0 w-full"
						[(ngModel)]="saveAs.subFrame.x"
						locale="en"
						spinnableNumber />
					<label>X</label>
				</p-floatLabel>
			</div>
			<div class="col-5">
				<p-floatLabel class="w-full">
					<p-inputNumber
						[min]="0"
						[max]="imageInfo.height"
						[showButtons]="true"
						styleClass="p-inputtext-sm border-0 w-full"
						[(ngModel)]="saveAs.subFrame.y"
						locale="en"
						spinnableNumber />
					<label>Y</label>
				</p-floatLabel>
			</div>
			<div class="col-2">
				<p-button
					[text]="true"
					icon="mdi mdi-restore"
					size="small"
					pTooltip="Image Size"
					tooltipPosition="bottom"
					(onClick)="useImageAreaForSaveAs()" />
			</div>
			<div class="col-5">
				<p-floatLabel class="w-full">
					<p-inputNumber
						[min]="0"
						[max]="imageInfo.width"
						[showButtons]="true"
						styleClass="p-inputtext-sm border-0 w-full"
						[(ngModel)]="saveAs.subFrame.width"
						locale="en"
						spinnableNumber />
					<label>Width</label>
				</p-floatLabel>
			</div>
			<div class="col-5">
				<p-floatLabel class="w-full">
					<p-inputNumber
						[min]="0"
						[max]="imageInfo.height"
						[showButtons]="true"
						styleClass="p-inputtext-sm border-0 w-full"
						[(ngModel)]="saveAs.subFrame.height"
						locale="en"
						spinnableNumber />
					<label>Height</label>
				</p-floatLabel>
			</div>
		}
		<div class="col-7 align-items-center justify-content-center">
			<p-floatLabel class="w-full">
				<p-dropdown
					[disabled]="saveAs.format !== 'FITS' && saveAs.format !== 'XISF'"
					[options]="'IMAGE_BITPIX' | dropdownOptions | enumDropdown"
					optionsLabel="label"
					optionsValue="value"
					[(ngModel)]="saveAs.bitpix"
					styleClass="p-inputtext-sm border-0"
					[autoDisplayFirst]="false"
					appendTo="body" />
				<label>Format</label>
			</p-floatLabel>
		</div>
		<div class="col-5 flex-column align-items-center justify-content-center gap-1">
			<span class="text-sm">Transformed</span>
			<p-checkbox
				[binary]="true"
				[(ngModel)]="saveAs.shouldBeTransformed" />
		</div>
	</div>
	<ng-template pTemplate="footer">
		<p-button
			[disabled]="!saveAs.path"
			icon="mdi mdi-content-save"
			label="Save"
			(onClick)="saveImageAs()"
			[text]="true"
			size="small" />
	</ng-template>
</p-dialog>

<p-dialog
	header="Settings"
	[draggable]="false"
	[(visible)]="settings.showDialog"
	[modal]="false"
	[style]="{ width: 'min-content', minWidth: '338px' }">
	<div class="grid">
		<div class="col-12 flex-column gap-2">
			<p-checkbox
				[binary]="true"
				[(ngModel)]="settings.preference.transformation.useJPEG"
				(ngModelChange)="savePreference()"
				label="JPEG (reduces the loading time but less quality)" />
			<p-checkbox
				[binary]="true"
				[(ngModel)]="settings.preference.pixelated"
				(ngModelChange)="savePreference()"
				label="Pixelated (scaling algorithm)" />
		</div>
	</div>
</p-dialog>

<p-dialog
	header="Rotation"
	[draggable]="true"
	[(visible)]="rotation.showDialog"
	[modal]="false"
	[style]="{ width: 'min-content', minWidth: '230px' }">
	<div class="grid">
		<div class="col-12 flex-row align-items-center justify-content-center relative gap-2">
			<p-knob
				[min]="0"
				[max]="720"
				[step]="1"
				[showValue]="false"
				[size]="170"
				[ngModel]="rotation.transformation.angle + 360"
				(ngModelChange)="rotate($event - 360)"
				spinnableNumber />
			<p-floatLabel class="absolute max-w-8rem">
				<p-inputNumber
					[min]="-360"
					[max]="360"
					[showButtons]="true"
					styleClass="p-inputtext-sm border-0 w-full"
					[step]="1"
					[(ngModel)]="rotation.transformation.angle"
					(ngModelChange)="savePreference()"
					[minFractionDigits]="2"
					[maxFractionDigits]="2"
					mode="decimal"
					locale="en"
					spinnableNumber />
				<label>Angle (deg)</label>
			</p-floatLabel>
		</div>
		<div class="col-12 flex-row align-items-center justify-content-center gap-1">
			<p-button
				label="0°"
				[text]="true"
				(onClick)="rotate(0)" />
			<p-button
				label="90°"
				[text]="true"
				(onClick)="rotate(90)" />
			<p-button
				label="180°"
				[text]="true"
				(onClick)="rotate(180)" />
			<p-button
				label="270°"
				[text]="true"
				(onClick)="rotate(270)" />
		</div>
	</div>
</p-dialog>

<div
	class="fixed p-3 text-sm coordinates monospaced"
	*ngIf="mouseCoordinate && isMouseCoordinateVisible">
	<div class="grid m-0">
		<div class="col-6 m-0 p-0">X: {{ mouseCoordinate.x }}</div>
		<div class="col-6 m-0 p-0">Y: {{ mouseCoordinate.y }}</div>
		<div class="col-6 m-0 p-0">α: {{ mouseCoordinate.alpha }}</div>
		<div class="col-6 m-0 p-0">δ: {{ mouseCoordinate.delta }}</div>
		<div class="col-6 m-0 p-0">l: {{ mouseCoordinate.l }}</div>
		<div class="col-6 m-0 p-0">b: {{ mouseCoordinate.b }}</div>
	</div>
</div>

<neb-device-list-menu #deviceMenu />
