<div class="flex flex-wrap items-center gap-2">
	<div
		*ngIf="hasType"
		class="flex flex-col items-center">
		<label class="text-success bg-black-alpha-40 p-2-4 mb-1px border-round-sm text-xs">Type</label>
		<span class="min-w-3rem text-center text-sm">{{ info.frameType }}</span>
	</div>
	<div
		*ngIf="hasExposure && info.exposureTime"
		class="flex flex-col items-center">
		<label class="bg-black-alpha-40 p-2-4 mb-1px border-round-sm text-xs text-orange-300">Exposure</label>
		<span class="min-w-4rem text-center text-sm">{{ info.exposureAmount || '∞' }} / {{ info.exposureTime | exposureTime }}</span>
	</div>
	<div
		*ngIf="info.exposureDelay"
		class="flex flex-col items-center">
		<label class="text-info bg-black-alpha-40 p-2-4 mb-1px border-round-sm text-xs">Delay</label>
		<span class="min-w-3rem text-center text-sm">{{ info.exposureDelay * 1000000 | exposureTime }}</span>
	</div>
	<div
		*ngIf="info.x !== undefined && info.y !== undefined && info.width && info.height"
		class="flex flex-col items-center">
		<label class="bg-black-alpha-40 p-2-4 mb-1px border-round-sm text-xs text-yellow-300">ROI</label>
		<span class="min-w-5rem text-center text-sm">{{ info.x }} {{ info.y }} {{ info.width }} {{ info.height }}</span>
	</div>
	<div
		*ngIf="info.binX && info.binY"
		class="flex flex-col items-center">
		<label class="bg-black-alpha-40 p-2-4 mb-1px border-round-sm text-xs text-cyan-300">Bin</label>
		<span class="min-w-2rem text-center text-sm">{{ info.binX }}x{{ info.binY }}</span>
	</div>
	<div
		*ngIf="info.gain"
		class="flex flex-col items-center">
		<label class="bg-black-alpha-40 p-2-4 mb-1px border-round-sm text-xs">Gain</label>
		<span class="min-w-3rem text-center text-sm">{{ info.gain }}</span>
	</div>
	<div
		*ngIf="info.offset"
		class="flex flex-col items-center">
		<label class="bg-black-alpha-40 p-2-4 mb-1px border-round-sm text-xs">Offset</label>
		<span class="min-w-3rem text-center text-sm">{{ info.offset }}</span>
	</div>
	<div
		*ngIf="info.frameFormat"
		class="flex flex-col items-center">
		<label class="bg-black-alpha-40 p-2-4 mb-1px border-round-sm text-xs text-purple-300">Format</label>
		<span class="min-w-5rem text-center text-sm">{{ info.frameFormat }}</span>
	</div>
	<div
		*ngIf="hasFilter"
		class="relative flex flex-row items-center gap-1">
		<div class="flex flex-col items-center">
			<label class="bg-black-alpha-40 p-2-4 mb-1px border-round-sm text-xs text-teal-300">Filter</label>
			<span class="min-w-3rem text-center text-sm">{{ filter }}</span>
		</div>
		<i
			*ngIf="canRemoveFilter && !disabled"
			class="mdi mdi-close min-w-2rem min-h-2rem absolute cursor-pointer text-red-500"
			style="bottom: -32px; left: 50%; transform: translate(-50%, -50%)"
			pTooltip="No filter"
			tooltipPosition="bottom"
			(click)="filterRemoved.emit()"></i>
	</div>
	<div
		*ngIf="hasFilter && focuser && info.focusOffset"
		class="flex flex-col items-center">
		<label class="bg-black-alpha-40 p-2-4 mb-1px border-round-sm text-xs text-indigo-300">Focus Offset</label>
		<span class="min-w-5rem text-center text-sm">{{ info.focusOffset }}</span>
	</div>
	<div
		*ngIf="rotator && info.angle >= 0"
		class="relative flex flex-row items-center gap-1">
		<div class="flex flex-col items-center">
			<label class="bg-black-alpha-40 p-2-4 mb-1px border-round-sm text-xs text-green-300">Angle</label>
			<span class="min-w-3rem text-center text-sm">{{ info.angle.toFixed(1) }}°</span>
		</div>
		<i
			*ngIf="canRemoveAngle && !disabled"
			class="mdi mdi-close min-w-2rem min-h-2rem absolute cursor-pointer text-red-500"
			style="bottom: -32px; left: 50%; transform: translate(-50%, -50%)"
			pTooltip="No rotation"
			tooltipPosition="bottom"
			(click)="angleRemoved.emit()"></i>
	</div>
</div>
