@let mFormula = formula();

<p class="mb-2 mt-1 text-center leading-tight text-gray-400">{{ mFormula.description }}</p>
<div class="mt-4 flex items-center justify-center">
	<neb-tag
		[label]="mFormula.expression"
		size="large" />
</div>
<div class="mt-6 flex flex-col items-center justify-center gap-3">
	@for (item of mFormula.operands; track item.label) {
		<div class="flex w-full items-center justify-center gap-2">
			<span class="w-1/6 text-end text-xl font-bold">{{ item.prefix }}</span>
			<neb-input-number
				[label]="item.label"
				[value]="item.value ?? 0"
				(valueChange)="item.value = $event; calculate()"
				[fractionDigits]="item.maxFractionDigits ?? 4"
				[min]="item.min ?? 0"
				class="w-4/6" />
			<span class="w-1/6 text-xl font-bold">{{ item.suffix }}</span>
		</div>
	}
</div>
<p class="mb-1 mt-0 text-center text-5xl font-bold">=</p>
<div class="flex items-center justify-center gap-2">
	<span class="w-1/6 text-end text-xl font-bold">{{ mFormula.result.prefix }}</span>
	<div class="w-4/6">
		<neb-input-number
			[label]="mFormula.result.label"
			[readonly]="true"
			[value]="mFormula.result.value ?? 0"
			[fractionDigits]="mFormula.result.maxFractionDigits ?? 4" />
	</div>
	<span class="w-1/6 text-xl font-bold">{{ mFormula.result.suffix }}</span>
</div>
@if (mFormula.tip) {
	<div class="mt-3 flex justify-center text-sm">
		<p-message
			severity="info"
			[text]="mFormula.tip" />
	</div>
}
