<p class="text-center mb-2"> {{ formula.description }}</p>
<div class="flex align-items-center justify-content-center">
    <p-tag styleClass="text-lg py-1" [value]="formula.expression" />
</div>
<div class="flex flex-column align-items-center justify-content-center gap-1 mt-4">
    @for (item of formula.operands; track $index) {
    <div class="grid">
        <div class="col-2 align-items-center justify-content-end">
            <span class="text-xl text-bold">{{ item.prefix }}</span>
        </div>
        <div class="col-8 flex justify-content-center">
            <span class="p-float-label">
                <p-inputNumber [(ngModel)]="item.value" (ngModelChange)="calculateFormula()"
                               [minFractionDigits]="item.minFractionDigits ?? 0" [maxFractionDigits]="item.maxFractionDigits ?? 4"
                               [showButtons]="true" styleClass="border-0 p-inputtext-sm" locale="en" scrollableNumber />
                <label>{{ item.label }}</label>
            </span>
        </div>
        <div class="col-2 align-items-center justify-content-start">
            <span class="text-xl text-bold">{{ item.suffix }}</span>
        </div>
    </div>
    }
</div>
<p class="text-bold text-center text-5xl mt-0 mb-1">=</p>
<div class="flex flex-row justify-content-center align-items-center gap-2">
    <span class="text-2xl text-bold">{{ formula.result.prefix }}</span>
    <span class="p-float-label">
        <p-inputNumber [readonly]="true" [ngModel]="formula.result.value"
                       [minFractionDigits]="formula.result.minFractionDigits ?? 0" [maxFractionDigits]="formula.result.maxFractionDigits ?? 4"
                       styleClass="border-0 p-inputtext-sm" locale="en" />
        <label>{{ formula.result.label }}</label>
    </span>
    <span class="text-xl text-bold">{{ formula.result.suffix }}</span>
</div>
<div class="flex justify-content-center mt-3 text-sm" *ngIf="formula.tip">
    <p-message severity="info" [text]="formula.tip" />
</div>