<p class="mb-2 text-center">{{ formula.description }}</p>
<div class="flex items-center justify-center">
	<p-tag
		styleClass="text-lg py-1"
		[value]="formula.expression" />
</div>
<div class="mt-4 flex flex-col items-center justify-center gap-1">
	@for (item of formula.operands; track $index) {
		<div class="grid">
			<div class="w-2/12 items-center justify-end">
				<span class="text-bold text-xl">{{ item.prefix }}</span>
			</div>
			<div class="flex w-8/12 justify-center">
				<p-floatLabel>
					<p-inputNumber
						[(ngModel)]="item.value"
						(ngModelChange)="calculateFormula()"
						[minFractionDigits]="item.minFractionDigits ?? 0"
						[maxFractionDigits]="item.maxFractionDigits ?? 4"
						[min]="item.min ?? 0"
						[showButtons]="true"
						styleClass="border-0 p-inputtext-sm"
						locale="en"
						spinnableNumber />
					<label>{{ item.label }}</label>
				</p-floatLabel>
			</div>
			<div class="w-2/12 items-center justify-start">
				<span class="text-bold text-xl">{{ item.suffix }}</span>
			</div>
		</div>
	}
</div>
<p class="text-bold mb-1 mt-0 text-center text-5xl">=</p>
<div class="flex flex-row items-center justify-center gap-2">
	<span class="text-bold text-2xl">{{ formula.result.prefix }}</span>
	<p-floatLabel>
		<p-inputNumber
			readonly
			[ngModel]="formula.result.value"
			[minFractionDigits]="formula.result.minFractionDigits ?? 0"
			[maxFractionDigits]="formula.result.maxFractionDigits ?? 4"
			styleClass="border-0 p-inputtext-sm"
			locale="en" />
		<label>{{ formula.result.label }}</label>
	</p-floatLabel>
	<span class="text-bold text-xl">{{ formula.result.suffix }}</span>
</div>
<div
	class="mt-3 flex justify-center text-sm"
	*ngIf="formula.tip">
	<p-message
		severity="info"
		[text]="formula.tip" />
</div>
