<div class="container px-4 py-3">
	<div class="grid">
		<div class="col-12 align-items-center justify-content-center gap-2">
			<neb-device-chooser
				title="CAMERA"
				icon="mdi mdi-camera-iris"
				[devices]="cameras"
				[(device)]="camera"
				(deviceChange)="cameraChanged()" />
			<p-button
				[text]="true"
				[disabled]="!camera?.id || running"
				icon="mdi mdi-cog"
				size="small"
				(onClick)="showCameraDialog()"
				pTooltip="Camera"
				tooltipPosition="bottom" />
			<neb-device-chooser
				title="FILTER WHEEL"
				icon="mdi mdi-palette"
				[devices]="wheels"
				[(device)]="wheel"
				(deviceChange)="wheelChanged()" />
		</div>
		<div class="col-12 justify-content-center align-items-center">
			<neb-camera-info
				[info]="request.capture"
				[hasExposure]="false"
				[hasType]="false" />
		</div>
		<div class="col-12 pt-0 pb-1 text-sm text-gray-400 flex-column flex align-items-center my-1 gap-1 text-center text-xs">
			<neb-camera-exposure #cameraExposure />
		</div>
	</div>
	<div class="grid mt-2">
		<div class="col-12">
			<neb-path-chooser
				key="flatWizardSaveFile"
				[disabled]="!camera?.connected || running"
				[directory]="true"
				[(path)]="request.capture.savePath"
				(pathChange)="savePreference()"
				class="w-full" />
		</div>
		<div class="col-6">
			<p-floatLabel>
				<p-inputNumber
					[disabled]="!camera?.connected || running"
					[(ngModel)]="request.exposureMin"
					mode="decimal"
					[showButtons]="true"
					[step]="1.0"
					[min]="1"
					[max]="60000"
					locale="en"
					styleClass="p-inputtext-sm border-0"
					[allowEmpty]="false"
					(ngModelChange)="savePreference()"
					spinnableNumber />
				<label>Min Exposure (ms)</label>
			</p-floatLabel>
		</div>
		<div class="col-6">
			<p-floatLabel>
				<p-inputNumber
					[disabled]="!camera?.connected || running"
					[(ngModel)]="request.exposureMax"
					mode="decimal"
					[showButtons]="true"
					[step]="1.0"
					[min]="request.exposureMin"
					[max]="60000"
					locale="en"
					styleClass="p-inputtext-sm border-0"
					[allowEmpty]="false"
					(ngModelChange)="savePreference()"
					spinnableNumber />
				<label>Max Exposure (ms)</label>
			</p-floatLabel>
		</div>
		<div class="col-6">
			<p-floatLabel>
				<p-inputNumber
					[disabled]="!camera?.connected || running"
					[(ngModel)]="request.meanTarget"
					mode="decimal"
					[showButtons]="true"
					[step]="1.0"
					[min]="0"
					[max]="65535"
					locale="en"
					styleClass="p-inputtext-sm border-0"
					[allowEmpty]="false"
					(ngModelChange)="savePreference()"
					spinnableNumber />
				<label>Mean Target ({{ meanTargetMin }} - {{ meanTargetMax }})</label>
			</p-floatLabel>
		</div>
		<div class="col-6">
			<p-floatLabel>
				<p-inputNumber
					[disabled]="!camera?.connected || running"
					[(ngModel)]="request.meanTolerance"
					mode="decimal"
					[showButtons]="true"
					[step]="1.0"
					[min]="0"
					[max]="100"
					locale="en"
					styleClass="p-inputtext-sm border-0"
					[allowEmpty]="false"
					(ngModelChange)="savePreference()"
					spinnableNumber />
				<label>Mean Tolerance (%)</label>
			</p-floatLabel>
		</div>
		<div class="col-12">
			<p-floatLabel class="w-full">
				<p-multiSelect
					[disabled]="!wheel?.connected || filters.length <= 0"
					[options]="filters"
					[(ngModel)]="selectedFilters"
					optionLabel="name"
					(ngModelChange)="savePreference()"
					styleClass="border-0"
					[style]="{ minHeight: '45px' }"
					display="chip"
					[showClear]="true"
					[showToggleAll]="true"
					[maxSelectedLabels]="wheel?.count || 1"
					scrollHeight="105px" />
				<label>Filters</label>
			</p-floatLabel>
		</div>
	</div>
	<div class="grid mt-1">
		<div class="col-12 flex align-items-center justify-content-center gap-1">
			<p-button
				[disabled]="!camera?.connected || !request.capture.savePath || running"
				label="Start"
				(onClick)="start()"
				icon="mdi mdi-play"
				severity="success"
				size="small"
				[text]="true" />
			<p-button
				[disabled]="!camera?.connected || !running"
				label="Abort"
				(onClick)="stop()"
				icon="mdi mdi-stop"
				severity="danger"
				size="small"
				[text]="true" />
		</div>
	</div>
</div>
