<div class="p-4">
	<div class="grid grid-cols-12 gap-3">
		<div class="col-span-full sm:col-span-4">
			<neb-dropdown
				label="Device"
				[options]="devices"
				[value]="device"
				(valueChange)="deviceChanged($event)"
				emptyMessage="No device available" />
		</div>
		<div class="col-span-full flex items-center !justify-start gap-1 sm:col-span-8">
			<neb-split-button
				[label]="group"
				icon="mdi mdi-sitemap"
				optionIcon="mdi mdi-sitemap"
				[(value)]="group"
				(valueChange)="changeGroup(group)"
				(action)="changeGroup(group)"
				[options]="groups"
				class="max-w-60" />
			<neb-button
				label="Log"
				icon="mdi mdi-post"
				(action)="showLog = true"
				severity="success" />
		</div>
	</div>
	<div class="properties mt-2 flex flex-col gap-3">
		@for (property of properties; track property.name) {
			@if (!showLog && property.group === group) {
				<neb-indi-property
					[property]="property"
					(send)="send($event)" />
			}
		}
		@if (showLog) {
			<div class="col-span-full flex h-full flex-col text-gray-200">
				<p-listbox
					#messageBox
					[options]="messages"
					[filter]="true"
					class="h-full"
					styleClass="h-full"
					[listStyle]="{ maxHeight: 'calc(100vh - 174px)' }" />
			</div>
		}
	</div>
</div>
