<div class="container px-4 py-3">
	<div class="grid flex align-items-center">
		<div class="col-12 sm:col-4">
			<p-floatLabel class="w-full">
				<p-dropdown
					[options]="devices"
					[ngModel]="device"
					(ngModelChange)="deviceChanged($event)"
					optionLabel="name"
					styleClass="border-0"
					emptyMessage="No device found"
					[autoDisplayFirst]="false" />
				<label>Device</label>
			</p-floatLabel>
		</div>
		<div class="col-12 sm:col-8 flex flex-row align-items-center gap-1">
			<p-splitButton
				[label]="group"
				icon="mdi mdi-sitemap"
				(onClick)="changeGroup(group)"
				[model]="groups"
				class="w-auto"
				[style]="{ width: '260px' }" />
			<p-button
				label="Log"
				icon="mdi mdi-post"
				(onClick)="showLog = true"
				[text]="!showLog"
				severity="success"
				size="small" />
		</div>
	</div>
	<div class="grid properties mt-2">
		<div class="col-12 flex-column">
			<div *ngFor="let property of properties">
				<app-indi-property
					*ngIf="!showLog && property.group === group"
					[property]="property"
					(onSend)="send($event)" />
			</div>
			<div
				class="col-12 flex flex-column text-gray-200 h-full"
				*ngIf="showLog">
				<p-listbox
					#listbox
					[options]="messages"
					[filter]="true"
					styleClass="border-0 h-full" />
			</div>
		</div>
	</div>
</div>
