<div class="container p-4">
    <div class="grid flex align-items-center">
        <div class="col-12 sm:col-4">
            <span class="p-float-label">
                <p-dropdown [options]="devices" [(ngModel)]="device" (ngModelChange)="deviceChanged()" optionLabel="name"
                            styleClass="border-0" emptyMessage="No device found" />
                <label>Device</label>
            </span>
        </div>
        <div class="col-12 sm:col-8 flex flex-row align-items-center gap-1">
            <p-splitButton [label]="group" icon="mdi mdi-sitemap" (onClick)="changeGroup(group)" [model]="groups" [style]="{width: '240px'}" />
            <p-button label="Log" icon="mdi mdi-post" (onClick)="showLog = true"
                      styleClass="p-button-{{ showLog ? '' : 'text' }} p-button-success" />
        </div>
    </div>
    <div class="grid properties mt-2">
        <div class="col-12">
            <div *ngFor="let property of properties">
                <app-indi-property *ngIf="!showLog && property.group === group" [property]="property" (onSend)="send($event)" />
            </div>
            <div class="col-12 flex flex-column text-gray-200 h-full" *ngIf="showLog">
                <p-listbox [options]="messages" [filter]="true" [listStyle]="{ 'height': 'calc(100vh - 157px)' }" class="w-full h-full" />
            </div>
        </div>
    </div>
</div>