neb-indi {
	.properties {
		@apply overflow-y-auto;
		height: calc(100vh - 100px);
	}

	.properties::-webkit-scrollbar {
		@apply hidden;
	}

	.p-listbox-filter.p-inputtext {
		@apply border-0 border-none;
		background: var(--p-content-background);
		border-radius: 4px;
	}
}
