@import "MaterialColor.css";

.root {
    -fx-font-family: 'Roboto';
    -fx-font-size: 12px;
    -fx-font-smoothing-type: gray;
}

.text-bold {
    -fx-font-weight: bold;
}

.text-normal {
    -fx-font-weight: normal;
}

.text-xs {
    -fx-font-size: 0.83333em;
}

.text-sm {
    -fx-font-size: 0.91666em;
}

.text-md {
    -fx-font-size: 1em;
}

.text-lg {
    -fx-font-size: 1.5em;
}

.text-xlg {
    -fx-font-size: 2em;
}

.text-monospaced {
    -fx-font-family: 'Monospaced';
}

.text-accent {
    -fx-text-fill: '#0078d7';
}

.text-warning {
    -fx-text-fill: '#d83b01';
}

.s-xs {
    -fx-spacing: 1px;
}

.s-sm {
    -fx-spacing: 4px;
}

.s-md {
    -fx-spacing: 8px;
}

.s-lg {
    -fx-spacing: 16px;
}

.cursor-hand {
    -fx-cursor: 'hand';
}

.mdi {
    -fx-font-family: 'Material Design Icons' !important;
    -fx-font-size: 22px;
}

.mdi.mdi-xxs {
    -fx-font-size: 12px;
}

.mdi.mdi-xs {
    -fx-font-size: 14px;
}

.mdi.mdi-sm {
    -fx-font-size: 18px;
}

.mdi.mdi-md {
    -fx-font-size: 24px;
}

.button,
.choice-box,
.toggle-switch,
.check-box,
.radio-button,
.toggle-button,
.slider,
.menu-item {
    -fx-cursor: 'hand';
}

.menu-item {
    -fx-padding: 8px;
}

.button {
    -fx-min-height: 38px;
    -fx-min-width: 38px;
}

.copyable-label {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-text-box-border: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-traversable: false;
    -fx-padding: 0 0 0 0;
    -fx-box-border: none;
    -fx-border-width: -1;
}

.copyable-label:focused,
.copyable-label:disabled,
.copyable-label:hover {
    -fx-background-color: transparent;
}
