.text-red-50 { -fx-text-fill: '#FFEBEE'; }
.text-red-100 { -fx-text-fill: '#FFCDD2'; }
.text-red-200 { -fx-text-fill: '#EF9A9A'; }
.text-red-300 { -fx-text-fill: '#E57373'; }
.text-red-400 { -fx-text-fill: '#EF5350'; }
.text-red-500 { -fx-text-fill: '#F44336'; }
.text-red-600 { -fx-text-fill: '#E53935'; }
.text-red-700 { -fx-text-fill: '#D32F2F'; }
.text-red-800 { -fx-text-fill: '#C62828'; }
.text-red-900 { -fx-text-fill: '#B71C1C'; }
.text-red-a100 { -fx-text-fill: '#FF8A80'; }
.text-red-a200 { -fx-text-fill: '#FF5252'; }
.text-red-a400 { -fx-text-fill: '#FF1744'; }
.text-red-a700 { -fx-text-fill: '#D50000'; }
.text-pink-50 { -fx-text-fill: '#FCE4EC'; }
.text-pink-100 { -fx-text-fill: '#F8BBD0'; }
.text-pink-200 { -fx-text-fill: '#F48FB1'; }
.text-pink-300 { -fx-text-fill: '#F06292'; }
.text-pink-400 { -fx-text-fill: '#EC407A'; }
.text-pink-500 { -fx-text-fill: '#E91E63'; }
.text-pink-600 { -fx-text-fill: '#D81B60'; }
.text-pink-700 { -fx-text-fill: '#C2185B'; }
.text-pink-800 { -fx-text-fill: '#AD1457'; }
.text-pink-900 { -fx-text-fill: '#880E4F'; }
.text-pink-a100 { -fx-text-fill: '#FF80AB'; }
.text-pink-a200 { -fx-text-fill: '#FF4081'; }
.text-pink-a400 { -fx-text-fill: '#F50057'; }
.text-pink-a700 { -fx-text-fill: '#C51162'; }
.text-purple-50 { -fx-text-fill: '#F3E5F5'; }
.text-purple-100 { -fx-text-fill: '#E1BEE7'; }
.text-purple-200 { -fx-text-fill: '#CE93D8'; }
.text-purple-300 { -fx-text-fill: '#BA68C8'; }
.text-purple-400 { -fx-text-fill: '#AB47BC'; }
.text-purple-500 { -fx-text-fill: '#9C27B0'; }
.text-purple-600 { -fx-text-fill: '#8E24AA'; }
.text-purple-700 { -fx-text-fill: '#7B1FA2'; }
.text-purple-800 { -fx-text-fill: '#6A1B9A'; }
.text-purple-900 { -fx-text-fill: '#4A148C'; }
.text-purple-a100 { -fx-text-fill: '#EA80FC'; }
.text-purple-a200 { -fx-text-fill: '#E040FB'; }
.text-purple-a400 { -fx-text-fill: '#D500F9'; }
.text-purple-a700 { -fx-text-fill: '#AA00FF'; }
.text-deep-purple-50 { -fx-text-fill: '#EDE7F6'; }
.text-deep-purple-100 { -fx-text-fill: '#D1C4E9'; }
.text-deep-purple-200 { -fx-text-fill: '#B39DDB'; }
.text-deep-purple-300 { -fx-text-fill: '#9575CD'; }
.text-deep-purple-400 { -fx-text-fill: '#7E57C2'; }
.text-deep-purple-500 { -fx-text-fill: '#673AB7'; }
.text-deep-purple-600 { -fx-text-fill: '#5E35B1'; }
.text-deep-purple-700 { -fx-text-fill: '#512DA8'; }
.text-deep-purple-800 { -fx-text-fill: '#4527A0'; }
.text-deep-purple-900 { -fx-text-fill: '#311B92'; }
.text-deep-purple-a100 { -fx-text-fill: '#B388FF'; }
.text-deep-purple-a200 { -fx-text-fill: '#7C4DFF'; }
.text-deep-purple-a400 { -fx-text-fill: '#651FFF'; }
.text-deep-purple-a700 { -fx-text-fill: '#6200EA'; }
.text-indigo-50 { -fx-text-fill: '#E8EAF6'; }
.text-indigo-100 { -fx-text-fill: '#C5CAE9'; }
.text-indigo-200 { -fx-text-fill: '#9FA8DA'; }
.text-indigo-300 { -fx-text-fill: '#7986CB'; }
.text-indigo-400 { -fx-text-fill: '#5C6BC0'; }
.text-indigo-500 { -fx-text-fill: '#3F51B5'; }
.text-indigo-600 { -fx-text-fill: '#3949AB'; }
.text-indigo-700 { -fx-text-fill: '#303F9F'; }
.text-indigo-800 { -fx-text-fill: '#283593'; }
.text-indigo-900 { -fx-text-fill: '#1A237E'; }
.text-indigo-a100 { -fx-text-fill: '#8C9EFF'; }
.text-indigo-a200 { -fx-text-fill: '#536DFE'; }
.text-indigo-a400 { -fx-text-fill: '#3D5AFE'; }
.text-indigo-a700 { -fx-text-fill: '#304FFE'; }
.text-blue-50 { -fx-text-fill: '#E3F2FD'; }
.text-blue-100 { -fx-text-fill: '#BBDEFB'; }
.text-blue-200 { -fx-text-fill: '#90CAF9'; }
.text-blue-300 { -fx-text-fill: '#64B5F6'; }
.text-blue-400 { -fx-text-fill: '#42A5F5'; }
.text-blue-500 { -fx-text-fill: '#2196F3'; }
.text-blue-600 { -fx-text-fill: '#1E88E5'; }
.text-blue-700 { -fx-text-fill: '#1976D2'; }
.text-blue-800 { -fx-text-fill: '#1565C0'; }
.text-blue-900 { -fx-text-fill: '#0D47A1'; }
.text-blue-a100 { -fx-text-fill: '#82B1FF'; }
.text-blue-a200 { -fx-text-fill: '#448AFF'; }
.text-blue-a400 { -fx-text-fill: '#2979FF'; }
.text-blue-a700 { -fx-text-fill: '#2962FF'; }
.text-light-blue-50 { -fx-text-fill: '#E1F5FE'; }
.text-light-blue-100 { -fx-text-fill: '#B3E5FC'; }
.text-light-blue-200 { -fx-text-fill: '#81D4fA'; }
.text-light-blue-300 { -fx-text-fill: '#4fC3F7'; }
.text-light-blue-400 { -fx-text-fill: '#29B6FC'; }
.text-light-blue-500 { -fx-text-fill: '#03A9F4'; }
.text-light-blue-600 { -fx-text-fill: '#039BE5'; }
.text-light-blue-700 { -fx-text-fill: '#0288D1'; }
.text-light-blue-800 { -fx-text-fill: '#0277BD'; }
.text-light-blue-900 { -fx-text-fill: '#01579B'; }
.text-light-blue-a100 { -fx-text-fill: '#80D8FF'; }
.text-light-blue-a200 { -fx-text-fill: '#40C4FF'; }
.text-light-blue-a400 { -fx-text-fill: '#00B0FF'; }
.text-light-blue-a700 { -fx-text-fill: '#0091EA'; }
.text-cyan-50 { -fx-text-fill: '#E0F7FA'; }
.text-cyan-100 { -fx-text-fill: '#B2EBF2'; }
.text-cyan-200 { -fx-text-fill: '#80DEEA'; }
.text-cyan-300 { -fx-text-fill: '#4DD0E1'; }
.text-cyan-400 { -fx-text-fill: '#26C6DA'; }
.text-cyan-500 { -fx-text-fill: '#00BCD4'; }
.text-cyan-600 { -fx-text-fill: '#00ACC1'; }
.text-cyan-700 { -fx-text-fill: '#0097A7'; }
.text-cyan-800 { -fx-text-fill: '#00838F'; }
.text-cyan-900 { -fx-text-fill: '#006064'; }
.text-cyan-a100 { -fx-text-fill: '#84FFFF'; }
.text-cyan-a200 { -fx-text-fill: '#18FFFF'; }
.text-cyan-a400 { -fx-text-fill: '#00E5FF'; }
.text-cyan-a700 { -fx-text-fill: '#00B8D4'; }
.text-teal-50 { -fx-text-fill: '#E0F2F1'; }
.text-teal-100 { -fx-text-fill: '#B2DFDB'; }
.text-teal-200 { -fx-text-fill: '#80CBC4'; }
.text-teal-300 { -fx-text-fill: '#4DB6AC'; }
.text-teal-400 { -fx-text-fill: '#26A69A'; }
.text-teal-500 { -fx-text-fill: '#009688'; }
.text-teal-600 { -fx-text-fill: '#00897B'; }
.text-teal-700 { -fx-text-fill: '#00796B'; }
.text-teal-800 { -fx-text-fill: '#00695C'; }
.text-teal-900 { -fx-text-fill: '#004D40'; }
.text-teal-a100 { -fx-text-fill: '#A7FFEB'; }
.text-teal-a200 { -fx-text-fill: '#64FFDA'; }
.text-teal-a400 { -fx-text-fill: '#1DE9B6'; }
.text-teal-a700 { -fx-text-fill: '#00BFA5'; }
.text-green-50 { -fx-text-fill: '#E8F5E9'; }
.text-green-100 { -fx-text-fill: '#C8E6C9'; }
.text-green-200 { -fx-text-fill: '#A5D6A7'; }
.text-green-300 { -fx-text-fill: '#81C784'; }
.text-green-400 { -fx-text-fill: '#66BB6A'; }
.text-green-500 { -fx-text-fill: '#4CAF50'; }
.text-green-600 { -fx-text-fill: '#43A047'; }
.text-green-700 { -fx-text-fill: '#388E3C'; }
.text-green-800 { -fx-text-fill: '#2E7D32'; }
.text-green-900 { -fx-text-fill: '#1B5E20'; }
.text-green-a100 { -fx-text-fill: '#B9F6CA'; }
.text-green-a200 { -fx-text-fill: '#69F0AE'; }
.text-green-a400 { -fx-text-fill: '#00E676'; }
.text-green-a700 { -fx-text-fill: '#00C853'; }
.text-light-green-50 { -fx-text-fill: '#F1F8E9'; }
.text-light-green-100 { -fx-text-fill: '#DCEDC8'; }
.text-light-green-200 { -fx-text-fill: '#C5E1A5'; }
.text-light-green-300 { -fx-text-fill: '#AED581'; }
.text-light-green-400 { -fx-text-fill: '#9CCC65'; }
.text-light-green-500 { -fx-text-fill: '#8BC34A'; }
.text-light-green-600 { -fx-text-fill: '#7CB342'; }
.text-light-green-700 { -fx-text-fill: '#689F38'; }
.text-light-green-800 { -fx-text-fill: '#558B2F'; }
.text-light-green-900 { -fx-text-fill: '#33691E'; }
.text-light-green-a100 { -fx-text-fill: '#CCFF90'; }
.text-light-green-a200 { -fx-text-fill: '#B2FF59'; }
.text-light-green-a400 { -fx-text-fill: '#76FF03'; }
.text-light-green-a700 { -fx-text-fill: '#64DD17'; }
.text-lime-50 { -fx-text-fill: '#F9FBE7'; }
.text-lime-100 { -fx-text-fill: '#F0F4C3'; }
.text-lime-200 { -fx-text-fill: '#E6EE9C'; }
.text-lime-300 { -fx-text-fill: '#DCE775'; }
.text-lime-400 { -fx-text-fill: '#D4E157'; }
.text-lime-500 { -fx-text-fill: '#CDDC39'; }
.text-lime-600 { -fx-text-fill: '#C0CA33'; }
.text-lime-700 { -fx-text-fill: '#A4B42B'; }
.text-lime-800 { -fx-text-fill: '#9E9D24'; }
.text-lime-900 { -fx-text-fill: '#827717'; }
.text-lime-a100 { -fx-text-fill: '#F4FF81'; }
.text-lime-a200 { -fx-text-fill: '#EEFF41'; }
.text-lime-a400 { -fx-text-fill: '#C6FF00'; }
.text-lime-a700 { -fx-text-fill: '#AEEA00'; }
.text-yellow-50 { -fx-text-fill: '#FFFDE7'; }
.text-yellow-100 { -fx-text-fill: '#FFF9C4'; }
.text-yellow-200 { -fx-text-fill: '#FFF590'; }
.text-yellow-300 { -fx-text-fill: '#FFF176'; }
.text-yellow-400 { -fx-text-fill: '#FFEE58'; }
.text-yellow-500 { -fx-text-fill: '#FFEB3B'; }
.text-yellow-600 { -fx-text-fill: '#FDD835'; }
.text-yellow-700 { -fx-text-fill: '#FBC02D'; }
.text-yellow-800 { -fx-text-fill: '#F9A825'; }
.text-yellow-900 { -fx-text-fill: '#F57F17'; }
.text-yellow-a100 { -fx-text-fill: '#FFFF82'; }
.text-yellow-a200 { -fx-text-fill: '#FFFF00'; }
.text-yellow-a400 { -fx-text-fill: '#FFEA00'; }
.text-yellow-a700 { -fx-text-fill: '#FFD600'; }
.text-amber-50 { -fx-text-fill: '#FFF8E1'; }
.text-amber-100 { -fx-text-fill: '#FFECB3'; }
.text-amber-200 { -fx-text-fill: '#FFE082'; }
.text-amber-300 { -fx-text-fill: '#FFD54F'; }
.text-amber-400 { -fx-text-fill: '#FFCA28'; }
.text-amber-500 { -fx-text-fill: '#FFC107'; }
.text-amber-600 { -fx-text-fill: '#FFB300'; }
.text-amber-700 { -fx-text-fill: '#FFA000'; }
.text-amber-800 { -fx-text-fill: '#FF8F00'; }
.text-amber-900 { -fx-text-fill: '#FF6F00'; }
.text-amber-a100 { -fx-text-fill: '#FFE57F'; }
.text-amber-a200 { -fx-text-fill: '#FFD740'; }
.text-amber-a400 { -fx-text-fill: '#FFC400'; }
.text-amber-a700 { -fx-text-fill: '#FFAB00'; }
.text-orange-50 { -fx-text-fill: '#FFF3E0'; }
.text-orange-100 { -fx-text-fill: '#FFE0B2'; }
.text-orange-200 { -fx-text-fill: '#FFCC80'; }
.text-orange-300 { -fx-text-fill: '#FFB74D'; }
.text-orange-400 { -fx-text-fill: '#FFA726'; }
.text-orange-500 { -fx-text-fill: '#FF9800'; }
.text-orange-600 { -fx-text-fill: '#FB8C00'; }
.text-orange-700 { -fx-text-fill: '#F57C00'; }
.text-orange-800 { -fx-text-fill: '#EF6C00'; }
.text-orange-900 { -fx-text-fill: '#E65100'; }
.text-orange-a100 { -fx-text-fill: '#FFD180'; }
.text-orange-a200 { -fx-text-fill: '#FFAB40'; }
.text-orange-a400 { -fx-text-fill: '#FF9100'; }
.text-orange-a700 { -fx-text-fill: '#FF6D00'; }
.text-deep-orange-50 { -fx-text-fill: '#FBE9A7'; }
.text-deep-orange-100 { -fx-text-fill: '#FFCCBC'; }
.text-deep-orange-200 { -fx-text-fill: '#FFAB91'; }
.text-deep-orange-300 { -fx-text-fill: '#FF8A65'; }
.text-deep-orange-400 { -fx-text-fill: '#FF7043'; }
.text-deep-orange-500 { -fx-text-fill: '#FF5722'; }
.text-deep-orange-600 { -fx-text-fill: '#F4511E'; }
.text-deep-orange-700 { -fx-text-fill: '#E64A19'; }
.text-deep-orange-800 { -fx-text-fill: '#D84315'; }
.text-deep-orange-900 { -fx-text-fill: '#BF360C'; }
.text-deep-orange-a100 { -fx-text-fill: '#FF9E80'; }
.text-deep-orange-a200 { -fx-text-fill: '#FF6E40'; }
.text-deep-orange-a400 { -fx-text-fill: '#FF3D00'; }
.text-deep-orange-a700 { -fx-text-fill: '#DD2600'; }
.text-brown-50 { -fx-text-fill: '#EFEBE9'; }
.text-brown-100 { -fx-text-fill: '#D7CCC8'; }
.text-brown-200 { -fx-text-fill: '#BCAAA4'; }
.text-brown-300 { -fx-text-fill: '#A1887F'; }
.text-brown-400 { -fx-text-fill: '#8D6E63'; }
.text-brown-500 { -fx-text-fill: '#795548'; }
.text-brown-600 { -fx-text-fill: '#6D4C41'; }
.text-brown-700 { -fx-text-fill: '#5D4037'; }
.text-brown-800 { -fx-text-fill: '#4E342E'; }
.text-brown-900 { -fx-text-fill: '#3E2723'; }
.text-grey-50 { -fx-text-fill: '#FAFAFA'; }
.text-grey-100 { -fx-text-fill: '#F5F5F5'; }
.text-grey-200 { -fx-text-fill: '#EEEEEE'; }
.text-grey-300 { -fx-text-fill: '#E0E0E0'; }
.text-grey-400 { -fx-text-fill: '#BDBDBD'; }
.text-grey-500 { -fx-text-fill: '#9E9E9E'; }
.text-grey-600 { -fx-text-fill: '#757575'; }
.text-grey-700 { -fx-text-fill: '#616161'; }
.text-grey-800 { -fx-text-fill: '#424242'; }
.text-grey-900 { -fx-text-fill: '#212121'; }
.text-black-1000 { -fx-text-fill: '#000000'; }
.text-white-1000 { -fx-text-fill: '#ffffff'; }
.text-blue-grey-50 { -fx-text-fill: '#ECEFF1'; }
.text-blue-grey-100 { -fx-text-fill: '#CFD8DC'; }
.text-blue-grey-200 { -fx-text-fill: '#B0BBC5'; }
.text-blue-grey-300 { -fx-text-fill: '#90A4AE'; }
.text-blue-grey-400 { -fx-text-fill: '#78909C'; }
.text-blue-grey-500 { -fx-text-fill: '#607D8B'; }
.text-blue-grey-600 { -fx-text-fill: '#546E7A'; }
.text-blue-grey-700 { -fx-text-fill: '#455A64'; }
.text-blue-grey-800 { -fx-text-fill: '#37474F'; }
.text-blue-grey-900 { -fx-text-fill: '#263238'; }
