<div class="container p-4">
    <div class="grid py-1 flex align-items-center">
        <div class="col-8">
            <span class="p-float-label">
                <p-dropdown [options]="focusers" [(ngModel)]="focuser" optionLabel="name" (ngModelChange)="focuserChanged()"
                            styleClass="border-0" emptyMessage="No focuser found" />
                <label>Focuser</label>
            </span>
        </div>
        <div class="col-2">
            <p-button *ngIf="connected" [disabled]="!focuser || moving" (onClick)="connect()" icon="mdi mdi-close"
                      styleClass="p-button-danger" />
            <p-button *ngIf="!connected" [disabled]="!focuser || moving" (onClick)="connect()" icon="mdi mdi-connection"
                      styleClass="p-button-info" />
        </div>
        <div class="col-12 pt-0 text-sm text-gray-400 flex align-items-center my-1 gap-1">
            <i class="mdi mdi-information text-blue-600"></i>
            <span style="display: contents">{{ moving ? 'moving' : 'idle' }}</span>
        </div>
    </div>
    <div class="grid">
        <div class="col-6">
            <span class="p-float-label">
                <p-inputNumber [readonly]="true" styleClass="border-0 max-w-full" [(ngModel)]="position" locale="en" />
                <label>Position</label>
            </span>
        </div>
        <div class="col-6">
            <span class="p-float-label">
                <p-inputNumber [readonly]="true" [disabled]="!hasThermometer" styleClass="border-0 max-w-full" [(ngModel)]="temperature"
                               locale="en" />
                <label>Temperature (°C)</label>
            </span>
        </div>
        <div class="col-4">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!canRelativeMove" [min]="0" [max]="maxPosition" [showButtons]="true" styleClass="border-0 max-w-full"
                               [(ngModel)]="stepsRelative" [allowEmpty]="false" locale="en" />
                <label>Relative</label>
            </span>
        </div>
        <div class="col-4">
            <p-button [disabled]="!canRelativeMove || moving" (onClick)="moveIn()" icon="mdi mdi-arrow-left-bold" label="Move In"
                      styleClass="p-button-text w-full" />
        </div>
        <div class="col-4">
            <p-button [disabled]="!canRelativeMove || moving" (onClick)="moveOut()" icon="mdi mdi-arrow-right-bold" label="Move Out"
                      styleClass="p-button-text w-full" />
        </div>
        <div class="col-4">
            <span class="p-float-label">
                <p-inputNumber [disabled]="!canAbsoluteMove" [min]="0" [max]="maxPosition" [showButtons]="true" styleClass="border-0 max-w-full"
                               [(ngModel)]="stepsAbsolute" [allowEmpty]="false" locale="en" />
                <label>Absolute</label>
            </span>
        </div>
        <div class="col-4">
            <p-button [disabled]="!canAbsoluteMove || moving" (onClick)="moveTo()" icon="mdi mdi-arrow-left-right-bold" label="Move To"
                      styleClass="p-button-text w-full" />
        </div>
        <div class="col-4">
            <p-button [disabled]="!canSync || moving" (onClick)="syncTo()" icon="mdi mdi-sync" label="Sync" styleClass="p-button-text p-button-info w-full" />
        </div>
        <div class="col-4">
            <p-button [disabled]="!canRelativeMove || !moving" icon="mdi mdi-stop" label="Abort" styleClass="p-button-text p-button-danger w-full" />
        </div>
    </div>
</div>